<div class="content-block bordered">
    <div class="block-title">3. Карточка задания</div>
    <div class="block-content round-block" ng-repeat="param in $ctrl.exercise.params track by $index">
        <div class="block-line">
            <div class="field-block">
                <label>Введите текст вопроса</label>
                <div class="input-wrap">
                    <text-angular ng-model="param.question"></text-angular>
                </div>
            </div>
        </div>
        <div class="block-line">
            <div class="field-block">
                <div class="input-wrap">
                    <load-file label="Загрузить изображение"
                               url="image/upload"
                               file="param.images">
                    </load-file>
                </div>
            </div>
        </div>
        <div class="block-line">
            <div class="field-block">
                <label>Введите подсказку</label>
                <div class="input-wrap">
                    <text-angular ng-model="param.hint"></text-angular>
                </div>
            </div>
        </div>
        <div class="block-line">
            <div class="field-block">
                <label>Введите проверочные слова</label>
                <div class="input-wrap">
                    <tags-input ng-model="param.possible_answers"
                                placeholder="Введите и нажмите Enter. Например: right, wrong"
                                replace-spaces-with-dashes="false">
                    </tags-input>
                </div>
            </div>
        </div>
        <div class="block-line">
            <div class="field-block">
                <load-file label="загрузить аудио подсказку"
                           url="audio/upload"
                           callback="$ctrl.exercise.onAudioParamLoaded(param, 'audio_hint', response)" file="param.audio_hint">
                </load-file>
            </div>
        </div>
        <div class="remove-round">
            <a ng-click="$ctrl.exercise.deleteParam(param)" ng-if="!$first" confirm><span class="icon icon-trash"></span></a>
        </div>
    </div>
</div>
<div class="add-round">
    <button type="button" class="btn btn-pr" ng-click="$ctrl.exercise.addParam()" >Добавить новый раунд</button>
</div>