please-use-chrome {
  font-weight: bold;
  .please-use-chrome {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    background: #b5e6de;
    background-color: rgba(178, 234, 224, 0.75);
    div {
      text-align: center;
    }
    .close {
      margin-left: 20px;
    }
  }
}