<div class="please-use-chrome" ng-init="show=true" ng-show="show" ng-if="!$ctrl.bowser.chrome">
    <div>
        Для того, чтобы полноценно работать с платформой ALIBRA ENGLISH CAMPUS, рекомендуем пользоваться браузером
        Chrome.<br>
        <a href="https://www.google.ru/chrome/browser/desktop/">Скачать.</a>
    </div>
    <div class="close glyphicon glyphicon-remove" ng-click="show=false"></div>
</div>