dashboard {
  &.site-wrapper {
    background: url(/assets/images/bg-dash.jpg) no-repeat center center;
    background-size: cover;
  }
  .site-footer {
    div {
      position: relative;
    }
  }
  .banner {
    @extend .flex-grid;
    @extend .site-container;
    background-color: white;
    border-radius: 2px;
    padding: 30px;
    position: relative;
    margin: 20px 0;
    .close {
      position: absolute;
      top: 20px;
      right: 20px;
    }
    .item {
      flex: 1;
      max-width: 50%;
      padding: 0 15px;
      @extend .flex-grid;
      @extend .flex-grid.vcenter;
      flex-wrap: wrap;
      .item-icon {
        width: 85px;
        height: 85px;
      }
      .item-inner {
        flex: 1;
        padding-left: 40px;
      }
      .item-title {
        color: #515254;
        font-size: 14px;
        line-height: 1em;
        font-weight: 700;
      }
      .item-more {
        margin: 5px 0 0 0;
        font-size: 14px;
        a {
          color: #0083cb;
        }
      }
    }
  }
  .dashboard-content {
    @extend .site-container;
    background-color: #fff;
    border-radius: 2px;
    padding: 30px 25px;
  }
  .dashboard-content {
    .user-progressbar {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border-bottom: 1px solid #d9dcdd;
      margin: 0 -25px 0;
      padding: 0 25px 30px;
      .progress-title {
        flex: 0 0 130px;
        color: #4f4f51;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 1em;
      }
      .progress-list {
        margin-left: 20px;
      }
      ul {
        @extend .panel-list;
        li {
          margin-right: 15px;
          position: relative;
          display: inline-block;
          border-radius: 50%;
          &:not(:last-child) {
            &:after {
              content: '';
              position: absolute;
              left: 100%;
              width: 15px;
              border-bottom: 1px solid #cfd9d9;
              top: 24px;
            }
          }
          .round-progress-wrapper {
            margin-bottom: -50px;
          }
          &.current {
            background-color: #cfd9d9;
            a {
              color: #fff;
              &:before {
                content: '';
                background-color: transparent;
                position: absolute;
                width: 44px;
                height: 44px;
                top: 3px;
                left: 3px;
                border-radius: 50%;
                border: 2px solid #fff;
              }
            }
          }
          &.in-progress {
            &.current {
              background-color: $info-color;
            }
          }
          &.done {
            &.current {
              background-color: $pr-color;
            }
          }
          a {
            text-decoration: none;
            color: #a0b2b2;
            font-size: 17px;
            display: block;
            text-align: center;
            line-height: 30px;
            width: 50px;
            height: 50px;
            font-weight: 500;
          }
        }
      }
    }
    .unit-progressbar {
      margin: 10px 0 50px;
      border-bottom: 1px solid #d9dcdd;
      .progress-list {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
      }
      ul {
        @extend .panel-list;
        margin-right: 15px;
        li {
          display: inline-block;
          vertical-align: top;
          margin-right: 15px;
          margin-left: -4px;
          margin-bottom: 10px;
          > div {
            a {
              text-align: center;
            }
            + div {
              margin-top: 20px;
            }
          }
        }
        li, div {
          &.done {
            a {
              //color: $pr-color;
              //border-color: $pr-color;
              .icon {
                &:after {
                  //background-color: rgba(159, 199, 78, 0.8);
                  background-image: url(/assets/images/icon-check.svg);
                  background-position: center center;
                  background-size: 13px 10px;
                  background-repeat: no-repeat;
                  border: 2px solid #9fc74e;
                }
              }
            }
          }
          &.in-progress {
            a {
              //color: $info-color;
              //border-color: $info-color;
              color: #a0b2b2;
              &.homework {
                font-size: 12px;
              }
              .icon {
                &:after {
                  background-color: rgba(232, 167, 45, 0.8);
                  border: 2px solid #e8a72d;
                }
              }
            }
          }
          &.current {
            a {
              &:after {
                content: '';
                border-width: 0 0 3px 0;
                border-style: solid;
                //border-color: inherit;
                border-color: $info-color;
                position: absolute;
                left: 0;
                right: 0;
                bottom: -13px;
              }
            }
          }
          &.disabled {
            opacity: 1;
            a {
              color: #bcc6c6;
              border-color: #cfd9d9;
              .icon {
                &:after {
                  background-color: rgba(207, 217, 217, 0.8);
                  border: 2px solid #cfd9d9;
                }
              }
            }
          }
          a {
            min-width: 48px;
            min-height: 48px;
            display: block;
            text-transform: uppercase;
            text-decoration: none;
            color: $color;
            font-size: 14px;
            font-weight: 700;
            padding: 13px 20px;
            border: 2px solid #cfd9d9;
            border-radius: 30px;
            position: relative;
            .icon {
              position: absolute;
              top: 50%;
              left: 50%;
              &.icon-hm {
                margin: -11px 0 0 -9px;
                &:after {
                  top: -13px;
                  left: -14px;
                }
              }
              &.icon-test {
                margin: -12px 0 0 -16px;
                &:after {
                  left: -16px;
                  top: -12px;
                }
              }
              &:after {
                content: '';
                position: absolute;
                width: 48px;
                height: 48px;
                border-radius: 50%;
              }
            }
          }
        }
      }
    }
    .dash-cards {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -5px;
      .card-item {
        flex: 0 0 33.33%;
        padding: 5px;
        &.card-item-test {
          .card-img {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            height: 100%;
            background-color: $info-color;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            img {
              position: static;
            }
          }
          .card-header {
            left: 0;
            top: 0;
          }
          .card-test-title {
            //box-shadow: 0 0 100px 71px rgba(0, 0, 0, 0.15);
            //background: rgba(0, 0, 0, 0.15);
            //-webkit-transition: background 250ms ease-out;
            //transition: background 250ms ease-out;
            font-size: 24px;
            font-weight: 700;
          }
        }
        &.item-half {
          flex: 0 0 50%;
        }
        &.item-full {
          flex: 0 0 100%;
          .card-item-inner {
            height: 500px;
            .card-header {
              position: relative;
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              font-size: 16px;
              color: #fff;
              font-weight: 500;
              .btn {
                font-weight: 500;
                cursor: pointer;
              }
              div {
                margin-bottom: 20px;
                text-align: center;
                &.test-title {
                  font-size: 30px;
                  font-weight: 300;
                }
              }
            }
          }
        }
        .card-item-inner {
          height: 250px;
          border-radius: 2px;
          overflow: hidden;
          position: relative;
        }
      }
    }
  }
  .card-item {
    .btn-stroked {
      color: #fff;
      border-color: #fff;
      border-radius: 35px;
      border-width: 2px;
      font-size: 14px;
      padding: 10px 30px;
      font-weight: 700;
      &:hover {
        background-color: #fff;
        color: $color;
      }
    }
    &:hover {
      .card-img {
        img {
          //opacity: .8;
        }
      }
    }
    a {
      &:not(.btn) {
        height: 100%;
        display: block;
        position: relative;
        width: 100%;
      }
      &.btn {

      }
    }
    .card-header {
      color: #fff;
      font-size: 16px;
      position: absolute;
      bottom: 25px;
      left: 25px;
      font-weight: 500;
      //animation-delay: 2s;
      text-transform: uppercase;
      .hw-title {
        font-size: 16px;
        font-weight: 700;
      }
    }
    &:not(.card-item-test) {
      .card-img {
        background-color: #445a91;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        border-radius: 2px;
        img {
          //opacity: .5;
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          min-width: 100%;
          min-height: 100%;
          max-width: none;
          width: auto;
          height: auto;
          transform: translate(-50%, -50%);
        }
      }
      .card-header {
        .hw-title {
          font-size: 20px;
        }
      }
      .btn {
        position: absolute;
        bottom: 25px;
        right: 25px;
        z-index: 1;
        font-size: 20px;
        border-width: 3px;
      }
    }
    .card-title {
      position: absolute;
      left: 25px;
      top: 25px;
      color: #fff;
      font-size: 24px;
      line-height: 1em;
      text-transform: uppercase;
      font-weight: 700;
    }
    .card-progress {
      position: absolute;
      left: 25px;
      //bottom: 60px;
      bottom: 80px;
      width: 50px;
      height: 50px;
      //animation-delay: 1.5s;
      &.lg {
        width: 90px;
        height: 90px;
        .progress-text {
          line-height: 90px;
          font-size: 30px;
        }
      }
      .round-progress-wrapper {
        width: 100%;
        height: 100%;
      }
      .icon {
        position: absolute;
        top: 18px;
        left: 17px;
      }
      .progress-text {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        text-shadow: 0.5px 0.9px 2px rgba(0, 0, 0, 0.1);
        color: #fff;
        font-size: 14px;
        text-transform: uppercase;
        line-height: 50px;
        text-align: center;
      }
    }
  }
}

.ie {
  height: auto;
  .base-wrap {
    height: 100%;
    overflow: auto;
  }
  dashboard {
    height: auto;
    .dash-cards {
      margin: 0 -5px;
      display: block;
      .card-item {
        display: inline-block;
        width: 33.33%;
        .card-item-inner {
          height: 250px;
          border-radius: 2px;
          overflow: hidden;
          position: relative;
        }
      }
    }
  }
}
.greeting-modal {
  &.modal {
    .modal-dialog {
      .modal-content {
        padding: 20px;
        width: 500px;
        height: 500px;
        border-radius: 4px;
        border: 2px solid $border-color_new;
        display: flex;
        flex-direction: column;
        .modal-header-logo {
          margin-bottom: 80px;
        }
        .modal-content-block {
          flex: 1;
          text-align: center;
          .title {
            text-align: center;
            color: $color;
            font-weight: 700;
            font-size: 30px;
            text-transform: uppercase;
            margin-bottom: 20px;
          }
          .modal-action {
            margin-top: 100px;
          }
        }
      }
    }
  }
}
.greeting-backdrop {
  background-color: transparent;
}
home-work-parts, group-task-parts, test-parts {
  display: block;
}
@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  animation-name: zoomIn;
}
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}


@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}