<div class="cards-block">
    <div class="elements">
        <span class="item" ng-class="{'like-input': item.skip, 'text-danger': item.hasError}" ng-repeat="item in $ctrl.activeRound.elements" ng-init="item.answer = item.skip ? [] : [item]">
            <span ng-if="!item.skip" ng-bind-html="item.text | adoptText"></span>
            <span ng-if="item.skip && $ctrl.showAnswers" class="place-for-answer" ng-bind-html="item.text | adoptText"></span>
            <span ng-if="item.skip && !$ctrl.showAnswers">
                <ul dnd-list="item.answer"
                    ng-mouseenter="item.hasError = false;"
                    dnd-disable-if="item.answer.length"
                    dnd-horizontal-list="true"
                    class="place-for-answer">
                    <li ng-repeat="i in item.answer track by $index"
                        dnd-draggable="i"
                        dnd-moved="item.answer.splice($index, 1);"
                        dnd-effect-allowed="move"
                        ng-bind-html="i.text | adoptText">
                    </li>
                </ul>
            </span>
        </span>
    </div>
    <div class="word-bank">
        <ul dnd-list="$ctrl.possible_answers" class="place-for-answer">
            <li ng-repeat="pa in $ctrl.possible_answers track by $index"
                dnd-draggable="pa"
                dnd-moved="$ctrl.possible_answers.splice($index, 1);"
                dnd-effect-allowed="move"
                ng-bind-html="pa.text | adoptText">
            </li>
        </ul>
    </div>
</div>

<check-exercise
        exercise="$ctrl.exercise"
        round="$ctrl.activeRound"
        check-answer="$ctrl.checkAnswer()"
        set-answer-visibility="$ctrl.setAnswerVisibility(isVisible)"
        on-round-complete="$ctrl.onRoundComplete({result, progress})">
</check-exercise>
