drag-and-drop-exercise {
  .text-danger {
    color: $brand-danger !important;
  }

  .cards-block {
    border: 2px solid #ccc;
    padding: 35px 50px;
    border-radius: 2px;
  }
  .elements {
    display: block;
    text-align: left;
    width: 100%;
    .item {
      font-size: 18px;
      color: #353535;
      font-weight: 500;
      display: inline;
      vertical-align: middle;
      line-height: 45px;
      &.like-input {
        display: inline-flex;
        background-color: white;
        border: 2px dashed $border-color_new;
        border-radius: 2px;
        margin: 5px 15px 5px 20px;
        min-width: 200px;
        height: 40px;
        justify-content: center;
        align-items: center;
        line-height: 1.1em;
        &:focus {
          outline: none;
        }
      }
      ul {
        list-style: none;
        li {
          padding: 0 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          line-height: 15px;
          min-height: 40px;
          &.dndPlaceholder {
            background-color: lighten($btn-color, 30%);
            height: 40px;
          }
        }
      }
    }
  }
  .word-bank {
    margin-top: 30px;
    ul {
      list-style: none;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      padding: 0 30px;
      justify-content: center;
      li {
        margin-right: 5px;
        margin-bottom: 5px;
        background-color: $btn-color;
        border-radius: 2px;
        text-align: center;
        padding: 0 30px;
        color: #fff;
        line-height: 15px;
        font-size: 16px;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
        &.dndPlaceholder {
          background-color: lighten($btn-color, 30%);
          height: 40px;
        }
        &.dndDraggingSource {
          display: none;
        }
      }
    }
  }
  .place-for-answer, .place-for-answer > li {
    min-width: 60px;
    min-height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
}