cabinet-progress {
  .pagination {
    width: 100%;
    margin-top: 50px;
    text-align: center;
  }
  .content-title {
    &.sided {
      margin-bottom: 0;
      border-bottom: 0;
    }
    .left-side {
      font-size: 30px;
      color: $pr-color;
    }
    .right-side {
      .btn {
        font-size: 12px;
        text-transform: uppercase;
        color: $color;
        background-color: transparent;
        border-color: $pr-color;
        padding: 6px 30px;
        &:hover {
          background-color: $pr-color;
          color: #fff;
        }
      }
    }
  }
  .account-fast {
    display: flex;
    justify-content: space-between;
    margin: 0 -10px 35px;
    font-weight: 500;
    .fast-item {
      flex: 1;
      height: 125px;
      border-radius: 2px;
      margin: 0 10px;
      background-color: #d9ddde;
      transition: all linear .2s;
      &:hover, &.active {
        background-color: #4a83ca;
        a {
          color: #fff;
        }
      }
      a {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        text-decoration: none;
        font-size: 20px;
        color: #58575a;
        .icon {
          margin: 0 40px 0 60px;
        }
      }
    }
  }
  .account-progress {
    margin-bottom: 40px;
    .progress-title {
      font-size: 14px;
      font-weight: 500;
      line-height: 1em;
      margin-bottom: 15px;
    }
    .progress {
      height: 11px;
      border-radius: 10px;
      box-shadow: none;
      .progress-bar {
        box-shadow: none;
        border-radius: 10px;
        background-color: $pr-color;
      }
    }
  }
  .account-table {
    table {
      width: 100%;
      font-size: 14px;
      table-layout: fixed;
      th, td {
        border-bottom: 1px solid $border-color;
        padding: 20px;
      }
      th {
        font-weight: 700;
      }
      td {
        font-weight: 300;
      }
    }
    .action-block {
      text-align: right;
      width: 200px;
    }
  }
}