<div class="dash-cards">
    <div class="card-item item-full card-item-test">
        <div class="card-item-inner">
            <div class="card-img"><img src="/assets/images/faq-fast-2.png" alt=""></div>
            <div class="card-header">
                <div class="card-test-title">
                    <div class="test-title">
                        <span ng-bind="$ctrl.unitName"></span> Test
                    </div>
                    <div>Good Luck</div>
                </div>
                <div>
                    <a ui-sref="exercise({unitId: $ctrl.unit.id, exerciseType: $ctrl.exerciseType})" class="btn btn-pr">Start</a>
                </div>
            </div>
        </div>
    </div>
</div>