<header></header>

<div class="site-middle">
    <div class="content-navi">
        <content-navi></content-navi>
    </div>
    <div class="content-container">
        <div class="content-title">
            Revision Calendar
        </div>

        <div class="groups-list">
            <ul>
                <group-progress
                    ng-repeat="group in $ctrl.groups|filter:{total_count:0}:$ctrl.filterGroups"
                    group="group"
                    content-type="$ctrl.contentType">
                </group-progress>
            </ul>
        </div>

        <div class="repetition-block" ng-if="$ctrl.isLoaded && $ctrl.groups.length == 0">
            <div class="repetition-block-content">
                <div ng-if="!$ctrl.isFullyGroup">
                    <div class="empty-repetition">Вы пока не изучили ни одной темы</div>
                </div>
                <div ng-if="$ctrl.isFullyGroup">
                    <div class="empty-repetition">Время повторения еще не наступило, изучите другие темы</div>
                </div>
                <div>
                    <a href="#" ui-sref="vocabulary">Приступить к изучению</a>
                </div>
            </div>
        </div>
    </div>
</div>
<footer></footer>