faq {
  .content-title {
    font-size: 30px;
    font-weight: 500;
    color: $pr-color;
    margin-bottom: 30px;
  }
  .faq-info {
    margin-top: 45px;
    font-weight: 500;
    font-size: 14px;
    a {
      color: $btn-color;
    }
  }
  .faq-collapse {
    font-weight: 500;
    margin-top: 45px;
    .item {
      +.item {
        margin-top: 40px;
      }
      .item-header {
        font-size: 20px;
        line-height: 1em;
        a {
          color: $color;
          text-decoration: none;
          position: relative;
          padding-right: 20px;
          &:hover {
            color: $pr-color;
          }
          &:after {
            content: '';
            position: absolute;
            right: 0;
            top: 10px;
            width: 11px;
            height: 6px;
            @extend .icon;
            @extend .icon.icon-arrow_d_d;
            transition: all linear .2s;
          }
        }
      }
      &.item-open {
        .item-header {
          a {
            &:after {
              transform: rotate(180deg);
            }
          }
        }
        .item-inner {
          height: auto;
          opacity: 1;
          transition: all .5s ease;
        }
      }
      .item-inner {
        height: 0;
        opacity: 0;
        overflow: hidden;
      }
      .item-content {
        padding: 30px 0 20px;
        font-size: 13px;
        p {
          &:not(:last-child) {
            margin-bottom: 20px;
            line-height: 1.4em;
          }
        }
        ol, ul {
          margin: 0 0 0 20px;
          li {
            margin: 5px 0;
          }
        }
        ul {
          list-style: disc;
        }
      }
    }
  }
  .faq-fast-block {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px 25px;
    .fast-header {
      flex: 0 0 100%;
      padding: 0 10px;
      font-size: 18px;
      font-weight: 500;
      line-height: 1em;
      margin-bottom: 25px;
    }
    .fast-item {
      position: relative;
      overflow: hidden;
      border-radius: 2px;
      height: 235px;
      flex-basis: 300px;
      margin: 0 10px;

      &.lg {
        flex: 1;
      }
      &.bg {
        &.blue-bg {
          background-color: $btn-color;
        }
        &.green-bg {
          background-color: $pr-color;
        }
        &.orange-bg {
          background-color: $info-color;
        }
        .item-img {
          display: flex;
          align-items: flex-end;
          justify-content: flex-end;
          img {

          }
        }
      }
      &:not(.bg) {
        .item-img {
          a {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            &:after {
              content: '';
              position: absolute;
              height: 70%;
              left: 0;
              right: 0;
              bottom: 0;
              background-image: linear-gradient(to bottom, transparent 0%, #000 100%);
              opacity: .7;
            }
          }
          img {
            display: block;
            max-height: none;
            position: absolute;
            top: 50%;
            left: 50%;
            min-width: 100%;
            min-height: 100%;
            max-width: none;
            width: auto;
            height: auto;
            transform: translate(-50%, -50%);
          }
        }
      }
      .item-img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        a {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: flex-end;
          justify-content: flex-end;
        }
        img {

        }
      }
      .item-title {
        position: absolute;
        bottom: 25px;
        left: 15px;
        right: 15px;
        font-size: 22px;
        font-weight: 500;
        line-height: 1em;
        a {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}
videogular, vg-media, video {
  max-width: 100%;
  display: block;
}
.video-modal {
  .modal-dialog {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto;
    height: 100%;
    width: 900px;
    .modal-content {
      display: flex;
      justify-content: center;
        .video-dialog{
          text-align: center;
          a {
            margin-top: 20px;
          }
        }
    }
  }
}