<div class="site-wrapper base" id="wrapper">
    <header></header>

    <section class="site-middle ui-view-wrapper">

        <div class="content-navi">
            <content-navi></content-navi>
            <div class="breadcrumbs">
                <span ng-if="$ctrl.unitId">
                    /
                    <a ui-sref="dashboard({unitIndex: $ctrl.unitIndex})">
                        unit
                        <span ng-if="$ctrl.course.isPhonetic && $ctrl.unitIndex == 0">
                            ph
                        </span>
                        <span ng-if="$ctrl.course.isPhonetic && $ctrl.unitIndex != 0">
                            {{$ctrl.unitIndex}}
                        </span>
                        <span ng-if="!$ctrl.course.isPhonetic">
                            {{$ctrl.unitIndex + 1}}
                        </span>
                    </a>
                </span>
                <span ng-if="$ctrl.isHomeWork()">
                    /
                    <!--<a ui-sref="exercise({lessonId: $ctrl.lessonId, exerciseType: $ctrl.exerciseType})">-->
                        lesson
                        {{$ctrl.lessonIndex + 1}}
                        home work
                    <!--</a>-->
                </span>
                <span ng-if="$ctrl.isTest()">
                    /
                    test exercises
                </span>
            </div>
        </div>
        <div class="content-container">
            <div class="content-body" ng-if="!$ctrl.exercise.user_exercise.completed">
                <div class="content-title sided">

                    <div class="left-side" ng-if="$ctrl.exerciseInited">
                        <div ng-if="$ctrl.exercise.task_audio.full_path" class="audio-task">
                            <audio-player-min src="$ctrl.exercise.task_audio.full_path"
                                              ng-click="$ctrl.viewParams.showTaskBtn = true">
                            </audio-player-min>
                            <hint name="start_exercise"></hint>
                        </div>

                        <span class="btn-name"
                              ng-if="$ctrl.viewParams.showTaskBtn && $ctrl.viewParams.showTask !== true"
                              ng-click="$ctrl.viewParams.showTask = true;">
                            Task
                        </span>
                        <div ng-if="$ctrl.viewParams.showTask" ng-init="task = $ctrl.exercise.task_en" class="task-text" >
                            <div ng-if="$ctrl.viewParams.showTask" ng-bind-html="task"></div>
                            <div>
                                <a href="#" class="translate-btn" ng-click="task = task == $ctrl.exercise.task_en ? $ctrl.exercise.task_ru : $ctrl.exercise.task_en">
                                    <span class="icon icon-translate"></span> translate
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="right-side">
                        <a ng-if="$ctrl.exercise.grammar.id" href="#" ng-click="$ctrl.showGrammar($ctrl.exercise.grammar)" class="icon-with-text">
                            <span class="icon icon-grammar"></span><span class="icon-text">Grammar reference</span>
                        </a>
                        <a ng-if="$ctrl.words[0]" href="#" ng-click="$ctrl.showDictionary($ctrl.words, $ctrl.exercise.dictionary)" class="icon-with-text">
                            <span class="icon icon-dictionary"></span><span class="icon-text">Vocabulary reference</span>
                        </a>
                    </div>
                </div>
                <div class="card-inner-content">
                    <div class="card-arrows" ng-if="$ctrl.exercise.params.length && $ctrl.viewParams.showRoundNavigation">
                        <div>
                            <a ng-click="($ctrl.exercise.params[$ctrl.currentRound - 1].result === null) ? $ctrl.previousRound() : null"
                               class="prev-card"
                               ng-class="{'done': ($ctrl.exercise.params[$ctrl.currentRound - 1].result !== null)}"
                               ng-hide="$ctrl.currentRound <= 0">
                                <span class="icon icon-arrow_l"></span>
                            </a>
                        </div>
                        <div>
                            <a ng-click="($ctrl.exercise.params[$ctrl.currentRound + 1].result === null) ? $ctrl.nextRound() : null"
                               class="next-card"
                               ng-class="{'done': ($ctrl.exercise.params[$ctrl.currentRound + 1].result !== null)}"
                               ng-hide="$ctrl.currentRound >= $ctrl.exercise.getCountRounds()-1">
                                <span class="icon icon-arrow_r"></span>
                            </a>
                        </div>
                    </div>
                    <div class="round-info" ng-if="$ctrl.exercise.params.length > 1">Round {{$ctrl.currentRound + 1}} of
                        {{$ctrl.exercise.params.length}}
                    </div>
                    <div id="exercise" class="card-content" ng-class="{'exercise_animate': $ctrl.exerciseAnimate}"></div>
                </div>
            </div>
            <div class="exercise-completed" ng-if="$ctrl.exercise.user_exercise.completed">
                <div class="edjic">
                    <img ng-if="$ctrl.exercise.user_exercise.completed.percent <= 40" src="/assets/images/edjic-1.jpg" alt=""> <!-- <40% -->
                    <img ng-if="$ctrl.exercise.user_exercise.completed.percent > 40 && $ctrl.exercise.user_exercise.completed.percent < 70" src="/assets/images/edjic-2.jpg" alt=""> <!-- 40 - 70 % -->
                    <img ng-if="$ctrl.exercise.user_exercise.completed.percent >= 70" src="/assets/images/edjic-3.jpg" alt=""> <!-- > 70% -->
                </div>
                <h2>Exercise completed!</h2>
                <h3>{{$ctrl.exercise.user_exercise.completed.percent | number:0}} %</h3>
                <div>
                    <a href="#" class="btn" ng-click="$ctrl.tryAgain()">Redo</a>
                    <a href="#" class="btn btn-pr" ng-if="$ctrl.exerciseIndex < $ctrl.exercises.length" ng-click="$ctrl.goToExercise($ctrl.exerciseIndex)">Next exercise</a>
                </div>

                <div ng-if="$ctrl.exerciseIndex >= $ctrl.exercises.length" class="last-exersise-text">
                    <p>Это было последнее упражнение в данном блоке.</p>
                    <a href="#" class="btn btn-pr" ui-sref="dashboard">Back to Dashboard</a>
                </div>
            </div>

            <div class="pagination">
                <ul uib-pagination ng-if="$ctrl.exercises.length"
                    total-items="$ctrl.exercises.length"
                    ng-model="$ctrl.exerciseIndex"
                    items-per-page="1"
                    max-size="7"
                    template-url="pagination.html"
                    ng-change="$ctrl.goToExercise($ctrl.exerciseIndex - 1)">
                </ul>

                <script type="text/ng-template" id="pagination.html">
                    <li ng-if="::boundaryLinks" ng-class="{disabled: noPrevious()||ngDisabled}" class="pagination-first"><a href ng-click="selectPage(1, $event)" ng-disabled="noPrevious()||ngDisabled" uib-tabindex-toggle>{{::getText('first')}}</a></li>
                    <li ng-if="::directionLinks" ng-class="{disabled: noPrevious()||ngDisabled}" class="pagination-prev"><a href ng-click="selectPage(page - 1, $event)" ng-disabled="noPrevious()||ngDisabled" uib-tabindex-toggle>{{::getText('previous')}}</a></li>
                    <li ng-repeat="page in pages track by $index" ng-attr-id="exercise_{{page.text}}" ng-class="{active: page.active,disabled: ngDisabled&&!page.active}" class="pagination-page"><a href ng-click="selectPage(page.number, $event)" ng-disabled="ngDisabled&&!page.active" uib-tabindex-toggle>{{page.text}}</a></li>
                    <li ng-if="::directionLinks" ng-class="{disabled: noNext()||ngDisabled}" class="pagination-next"><a href ng-click="selectPage(page + 1, $event)" ng-disabled="noNext()||ngDisabled" uib-tabindex-toggle>{{::getText('next')}}</a></li>
                    <li ng-if="::boundaryLinks" ng-class="{disabled: noNext()||ngDisabled}" class="pagination-last"><a href ng-click="selectPage(totalPages, $event)" ng-disabled="noNext()||ngDisabled" uib-tabindex-toggle>{{::getText('last')}}</a></li>
                </script>
            </div>
        </div>
    </section>

    <footer></footer>
</div>