base-exercise {
  ///////// dev
  .editor {
    .pagination {
      margin-top: 35px;
    }
  }
  .ui-select-container {
    .selectize-input {
      border: 2px solid $border-color_new;
      [type="search"] {
        height: 51px;
      }
    }
  }
  // content grid
  .content-container {
    .card-inner-content {
      position: relative;
      min-height: 100px;
      flex: 1;
      padding: 0 80px;
      .card-arrows {
        left: 20px;
        right: 20px;
        position: absolute;
        top: 50%;
        margin-top: -27px;
      }
      .card-content {
        position: relative;
        z-index: 1;
      }
      .round-info {
        color: $color;
        font-size: 24px;
        margin-bottom: 30px;
        text-align: center;
        font-weight: 500;
      }
    }
    .pagination {
      margin: 40px 0 0;
      @extend .flex-grid;
      @extend .flex-grid.vcenter;
      @extend .flex-grid.hcenter;
    }
  }


  .cards-block {
    position: relative;
    padding: 0 50px;
    min-height: 55px;
    .cards-navi {
      border-bottom: 1px solid $border-color;
      ul {
        @extend .panel-list;
        display: flex;
        justify-content: space-between;
        li {
          flex: 1;
          text-align: center;
          + li {
            border-left: 1px solid $border-color;
          }
          &.active {
            background-color: #eef6fa;
            a {
              color: $btn-color;
            }
          }
          a {
            height: 70px;
            line-height: 70px;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 500;
            direction: block;
            text-align: center;
            color: $color;
          }
        }
      }
    }
    .card-task {
      margin: 0 -1px 35px;
      img {
        display: block;
      }
    }
    .card-action {
      margin: 0 40px 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .btn {
        + .btn {
          margin-left: 10px;
        }
      }
    }
    .card-help {
      margin: 0 40px 30px;
      text-align: center;
      .line {
        + .line {
          margin-top: 30px;
        }
      }
      .icon {
        margin-left: 10px;
      }
      .translation-line {
        font-size: 28px;
        font-weight: 700;
        text-transform: uppercase;
        .transcription {
          text-transform: none;
        }
        .translation {
          font-size: 18px;
        }
      }
      .help-line {
        font-size: 14px;
        font-weight: 500;
      }
    }
    .card-result {
      margin-top: 30px;
      height: 50px;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .transcription {
    font-family: Arial, sans-serif;
    text-transform: none;
  }
  // round arrows
  .card-arrows {
    display: flex;
    justify-content: space-between;
    a {
      text-decoration: none;
      &.done{
        opacity: .5;
      }
      &.prev-card {

      }
      &.next-card {
        .icon {
          transform: rotate(180deg);
        }
      }
    }
    .icon {
      background-image: url(/assets/images/icon-arrow_l_b.svg);
      width: 29px;
      height: 55px;
    }
  }

  .translate-icon-block {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: $sc-color;
    text-transform: uppercase;
    margin-bottom: 30px;
    .icon {
      margin-bottom: 10px;
    }
  }

  .cards-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
    line-height: 1em;
    .card-result {
      line-height: 1em;
      color: #353535;
      font-size: 18px;
      text-transform: uppercase;
      margin: 25px 0 20px;
      font-weight: 700;
      .fail {
        color: $dang-color;
      }
      .success {
        color: $pr-color;
      }
    }
    .hint {
      font-weight: 500;
      text-align: center;
      margin-top: 30px;
      a {
        color: $color;
        font-size: 14px;
        text-decoration: none;
        border-bottom: 1px dashed $color;
        &:hover {
          border-bottom-color: transparent;
        }
      }
      audio-player {
        margin-left: auto;
        margin-right: auto;
      }
      .glyphicon {

        font-size: 30px;
      }
    }
    audio-player {
      display: block;
      width: 400px;
      margin-top: 40px;
    }
    .text-hint {
      font-size: 16px;
      text-align: center;
      margin: 20px 0;
    }
  }

  .card-wrap {
    border: 2px solid $border-color_new;
    border-radius: 2px;
    width: 780px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 55px;
    padding: 0 50px 40px;
    .card-info {
      width: 100%;
    }
    .card-img {

    }
  }

  .card-answer {
    margin-top: 15px;
    border: 2px solid $border-color_new;
    border-radius: 2px;
    padding: 30px 50px 40px;
    width: 780px;
    margin-bottom: 20px;
    .title {
      color: #353535;
      font-size: 18px;
      line-height: 1em;
      text-transform: uppercase;
      margin-bottom: 40px;
      font-weight: 700;
      text-align: center;
    }
    .answers-list {
      margin-bottom: 40px;
      ul {
        @extend .panel-list;
        text-align: center;
        li {
          display: inline-block;
          margin: 0 5px 5px 0;
          &.active {
            a {
              border-color: $pr-color;
              background-color: $pr-color;
              color: #fff;

            }
          }
          a {
            display: block;
            background-color: white;
            border: 2px solid $border-color_new;
            border-radius: 2px;
            color: #353535;
            font-size: 15px;
            text-decoration: none;
            padding: 8px 22px;
            &:hover {
              border-color: $pr-color;
            }
          }
          span {
            display: block;
            background-color: white;
            border: 2px solid $border-color_new;
            border-radius: 2px;
            color: #353535;
            font-size: 15px;
            text-decoration: none;
            padding: 8px 22px;
          }
        }
      }
    }
  }
  .card-content {
    textarea, .editor {
      border: 2px solid $border-color_new;
    }
    .editor {
      &[contenteditable=true]:empty:before{
        content: attr(placeholder);
        display: block; /* For Firefox */
        color: $sc-color;
      }
    }
    > * {
      &:first-child {
        position: relative;
        z-index: 1;
        display: block;
      }
    }
  }
  .round_animate {
    animation: fadeInDown .5s linear both;
  }
  .exercise_animate {
    animation: fadeInUp .5s linear both;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.exercise-completed {
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h2 {
    color: $pr-color;
    font-size: 18px;
    margin-bottom: 20px;
  }
  h3 {
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 30px;
  }
  .btn {
    + .btn {
      margin-left: 10px;
    }
  }
  .last-exersise-text {
    margin-top: 30px;
    p {
      margin-bottom: 20px;
    }
  }
}
.edjic {
  margin-bottom: 30px;
  max-width: 300px;
  max-height: 200px;
  img {}
}
.audio-task, voice-recorder {
  position: relative;
  hint {
    > div {
      position: absolute;
      border-radius: 20px;
      background-color: lighten($pr-color, 10%);
      padding: 20px 25px;
      left: 100%;
      width: 220px;
      height: 110px;
      display: flex;
      align-items: center;
      top: 50%;
      margin: -55px 0 0 0;
      font-weight: 500;
      color: #fff;
      box-shadow: 0 0 25px rgba(0,0,0,.5);
      transition: all ease .2s;
      &:before {
        content: '';
        width: 30px;
        height: 30px;
        background-image: url(/assets/images/tooltip-corner.svg);
        position: absolute;
        left: -30px;
      }
      a {
        text-decoration: underline;
        color: #fff;
        font-weight: 300;
        &:hover {
          text-decoration: none;
          color: #fff;
        }
      }
      .text-center {
        margin-top: 10px;
      }
    }
  }
  &.audio-task {
    hint {
      font-size: 12px;
      > div {
        border-radius: 15px;
        width: 130px;
        height: 66px;
        margin-top: -33px;
        margin-left: 10px;
        .text-center {
          margin-top: 1px;
          a {
            font-size: 12px;
          }
        }
      }
    }
  }
}
.sweet-alert {
  .result-msg-block {
    text-align: center;
    .result-msg {
      display: inline-block;
    }
  }
  .result-line {
    text-align: left;
    margin: 15px 0;
    .sa-icon {
      margin: 0 15px 0 0;
      zoom: .5;
      display: inline-block!important;
      vertical-align: middle;
      &.sa-success {
        border: 4px solid #A5DC86;
        &:before {
          display: none;
        }
        &:after {
          display: none;
        }
      }
    }
  }
}