<div class="block-img" ng-if="$ctrl.card.image.full_path">
    <img ng-src="{{$ctrl.card.image.full_path}}" alt="{{$ctrl.card.word.word}}">
</div>
<div class="repetition-block-content">
    <div class="answer-list block-navi">
        <ul>
            <li ng-repeat="answer in $ctrl.possibleAnswers track by $index" ng-class="{'active': $ctrl.activeIndex == $index}">
                <a href="#" ng-click="$ctrl.activeIndex = $index">
                    <span ng-bind="answer.word"></span>
                </a>
            </li>
        </ul>
    </div>
    <div class="block-actions">
        <div ng-if="$ctrl.activeIndex >= 0">
            <a href="#" class="btn btn-pr"
               ng-class="{'btn-dang': $ctrl.isIncorrect}"
               ng-click="$ctrl.check()"
               click-once="repetition:done"
            >
                <span ng-if="$ctrl.isIncorrect">Next</span>
                <span ng-if="!$ctrl.isIncorrect">Check</span>
            </a>
        </div>
        <div class="block-result">
            <div ng-if="$ctrl.attempt == 1">
                Неверно, попробуйте ещё раз
            </div>

            <div ng-if="$ctrl.isIncorrect">
                Это слово <span ng-bind="$ctrl.card.word.word"></span>, выберите правильный ответ
            </div>
        </div>
    </div>
</div>