<div class="cards-block">
    <div class="card-wrap">
        <div class="card-img" ng-if="$ctrl.activeRound.image.full_path"><img ng-src="{{$ctrl.activeRound.image.full_path}}" alt=""></div>
        <span class="item" ng-repeat="item in $ctrl.activeRound.elements" ng-init="item.answer = item.skip ? null : item" ng-class="{'input-item': item.skip}">
            <span ng-if="!item.skip" ng-bind-html="item.text | adoptText"></span>
            <span ng-if="item.skip" ng-class="{'text-danger': item.hasError && !$ctrl.showAnswers}" ng-click="item.hasError=false">
                <ui-select ng-model="item.answer" theme="selectize" search-enabled="false">
                    <ui-select-match  ng-bind-html="$ctrl.showAnswers ? (item.text | adoptText) : ($select.selected.text | adoptText) "></ui-select-match>
                    <ui-select-choices ng-init="possible_answers = (item.possible_answers | random)" repeat="answer in possible_answers">
                        <span ng-bind-html="answer.text | adoptText"></span>
                    </ui-select-choices>
                </ui-select>
            </span>
        </span>
    </div>
</div>

<check-exercise
    exercise="$ctrl.exercise"
    round="$ctrl.activeRound"
    check-answer="$ctrl.checkAnswer()"
    set-answer-visibility="$ctrl.setAnswerVisibility(isVisible)"
    on-round-complete="$ctrl.onRoundComplete({result, progress})">
</check-exercise>