select-exercise {
 .cards-block {
  .card-wrap {
    text-align: left;
    padding-top: 40px;
    display: block;
    .card-img {
      width: 100%;
      height: 320px;
      @extend .full-img;
      margin-bottom: 20px;
    }
    .ui-select-match {
      line-height: 1.2em;
    }
    .item {
      color: #353535;
      font-size: 18px;
      font-weight: 500;
      display: inline;
      vertical-align: middle;
      &:not(.input-item) {
        line-height: 55px;
      }
      &.input-item {
        display: inline-block;
        vertical-align: middle;
        margin: 5px 5px;
      }
      .ui-select-container {
        min-width: 150px;
        height: 40px;
        text-align: left;
        .ui-select-match {
          display: flex;
        }
        .selectize-input {
          &:after {
            top: 15px;
          }
          [type="search"] {
            height: 36px;
          }
        }
      }
    }
  }
 }
}