<div class="content-block bordered">
    <div class="block-title">3. Карточка задания</div>
    <div class="block-content">
        <div class="round-block" ng-repeat="param in $ctrl.exercise.params track by $index">
            <div class="block-line fields">
                <div class="field-block">
                    <div class="input-wrap">
                        <load-file label="Загрузить аудио задания"
                                   url="audio/upload"
                                   callback="$ctrl.exercise.onAudioParamLoaded(param, 'audio', response)" file="param.audio">
                        </load-file>
                    </div>
                </div>
            </div>
            <div class="block-line">
                <div class="field-block">
                    <label>"Введите текстовый вопрос</label>
                    <div class="input-wrap">
                        <text-angular ng-model="param.question"></text-angular>
                    </div>
                </div>

                <div class="field-block">
                    <label>Введите варианты ответов и выберите правильные</label>
                    <div class="input-wrap">
                        <tags-input ng-model="param.elements"
                                    min-length="1"
                                    placeholder="Введите и нажмите Enter"
                                    tag-class="{'answer': $tag.answer}"
                                    on-tag-clicked="$tag.answer = !$tag.answer;"
                                    on-tag-adding="param.addImage($tag)"
                                    replace-spaces-with-dashes="false">
                        </tags-input>
                    </div>
                </div>
                <div class="field-block">
                    <div class="input-wrap">
                        <div ng-repeat="element in param.elements">
                            <label>Изображение для {{element.text}}</label>
                               <load-file label="Загрузить изображение"
                                   url="image/upload"
                                   file="element.image">
                                </load-file>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block-line">
                <div class="field-block">
                    <label>Введите подсказку</label>
                    <div class="input-wrap">
                        <text-angular type="text" ng-model="param.hint"></text-angular>
                    </div>
                </div>
            </div>
            <div class="remove-round">
                <a ng-click="$ctrl.exercise.deleteParam(param)" ng-if="!$first" confirm><span class="icon icon-trash"></span></a>
            </div>
        </div>
    </div>
    <div class="add-round">
        <button type="button" class="btn btn-pr" ng-click="$ctrl.exercise.addParam()">Добавить новый раунд</button>
    </div>
</div>