<div class="cards-block">
    <div class="card-wrap">

        <div class="word-group">
            <div class="word"
                ng-repeat="element in $ctrl.firstElements"
                ng-click="$ctrl.selectWord(element, true)"
                ng-class="{
                    active : !!element.selectedAnswer,
                    selected : $ctrl.selectedFirst === element,
                    error: $ctrl.showErrors && element.selectedAnswer && element.answer !== element.selectedAnswer
                }
            ">
                <div class="colorizer"
                    ng-style="
                        {'background-color': $ctrl.showAnswers ? element.answerColor : (!!element.selectedAnswer && element.color ? element.color : null)}
                    ">
                </div>
                <div class="element-text" ng-if="element.isText()">
                    {{element.payload.text}}
                </div>
                <div class="element-image" ng-if="element.isImage()">
                    <img ng-src="{{element.payload.full_path}}" alt="">
                </div>
                <div class="element-audio" ng-if="element.isAudio()">
                    <audio-player src="element.payload.full_path"></audio-player>
                </div>
            </div>
        </div>

        <div class="word-group">
            <div class="word"
                ng-repeat="element in $ctrl.secondElements"
                ng-click="$ctrl.selectWord(element, false)"
                ng-class="{
                    active : !!element.selectedAnswer,
                    selected : $ctrl.selectedSecond === element,
                    error: $ctrl.showErrors && element.selectedAnswer && element.answer !== element.selectedAnswer
                }
            ">
                <div class="colorizer"
                     ng-style="
                        {'background-color': $ctrl.showAnswers ? element.answerColor : (!!element.selectedAnswer && element.color ? element.color : null)}
                    ">
                </div>
                <div class="element-text" ng-if="element.isText()">
                    {{element.payload.text}}
                </div>
                <div class="element-image" ng-if="element.isImage()">
                    <img ng-src="{{element.payload.full_path}}" alt="">
                </div>
                <div class="element-audio" ng-if="element.isAudio()">
                    <audio-player src="element.payload.full_path"></audio-player>
                </div>
            </div>
        </div>

    </div>
</div>

<check-exercise
    exercise="$ctrl.exercise"
    round="$ctrl.activeRound"
    check-answer="$ctrl.checkAnswer()"
    set-answer-visibility="$ctrl.setAnswerVisibility(isVisible)"
    on-round-complete="$ctrl.onRoundComplete({result, progress})"
>
</check-exercise>