find-couple-exercise {
  .card-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 0;

    .word-group {
      margin: 0 10px;
      flex: 0 0 250px;
      border-radius: 2px;
      //overflow: hidden;
      border: 2px solid $border-color_new;
      .word {
        text-align: center;
        .colorizer {
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom:0;
          opacity: 0.4;
        }
        .element-text {
          z-index: 1;
        }
        +.word {
          border-top: 2px solid $border-color_new;
        }
        position: relative;
        min-height: 70px;
        padding: 10px 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #323232;
        font-family: Arial, sans-serif;
        //text-transform: uppercase;
        font-weight: 700;
        &.active {
          background-color: #fffbe0;
        }
        &.selected {
          background-color: #eef6fa;
        }
        &.error {
          position: relative;
          &:after {
            z-index: 1;
            position: absolute;
            content: '';
            top: -2px;
            bottom: -2px;
            left: -2px;
            right: -2px;
            border: 2px solid lighten($dang-color, 15%);
          }
        }
      }
    }
  }
}