<form class="content-form" ng-submit="$ctrl.save();">
    <div class="form-inner">
        <div class="content-tabs">
            <ul>
                <li class="active">
                    <a ui-sref="base.words">К списку слов</a>
                </li>
            </ul>
        </div>
        <div class="content-block bordered">
            <div class="block-title">1. Управление словом</div>
            <div class="block-content">
                <div class="block-line fields">
                    <div class="field-block block-half">
                        <label>Слово</label>
                        <div class="input-wrap">
                            <input ng-model="$ctrl.word.word" type="text" id="word"/>
                        </div>
                    </div>
                    <div class="field-block block-half">
                        <label>Введите Транскрипция</label>
                        <div class="input-wrap">
                            <input ng-model="$ctrl.word.transcription" type="text" id="transcription"/>
                        </div>
                    </div>
                </div>
                <div class="block-line fields">
                    <div class="field-block block-half">
                      <load-file label="загрузить аудио"
                                 url="audio/upload"
                                 file="$ctrl.word.audio">
                      </load-file>
                    </div>
                    <div class="field-block block-half">
                        <load-file label="загрузить изображение"
                                   url="image/upload"
                                   file="$ctrl.word.image">
                        </load-file>
                    </div>
                </div>
                <div class="block-line">
                    <input type="submit" class="btn" value="Сохранить">
                </div>
            </div>
        </div>

        <div class="content-block bordered" ng-show="$ctrl.word.id">
            <div class="block-title">2. Добавление переводов</div>
            <div class="block-content" >
                <div class="block-content translation-item" ng-repeat="translation in $ctrl.word.translations">
                    <div class="block-line fields">
                        <div class="field-block">
                            <label>Перевод</label>
                            <div class="input-wrap">
                                <input ng-model="translation.translation" type="text" id="translation"/>
                            </div>
                        </div>
                        <div class="field-block">
                            <label>Пример использования</label>
                            <div class="input-wrap">
                                <input ng-model="translation.sample" type="text" id="sample"/>
                            </div>
                        </div>
                    </div>
                    <div class="block-line">
                        <div class="field-block">
                            <load-file label="загрузить аудио"
                                       url="audio/upload"
                                       file="translation.sample_audio">
                            </load-file>
                        </div>
                    </div>
                    <div class="btn-group">
                        <button type="button" ng-click="$ctrl.saveTranslation(translation)"  class="btn btn-pr">
                            Сохранить
                        </button>
                    </div>
                    <div class="remove-translation">
                        <a ng-click="$ctrl.removeTranslation(translation)" confirm><span class="icon icon-trash"></span></a>
                    </div>
                </div>
                <div class="block-line">
                    <a href="#" ng-click="$ctrl.addTranslation()" class="btn btn-stroked">Добавить перевод</a>
                </div>
            </div>
        </div>
    </div>
</form>