.voice-recorder {
  width: 136px;
  height: 136px;
  border-radius: 50%;
  background-color: $info-color;
  position: relative;
  transition: all linear .2s;
  &:hover {
    background-color: darken($info-color, 10%);
  }
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -16px 0 0 -10px;
    @extend .icon;
    @extend .icon.icon-micro;
  }
  &.animate {
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: 50%;
      border: 1px solid $info-color;
      box-shadow: 0 0 5px $info-color;
      animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
    }
    animation: sk-circleBounceDelayOp 2s infinite ease-in-out both;
  }
}

@keyframes sk-circleBounceDelay {
  0% {
    transform:scale(1);
    opacity:.6;
  }
  100% {
    transform:scale(1.2);
    opacity:.1;
  }
}

@keyframes sk-circleBounceDelayOp{
  0%,
  80%,
  100% {
    opacity:1;
  }
  40%{
    opacity:.5;
  }
}