<div class="content-block bordered">
    <div class="block-title">3. Карточка задания</div>
    <div class="block-content round-block" ng-repeat="param in $ctrl.exercise.params track by $index">
        <div class="block-line couple-block" ng-repeat="couple in param.couples">
            <div class="field-block">
                <label>Введите пару слов или выражений</label>
                <div class="input-wrap">
                    <tags-input ng-model="couple.words"
                                placeholder="Введите и нажмите Enter"
                                replace-spaces-with-dashes="false">
                    </tags-input>
                    <div class="remove-couple">
                        <a ng-click="param.deleteCouple(couple)" ng-if="!$first" confirm><span class="icon icon-trash"></span></a>
                    </div>
                </div>
            </div>
            <div class="field-block">
                <div class="input-wrap">
                    <load-file label="Загрузить изображения"
                               url="image/upload"
                               file="couple.images">
                    </load-file>
                </div>
            </div>
            <div class="field-block">
                <div class="input-wrap">
                    <load-file label="Загрузить аудио"
                               url="audio/upload"
                               file="couple.audios">
                    </load-file>
                </div>
            </div>
        </div>
        <div class="block-line">
          <a ng-click="param.addCouple()" class="btn">Добавить пару</a>
        </div>
        <div class="remove-round">
            <a ng-click="$ctrl.exercise.deleteParam(param)" ng-if="!$first" confirm><span class="icon icon-trash"></span></a>
        </div>
    </div>
</div>
<div class="add-round">
    <button type="button" class="btn btn-pr" ng-click="$ctrl.exercise.addParam()">Добавить новый раунд</button>
</div>