<div class="image-carousel" ng-if="$ctrl.images.length">
    <div class="controls">
        <div class="glyphicon glyphicon-chevron-left" ng-click="$ctrl.scrollLeft()"></div>
        <div class="card-imgs">
            <div class="card-img"
                 ng-repeat="image in $ctrl.images"
                 ng-if="image.full_path"
                 ng-click="$ctrl.selected_image = image"
                 ng-class="{'card-img-lg': $ctrl.images.length > 1}">
                <img ng-src="{{image.full_path}}" alt="">
            </div>
        </div>
        <div class="glyphicon glyphicon-chevron-right" ng-click="$ctrl.scrollRight()"></div>
    </div>

    <div class="preview" ng-if="$ctrl.selected_image">
        <img ng-src="{{$ctrl.selected_image.full_path}}" alt="">
    </div>
</div>