.image-carousel {
  margin-top: 20px;

  .controls {
    display: flex;
    align-items: center;
    .glyphicon {
      font-size: 40px;
      margin: 20px;
    }
  }
  .card-imgs {
    width: 600px;
    margin: 0;
    overflow-x: auto;
    align-items: center;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    justify-content: space-between;
    flex-basis: inherit;
    flex-direction: row;
    &::-webkit-scrollbar {
      display: none;
    }

    .card-img {
      display: inline-block;
      width: 100px;
      min-width: 100px;
      border-radius: 0;

      img {
        padding: 10px;
        border-radius: 100px;
        height: 100%;
        width: 100%;
      }
    }
  }
  .preview {
    text-align: center;
    margin: 20px;
  }
}