<uib-accordion class="tree-list editor">
    <div uib-accordion-group heading="Курсы" panel-class="item">
        <education-item-relation-editor current="$ctrl.CourseManager" child="$ctrl.UnitManager"></education-item-relation-editor>
    </div>
    <div uib-accordion-group heading="Юниты" panel-class="item">
        <education-item-relation-editor parent="$ctrl.CourseManager" current="$ctrl.UnitManager" child="$ctrl.LessonManager"></education-item-relation-editor>
    </div>
    <div uib-accordion-group heading="Уроки" panel-class="item">
        <education-lesson-relation-editor class="item"></education-lesson-relation-editor>
    </div>
</uib-accordion>