<div class="content-block bordered" ng-init="crossword = $ctrl.exercise.params[0]; $ctrl.curentTab = 0">
    <div class="block-title">3. Карточка задания</div>
    <div class="cards-row">
        <div class="cards-navi">
            <ul>
                <li ng-class="{'active': $ctrl.curentTab === $index}"
                    ng-repeat="item in crossword.items track by $index">
                    <a href="#" ng-click="$ctrl.curentTab = $index">Слово {{$index+1}}</a>
                </li>
            </ul>
        </div>
        <div class="block-content">
            <div class="cards-list" ng-repeat="item in crossword.items track by $index">
                <div class="card" ng-if="$ctrl.curentTab === $index">
                    <div class="remove-card">
                        <a ng-click="crossword.removeItem(item);  $ctrl.curentTab = $ctrl.curentTab - 1;" confirm>
                            <span class="icon icon-trash"></span>
                        </a>
                    </div>
                    <div class="block-line fields">
                        <div class="field-block block-third ">
                            <label>Введите вопрос</label>
                            <div class="input-wrap">
                                <text-angular ng-model="item.question"></text-angular>
                            </div>
                        </div>
                        <div class="field-block block-third ">
                            <label>Введите ответ</label>
                            <div class="input-wrap">
                                <input ng-model="item.answer" type="text"/>
                            </div>
                        </div>
                        <div class="field-block block-third ">
                            <label>Загрузите изображение</label>
                            <div class="input-wrap">
                                <load-file label="Загрузить изображение"
                                           url="image/upload"
                                           callback="item.onImageLoaded(response)"
                                           file="item.image">
                                </load-file>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-block">
            <a href="#" class="btn" ng-click="crossword.addItem(); $ctrl.curentTab = crossword.items.length - 1;">Добавить слово</a>
        </div>
        <div class="content-block">
            <div class="block-line">
                <div class="field-block">
                    <a href="#" class="btn" ng-click="$ctrl.generate();">Сгенерировать</a>
                </div>
                <div class="field-block">
                    <crossword ng-if="!$ctrl.is_new && $ctrl.show_crossword"
                               items="crossword.items"
                               crossword-grid="crossword.grid"
                               legend="crossword.legend"
                               on-generated="$ctrl.onGenerated(promise)">
                    </crossword>
                    <crossword ng-if="$ctrl.is_new && $ctrl.show_crossword"
                               items="crossword.items"
                               on-generated="$ctrl.onGenerated(promise)">
                    </crossword>
                </div>
            </div>
        </div>
    </div>
</div>