<div class="fast-add ">
    <div class="fast-add-select">
        <ui-select ng-model="$ctrl.group.category" theme="selectize">
            <ui-select-match placeholder="Начните вводить имя категории">
                {{$ctrl.group.category.name}}
            </ui-select-match>
            <ui-select-choices repeat="category in $ctrl.categoriesToSelect"
                               refresh="$ctrl.loadCategories($select.search)"
                               refresh-delay="300">
                <span>{{category.name}}</span>
            </ui-select-choices>
        </ui-select>
    </div>

    <div class="title">
        <input class="title" ng-model="$ctrl.group.name"/>
    </div>

    <div class="fast-add-actions">
        <a ng-click="$ctrl.create();">Сохранить</a>
        <a class="btn-remove" ng-click="$ctrl.isVisible = false;">Отменить</a>
    </div>
</div>