<div class="list">
    <div class="content-tabs">
        <ul>
            <li>
                <a ui-sref="base.wordCardEditor({id: 'create'})">Добавить</a>
            </li>
            <li ng-class="{'active': createGroup}">
                <a ng-click="createGroup=!createGroup;createCategory=false;">Добавить группу</a>
            </li>
            <li>
                <a ui-sref="base.categories">Категории</a>
            </li>
        </ul>

        <create-group is-visible="$parent.createGroup" ng-if="createGroup"></create-group>
    </div>

    <div class="content-block">
        <div class="block-content">
            <div class="block-line fields">
                <div class="field-block ">
                    <div class="search-field">
                        <div class="input-wrap">
                            <input type="search"
                                   ng-model="$ctrl.filterWord"
                                   ng-model-options="{debounce: 300}"
                                   placeholder="Введите слово"/>
                        </div>
                        <button class="btn search-btn" ng-click="$ctrl.searchWordCards()">Найти</button>
                    </div>
                    <div>
                        Найдено карточек: <span>{{$ctrl.totalCount}}</span>
                    </div>
                </div>
            </div>

            <div class="search-result">
                <table>
                    <tr>
                        <th>Слово</th>
                        <th>Транскрипция</th>
                        <th>Перевод</th>
                        <th>Группа</th>
                        <th></th>
                    </tr>

                    <tr ng-repeat="card in $ctrl.cards">
                        <td>
                            <span ng-bind="card.word.word"></span>
                        </td>
                        <td>
                            <span ng-bind="card.transcription"></span>
                        </td>
                        <td>
                            <span ng-bind="card.translation"></span>
                        </td>
                        <td>
                            <span ng-bind="card.group.name"></span>
                        </td>
                        <td class="item-options">
                            <a ui-sref="base.wordCardEditor({id: card.id})">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                            <a class="btn-remove" ng-click="$ctrl.removeWordCard(card);" confirm>
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>

            <ul uib-pagination ng-if="$ctrl.totalCount > $ctrl.countPerPage"
                            total-items="$ctrl.totalCount"
                            ng-model="$ctrl.currentPage"
                            items-per-page="$ctrl.countPerPage"
                            max-size="7"
                            ng-change="$ctrl.goToPage($ctrl.currentPage)"
                            class="">
            </ul>
        </div>
    </div>
</div>