<div class="content-tabs">
    <ul>
        <li><a ui-sref="base.grammarSections">Units</a></li>
    </ul>
</div>
<div class="info-line">Правила грамматики доступны для всех учебных программ</div>
<div class="content-block">
    <div class="block-title">1. Выбор раздела</div>
    <div class="block-content">
        <div class="block-line fields">
            <div class="field-block">
                <label>Выберите Unit</label>
                <div class="input-wrap">
                    <ui-select ng-model="$ctrl.section" theme="selectize" title="">
                        <ui-select-match placeholder="">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="section in $ctrl.sections| filter: $select.search">
                            <span ng-bind-html="section.name | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="field-block">
                <label>Выберите раздел</label>
                <div class="input-wrap">
                    <ui-select ng-model="$ctrl.theme" theme="selectize" title="">
                        <ui-select-match placeholder="">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="theme in $ctrl.themes| filter: $select.search">
                            <span ng-bind-html="theme.name | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content-block bordered">
    <div class="block-title">2. Карточка темы</div>
    <div class="block-content">
        <div class="block-line">
            <div class="field-block">
                <label>Введите заголовок</label>
                <div class="input-wrap">
                    <textarea ng-model="$ctrl.grammar.name"></textarea>
                </div>
            </div>
        </div>

        <div class="block-line">
            <div class="field-block">
                <label>Введите содержание</label>
                <div class="input-wrap">
                    <text-angular ng-model="$ctrl.grammar.content"></text-angular>
                </div>
            </div>
        </div>

        <div class="block-line">
            <div class="field-block">
                <load-file label="Загрузить видео"
                           url="video/upload"
                           callback="$ctrl.onVideoLoaded(response)"
                           file="$ctrl.grammar.video"
                           ng-disabled="!$ctrl.editable">
                </load-file>
            </div>
        </div>

        <div class="block-line fields">
            <div class="field-block">
                <label>
                    Признак Демо
                    <input type="checkbox" ng-model="$ctrl.grammar.is_demo">
                </label>
            </div>
        </div>
    </div>
</div>
<div class="form-submit">
    <a ng-click="$ctrl.save()" class="btn btn-pr">Сохранить</a>
</div>

<div class="editor">
    <div ng-if="!$ctrl.savedResult">


    </div>
    <div class="saved-result" ng-if="$ctrl.savedResult == 'SUCCESS'">
        <p class="success"><strong>Сохранено успешно</strong></p>
        <a href="" ng-click="$ctrl.reload();">Создать новый</a>
    </div>
    <div class="saved-result" ng-if="$ctrl.savedResult == 'FAIL'">
        <p class="fail"><strong>При сохранении произошла ошибка</strong></p>
        <a href="" ng-click="$ctrl.reload();">Создать новый</a>
    </div>
</div>