<div class="content-block bordered">
    <div class="block-title">3. Карточка задания</div>
    <div class="block-content round-block" ng-repeat="param in $ctrl.exercise.params track by $index">
        <div class="block-line">
            <div class="field-block">
                <label>Введите текст вопроса</label>
                <div class="input-wrap">
                    <text-angular ng-model="param.exercise_text"></text-angular>
                </div>
            </div>
        </div>
        <div class="block-line">
            <div class="field-block">
                <load-file label="Загрузить аудио"
                           url="audio/upload"
                           callback="$ctrl.exercise.onAudioParamLoaded(param, 'audio', response)" file="param.audio">
                </load-file>
            </div>
        </div>
        <div class="block-line">
            <div class="field-block">
                <label>Введите варианты ответов</label>
                <div class="input-wrap">
                    <tags-input ng-model="param.elements"
                                placeholder="Введите и нажмите Enter"
                                tag-class="{'answer': $tag.answer}"
                                on-tag-clicked="$tag.answer = !$tag.answer;"
                                replace-spaces-with-dashes="false">
                    </tags-input>
                </div>
            </div>
        </div>
        <div class="remove-round">
            <a ng-click="$ctrl.exercise.deleteParam(param)" ng-if="!$first" confirm><span class="icon icon-trash"></span></a>
        </div>
    </div>
</div>
<div class="add-round">
    <button type="button" class="btn btn-pr" ng-click="$ctrl.exercise.addParam()">Добавить новый раунд</button>
</div>