<div class="list">
    <div class="content-tabs">
        <ul>
            <li class="active">
                <a ui-sref="base.userEditor({id: 'create'})">Добавить</a>
            </li>
        </ul>
    </div>
    <div class="content-block">
        <div class="block-content">
            <div class="block-line fields">
                <div class="field-block ">
                    <div class="search-field">
                        <div class="input-wrap">
                            <input type="search"
                                   ng-model="$ctrl.filterFio"
                                   ng-model-options="{debounce: 300}"
                                   placeholder="Введите ФИО пользователя"/>
                        </div>
                        <button class="btn search-btn" ng-click="$ctrl.searchUsers()">Найти</button>
                    </div>
                    <div>
                        Найдено пользователей: <span>{{$ctrl.totalCount}}</span>
                    </div>
                </div>
            </div>

            <div class="search-result">
                <table>
                    <tr>
                        <th>№ договора</th>
                        <th>ФИО пользователя</th>
                        <th>Текущие доступы</th>
                        <th>Признак Демо</th>
                        <th></th>
                    </tr>

                    <tr ng-repeat="user in $ctrl.users">
                        <td>
                            <span ng-bind="user.agreement_number"></span>
                        </td>
                        <td>
                            <span ng-bind="user.fio"></span>
                        </td>
                        <td>
                            <span ng-bind="user.coursesNames"></span>
                        </td>
                        <td>
                            <span ng-bind="user.is_demo"></span>
                        </td>
                        <td>
                            <a ui-sref="base.userEditor({id: user.id})">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>

            <ul uib-pagination ng-if="$ctrl.totalCount > $ctrl.countPerPage"
                            total-items="$ctrl.totalCount"
                            ng-model="$ctrl.currentPage"
                            items-per-page="$ctrl.countPerPage"
                            max-size="7"
                            ng-change="$ctrl.goToPage($ctrl.currentPage)"
                            class="">
            </ul>
        </div>
    </div>
</div>