<div class="cards-block">
    <div class="card-wrap">
        <image-carousel images="$ctrl.activeRound.images"></image-carousel>

        <div class="title" ng-bind-html="$ctrl.activeRound.question"></div>

        <div class="editor"
             ng-model="$ctrl.answer"
             contenteditable="true"
             spellcheck="true"
             lang="en"
             placeholder="Enter your answear here"
        >
        </div>
    </div>
</div>

<check-exercise
    exercise="$ctrl.exercise"
    round="$ctrl.activeRound"
    check-answer="$ctrl.checkAnswer()"
    on-round-complete="$ctrl.onRoundComplete({result, progress})">
</check-exercise>