free-form-exercise {
  .card-wrap {
    margin-top: 50px;
    padding: 0 20px 20px;
  }
  .card-imgs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    .card-img {
      width: 64px;
      height: 64px;
      margin: 0;
      border-radius: 50%;
      @extend .full-img;
      &.card-img-lg {
        width: 100px;
        height: 100px;
      }
    }
  }
  .title {
    margin-top: 30px;
    font-size: 18px;
    color: #353535;
    margin-bottom: 30px;
    font-weight: 700;
  }
  .editor {
    &.error {
      border-color: lighten($dang-color, 30%);
      color: lighten($dang-color, 30%);
    }
  }
}