<div class="list">
    <div class="row">
        <div class="form-group col-md-3 pull-right">
            <a ui-sref="base.unitEditor({id: 'create'})"
               class="btn btn-block btn-warning">Создать юнит</a>
        </div>
    </div>
    <div class="row">
        <ul class="list-with-index">
            <li ng-repeat="unit in $ctrl.units">
                <a ui-sref="base.unitEditor({id: unit.id})" class="full" ng-bind="unit.name"></a>
                <strong class="index" ng-bind="$index+1"></strong>
                <span ng-bind="unit.name"></span>
            </li>
        </ul>
    </div>
</div>