<div class="list">
    <div class="row">
        <div class="form-group col-md-3 pull-right">
            <a ui-sref="base.lessonPartEditor({id: 'create'})"
               class="btn btn-block btn-warning">Создать lessonPart</a>
        </div>
    </div>
    <div class="row">
        <ul class="list-with-index">
            <li ng-repeat="lessonPart in $ctrl.lessonParts">
                <a ui-sref="base.lessonPartEditor({id: lessonPart.id})" class="full" ng-bind="lessonPart.name"></a>
                <strong class="index" ng-bind="$index+1"></strong>
                <span ng-bind="lessonPart.name"></span>
            </li>
        </ul>
    </div>
</div>