.report-result {
  margin: 30px 0;
  .report-result-table {
    margin-bottom: 30px;
    overflow: auto;
    border-left: 1px solid #cfd9d9;
    border-right: 1px solid #cfd9d9;
    border-bottom: 1px solid #cfd9d9;
    table {
      border-top: 1px solid #cfd9d9;
      border-collapse: collapse;
      th, td {
        border: 1px solid #cfd9d9;
        border-left-width: 0;
        border-bottom-width: 0;
        padding: 20px 20px;
        text-align: center;
        white-space: nowrap;
        &:last-child {
          border-right-width: 0;
        }
      }
      th {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 14px;
        color: $color;
      }
      td {
      }
    }
  }
}
