<form ng-submit="$ctrl.save();" class="content-form">
    <div class="form-inner">
        <div class="content-tabs">
            <ul>
                <li>
                    <a href="#">Редактировать</a>
                </li>
                <li class="active">
                    <a ui-sref="base.courseEditor({id: 'create'})">Создать курс</a>
                </li>
            </ul>
        </div>
        <div class="content-block">
            <div class="block-title">1. Выбор программы обучения</div>
            <div class="block-content">
                <div class="block-line">
                    <div class="field-block">
                        <label>Программа обучения</label>
                        <div class="input-wrap">
                            <input type="text" ng-model="$ctrl.course.name">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-block bordered">
            <div class="block-title">2. Выбор программы обучения</div>
            <div class="block-content">
                <div class="block-line">
                    <div class="field-block">
                        <label>Программа обучения</label>
                        <div class="input-wrap">
                            <input type="text">
                        </div>
                    </div>
                </div>
                <div class="block-line fields">
                    <div class="field-block">
                        <label>Программа обучения</label>
                        <div class="input-wrap">
                            <input type="text">
                        </div>
                    </div>
                    <div class="field-block">
                        <label>Программа обучения</label>
                        <div class="input-wrap">
                            <input type="text">
                        </div>
                    </div>
                    <div class="field-block">
                        <label>Программа обучения</label>
                        <div class="input-wrap">
                            <select>
                                <option value="1">test 1</option>
                                <option value="2">test 11</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="block-line">
                    <div class="upload audio-upload">
                        <label class="fake-upload btn">
                            загрузить аудио подсказку
                            <input type="file">
                        </label>
                        <div class="uploads-list">
                            <div class="item">
                                <div class="item-name">
                                    Clarkson_qustions.mp3
                                    <a href="#"><span class="icon icon-trash"></span></a>
                                </div>
                                <div class="item-date">дата загрузки: 10.03.2015</div>
                            </div>
                            <div class="item">
                                <div class="item-name">
                                    Clarkson_qustions.mp3
                                    <a href="#"><span class="icon icon-trash"></span></a>
                                </div>
                                <div class="item-date">дата загрузки: 10.03.2015</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block-line">
                    <div class="field-block">
                        <label>ФИО пользователя</label>
                        <div class="search-field">
                            <div class="input-wrap">
                                <input type="text">
                            </div>
                            <div class="search-btn">
                                <button class="btn">Найти</button>
                            </div>
                        </div>
                    </div>
                    <div class="search-result">
                        <table>
                            <tr>
                                <th>№ договора</th>
                                <th>ФИО пользователя</th>
                                <th>Декущие доступы</th>
                                <th></th>
                            </tr>
                            <tr>
                                <td>1251-22</td>
                                <td>Иванов Сергей Александрович</td>
                                <td>Курс 1</td>
                                <td><a href="#">Редактировать</a></td>
                            </tr>
                            <tr>
                                <td>1251-22</td>
                                <td>Иванов Сергей Александрович</td>
                                <td>Курс 1</td>
                                <td><a href="#">Редактировать</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="block-line">
                    <a href="#" class="btn">Сохранить</a>
                    <a href="#" class="btn btn-stroked">Сохранить</a>
                    <a href="#" class="btn btn-info">Сохранить</a>
                    <a href="#" class="btn btn-dang">Сохранить</a>
                </div>
            </div>
        </div>
        <div class="editor">
            <div class="raw" ng-if="!$ctrl.savedResult">
            </div>
            <div class="saved-result" ng-if="$ctrl.savedResult == 'SUCCESS'">
                <p class="success"><strong>Сохранено успешно</strong></p>
                <a href="" ng-click="$ctrl.reload();">Назад</a>
            </div>
            <div class="saved-result" ng-if="$ctrl.savedResult == 'FAIL'">
                <p class="fail"><strong>При сохранении произошла ошибка</strong></p>
                <a href="" ng-click="$ctrl.reload();">Повторить</a>
            </div>
        </div>
    </div>
    <div class="form-submit">
        <input type="submit" class="btn btn-pr" value="Сохранить">
    </div>
</form>