<form class="content-form">
    <div class="form-inner">

        <div class="field-block" ng-if="$ctrl.isCreateMode">
            <label>Тип упражнения</label>
            <div class="input-wrap">
                <ui-select ng-model="$ctrl.selectedComponent" theme="selectize" title="">
                    <ui-select-match placeholder="">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="template in $ctrl.templates| filter: $select.search">
                        <span ng-bind-html="template.name | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>

        <div class="editor">
            <div ng-if="!$ctrl.savedResult">
                <div class="">
                    <div class="" ng-if="$ctrl.selectedComponent.name">
                        <exercise exercise="$ctrl.exercise" callback="$ctrl.save()" ></exercise>
                    </div>
                </div>
            </div>
            <div class="saved-result" ng-if="$ctrl.savedResult == 'SUCCESS'">
                <p class="success"><strong>Сохранено успешно</strong></p>
                <a href="" ng-click="$ctrl.reload();">Вернуться назад</a>
            </div>
            <div class="saved-result" ng-if="$ctrl.savedResult == 'FAIL'">
                <p class="fail"><strong>При сохранении произошла ошибка</strong></p>
                <a href="" ng-click="$ctrl.reload();">Вернуться назад</a>
            </div>
        </div>
    </div>
</form>