<div class="content-block bordered">
    <div class="block-title">3. Карточка задания</div>
    <div class="block-content round-block" ng-repeat="param in $ctrl.exercise.params track by $index">
        <div class="block-line">
        </div>
        <div class="block-line">
            <div class="field-block">
                <label>Введите фразу и выделите элементы, которые должен будет выбрать ученик</label>
                <div class="input-wrap">
                    <tags-input ng-model="param.elements"
                                min-length="1"
                                placeholder="Введите и нажмите Enter"
                                track-by-expr="$index"
                                tag-class="{'skip': $tag.skip}"
                                on-tag-clicked="$tag.skip = !$tag.skip; $tag.possible_answers = [{text:$tag.text}]"
                                replace-spaces-with-dashes="false">
                    </tags-input>
                </div>
            </div>
            <div class="field-block">
                <div class="input-wrap">
                    <div ng-repeat="element in param.elements | filter:{ skip: true }">
                        <label>Введите варианты ответов</label>
                        <tags-input ng-model="element.possible_answers"
                                    min-length="1"
                                    on-tag-removing="param.checkRemovingAnswer($tag, element)"
                                    placeholder="Введите и нажмите Enter"
                                    replace-spaces-with-dashes="false">
                        </tags-input>
                    </div>
                </div>
            </div>
        </div>
        <div class="block-line">
            <div class="field-block">
                <div class="input-wrap">
                    <load-file label="Загрузить изображение"
                               url="image/upload"
                               callback="$ctrl.exercise.onImageParamLoaded(param, 'image', response)" file="param.image">
                    </load-file>
                </div>
            </div>
        </div>
        <div class="remove-round">
            <a ng-click="$ctrl.exercise.deleteParam(param)" ng-if="!$first" confirm><span class="icon icon-trash"></span></a>
        </div>
    </div>
</div>
<div class="add-round">
    <button type="button" class="btn btn-pr" ng-click="$ctrl.exercise.addParam()">Добавить новый раунд</button>
</div>