<div class="cards-block">
    <div class="card-wrap">
        <div class="item"
             ng-repeat="element in $ctrl.activeRound.elements"
             ng-click="$ctrl.toggleElement(element)"
             ng-class="{
                    active : $ctrl.isSelected(element),
                    error  : $ctrl.showErrors && $ctrl.isSelected(element) && !element.answer,
                    answer : $ctrl.showAnswers && element.answer
                }
            ">
                {{element.text}}
        </div>
    </div>
</div>

<check-exercise
    exercise="$ctrl.exercise"
    round="$ctrl.activeRound"
    check-answer="$ctrl.checkAnswer()"
    set-answer-visibility="$ctrl.setAnswerVisibility(isVisible)"
    on-round-complete="$ctrl.onRoundComplete({result, progress})"
>
</check-exercise>