pick-out-exercise {
  .card-wrap {
    display: flex;
    padding-top: 40px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    .item {
      background-color: white;
      border: 2px solid $border-color_new;
      border-radius: 2px;
      min-width: 50px;
      min-height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase;
      padding: 10px 15px;
      cursor: pointer;
      margin: 0 5px 5px 0;
      &.active {
        background-color: #fdf6c6;
      }
      &.error {
        background-color: lighten($dang-color, 45%);
      }
      &.answer {
        background-color: lighten($pr-color, 45%);
      }
    }
  }
}