<div class="content-block bordered">
    <div class="block-title">3. Карточка задания</div>
    <div class="cards-row" ng-repeat="row in $ctrl.exercise.params track by $index" ng-init="roundIndex = $index">
        <div class="cards-navi">
            <ul>
                <li ng-class="{'active': $ctrl.curentCard[roundIndex] === $index}" ng-repeat="card in row.cards track by $index">
                    <a href="#" ng-click="$ctrl.curentCard[roundIndex] = $index">Карта {{$index+1}}</a>
                </li>
            </ul>
        </div>
        <div class="block-content">
            <div class="cards-list" ng-repeat="card in row.cards track by $index" ng-init="$ctrl.curentCard[roundIndex] = 0">
                <div class="card" ng-if="$ctrl.curentCard[roundIndex] == $index">
                    <div class="block-line fields">
                        <div class="field-block block-half">
                            <label>Введите вопрос</label>
                            <div class="input-wrap">
                                <text-angular ng-model="card.question"></text-angular>
                            </div>
                        </div>
                        <div class="field-block block-half">
                            <label>Поле для ввода вариантов ответа</label>
                            <div class="input-wrap">
                                <tags-input ng-model="card.possible_answers"
                                            placeholder="Введите и нажмите Enter. Например: right, wrong"
                                            replace-spaces-with-dashes="false">
                                </tags-input>
                            </div>
                            <label>Вводите подсказку</label>
                            <div class="input-wrap">
                                <input ng-model="card.hint" type="text"/>
                            </div>
                        </div>
                    </div>
                    <div class="block-line">
                        <div class="field-block">
                            <label>Поле для ввода правильного варианта ответа</label>
                            <div class="input-wrap">
                                <input ng-model="card.answer" type="text"/>
                            </div>
                        </div>
                    </div>
                    <div class="block-line">
                        <div class="field-block">
                            <load-file label="Загрузить изображение"
                                       url="image/upload"
                                       callback="card.onImageLoaded(response)"
                                       file="card.image">
                            </load-file>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="remove-card">
            <a ng-click="$ctrl.exercise.deleteParam(row)" ng-if="!$first" confirm><span class="icon icon-trash"></span></a>
        </div>
    </div>
</div>
<div class="add-round">
    <button type="button" class="btn btn-pr" ng-click="$ctrl.exercise.addParam()">Добавить 5карт</button>
</div>