<header></header>
<div class="site-middle">
    <div class="content-navi">
        <content-navi></content-navi>
    </div>
    <div class="content-container" ng-init="search=''">
        <div class="content-title">
            Vocabulary
        </div>
        <div class="search-block">
            <input type="text" ng-model="search" placeholder="Search">
        </div>

        <div class="categories-list">
            <div class="categories-list-header">Categories</div>
            <div class="categories-list-wrap">
                <div ng-repeat="category in $ctrl.categories|filter:{name: search}" class="category-item">
                    <div class="item-inner">
                        <div class="item-img">
                            <img ng-src="{{category.image.full_path}}" alt="{{category.name}}">
                        </div>
                        <div class="item-title">
                            <span ng-bind="category.name"></span>
                        </div>
                        <div class="item-count">
                            <span ng-bind="category.groups_count"></span> Topics
                        </div>
                        <a ui-sref="vocabularyGroups({categoryId: category.id})"></a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer></footer>