<div class="feedback-form">
    <!--<div class="form-field">-->
        <!--<label>Тема</label>-->
        <!--<div class="input-wrap"><input type="text" ng-model="$ctrl.feedback.title"></div>-->
    <!--</div>-->
    <div ng-if="!$ctrl.formSended">
        <div class="form-line">
            <label>Мы хотим узнать, что вам нравится, а что можно было бы и улучшить. Напишите нам:</label>
            <div class="input-wrap"><textarea ng-model="$ctrl.feedback.message" cols="30" rows="10"></textarea></div>
        </div>
        <div class="form-action">
            <a ng-click="$ctrl.send()" click-once="done" class="btn btn-pr">Отправить</a>
            <a ng-click="$ctrl.cancel()">Отмена</a>
        </div>

    </div>
    <div ng-if="$ctrl.formSended" class="form-result">
        <div>
            Благодарим за обращение в поддержку ALIBRA ENGLISH CAMPUS. Вы получите ответ на Ваш вопрос в ближайшее время.
        </div>

        <div>
            <a ng-click="$ctrl.cancel()" class="btn btn-pr">Закрыть</a>
        </div>
    </div>
</div>
