<form class="content-form" ng-submit="$ctrl.save();">
    <div class="form-inner">
        <div class="content-tabs">
            <ul>
                <li class="active">
                    <a ui-sref="base.wordCards">К списку карточек</a>
                </li>
            </ul>
        </div>
        <div class="content-block bordered">
            <div class="block-title">Редактирование карточки слова</div>
            <div class="block-content">
                <div class="block-line fields">
                    <div class="field-block">
                        <label>Слово</label>
                        <div class="input-wrap">
                            <ui-select ng-model="$ctrl.card.word" ng-change="$ctrl.onChangeWord()" ng-disabled="$ctrl.card.id" theme="selectize">
                                <ui-select-match placeholder="Начните вводить слово">
                                    {{$ctrl.card.word.word}}
                                </ui-select-match>
                                <ui-select-choices repeat="word in $ctrl.wordsToSelect"
                                                   refresh="$ctrl.loadWords($select.search)"
                                                   refresh-delay="300">
                                    <span>{{word.word}}</span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>

                    <div class="field-block">
                        <label>Категория</label>
                        <div class="input-wrap">
                            <ui-select ng-model="$ctrl.card.category" theme="selectize">
                                <ui-select-match placeholder="Начните вводить имя категории">
                                    {{$ctrl.card.category.name}}
                                </ui-select-match>
                                <ui-select-choices repeat="category in $ctrl.categoriesToSelect"
                                                   refresh="$ctrl.loadCategories($select.search)"
                                                   refresh-delay="300">
                                    <span>{{category.name}}</span>
                                </ui-select-choices>
                            </ui-select>

                        </div>
                    </div>

                    <div class="field-block">
                        <label>Группа</label>
                        <div class="input-wrap">
                            <div class="input-wrap">
                                <ui-select ng-model="$ctrl.card.group" theme="selectize">
                                    <ui-select-match placeholder="Начните вводить имя группы">
                                        {{$ctrl.card.group.name}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="group in $ctrl.groupsToSelect"
                                                       refresh="$ctrl.loadGroups($select.search)"
                                                       refresh-delay="300">
                                        <span>{{group.name}}</span>
                                    </ui-select-choices>
                                </ui-select>

                            </div>
                        </div>
                    </div>
                    <div class="field-block">
                        <label>Транскрипция</label>
                        <div class="input-wrap">
                            <input ng-model="$ctrl.card.transcription" type="text" id="transcription"/>
                        </div>
                    </div>
                </div>
                <div class="block-line fields">
                    <div class="field-block">
                        <load-file label="загрузить изображение"
                                   url="image/upload"
                                   callback="$ctrl.imageLoaded(response)"
                                   file="$ctrl.card.image"
                                   ng-disabled="!$ctrl.editable">
                        </load-file>
                    </div>
                    <div class="field-block">
                        <load-file label="загрузить аудио"
                                   url="audio/upload"
                                   callback="$ctrl.audioLoaded(response)"
                                   file="$ctrl.card.audio"
                                   ng-disabled="!$ctrl.editable">
                        </load-file>
                    </div>
                    <div class="field-block">
                        <load-file label="загрузить аудио примера"
                                   url="audio/upload"
                                   callback="$ctrl.sampleAudioLoaded(response)"
                                   file="$ctrl.card.sample_audio"
                                   ng-disabled="!$ctrl.editable">
                        </load-file>
                    </div>
                </div>

                <div class="block-line fields">
                    <div class="field-block">
                        <label>Перевод</label>
                        <div class="input-wrap">
                            <input ng-model="$ctrl.card.translation" type="text" id="translation"/>
                        </div>
                    </div>
                    <div class="field-block">
                        <label>Пример использования</label>
                        <div class="input-wrap">
                            <input ng-model="$ctrl.card.sample" type="text" id="sample"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-block btn-pr" value="Сохранить">
                </div>
            </div>
        </div>

        <div class="content-block bordered" ng-if="$ctrl.card.id">
            <div class="block-title">Уроки</div>
            <div class="block-content">
                <div class="block-line">
                    <div class="field-block">
                        <div class="line" ng-repeat="lesson in $ctrl.card.lessons">
                            <div class="title">
                                <span ng-bind="lesson.name"></span>
                            </div>
                            <div>
                                <a ng-click="$ctrl.removeLesson(lesson)" class="btn-remove" confirm>
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            </div>
                        </div>

                        <div class="line" ng-if="addLesson">
                            <div class="title">
                                <ui-select ng-model="$ctrl.selectedLessonToAdd" theme="selectize">
                                    <ui-select-match placeholder="Начните вводить название">
                                        {{$select.selected.name}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="lesson in $ctrl.lessonsToAdd"
                                                       refresh="$ctrl.loadLessons($select.search)"
                                                       refresh-delay="300">
                                        <span>{{lesson.name}}</span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div>
                                <a ng-click="$ctrl.addLesson($ctrl.selectedLessonToAdd, item.id);">Сохранить</a>
                            </div>
                            <div>
                                <a class="btn-remove" ng-click="$parent.addLesson = false;">Отменить</a>
                            </div>
                        </div>

                        <div class="inner-action">

                            <a href="#" ng-click="addLesson = !addLesson;">Добавить урок</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>