<header></header>
<div class="site-middle">
    <div class="content-navi">
        <content-navi></content-navi>
    </div>
    <div class="content-container">
        <div class="content-title sided">
            <div class="left-side">
                Review words
            </div>
        </div>

        <div class="message-block" ng-if="$ctrl.activeCard">
            <div ng-if="!$ctrl.group.isDone">
                <span class="help-line">Тема изучена. Следующее повторение </span>
                <span ng-bind="$ctrl.nextRepetitionDate"></span>
            </div>
            <div>
                <span ng-bind="$ctrl.activeCardIdx + 1"></span> out of <span ng-bind="$ctrl.totalCount"></span>
            </div>
        </div>

        <div class="learn-block" ng-if="$ctrl.activeCard">

            <div class="block-img" ng-if="$ctrl.activeCard.image.full_path">
                <img ng-src="{{$ctrl.activeCard.image.full_path}}" alt="{{$ctrl.activeCard.word.word}}">
            </div>

            <div class="block-word">
                <span ng-bind-html="$ctrl.activeCard.word.word"></span>
            </div>

            <div class="block-transcription">
                <div class="word-transcription">
                    <span ng-bind-html="$ctrl.activeCard.transcription"></span>
                </div>
                <div ng-if="$ctrl.activeCard.audio.full_path">
                    <audio-player-min src="$ctrl.activeCard.audio.full_path"></audio-player-min>
                </div>
            </div>

            <div class="word-example">
                <div class="help-line">
                    <span ng-bind-html="$ctrl.activeCard.sample"></span>
                </div>
                <div ng-if="$ctrl.activeCard.sample_audio.full_path">
                    <audio-player-min src="$ctrl.activeCard.sample_audio.full_path"></audio-player-min>
                </div>
            </div>

            <div class="block-translate">
                <div class="word-translation">
                    <span ng-bind-html="$ctrl.activeCard.translation"></span>
                </div>
            </div>

            <div class="block-actions">
                <ul class="pagination">
                    <li class="pagination-prev">
                        <a href="" ng-click="$ctrl.prev()">Previous</a>
                    </li>
                    <li class="pagination-next">
                        <a href="" ng-click="$ctrl.next()">Next</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>
<footer></footer>