<div class="cards-block">
    <div class="card-wrap">
        <div class="card-img" ng-if="$ctrl.activeRound.image.full_path"><img ng-src="{{$ctrl.activeRound.image.full_path}}" alt=""></div>
        <div class="card-info" ng-if="$ctrl.activeRound.audio.full_path">
            <audio-player src="$ctrl.activeRound.audio.full_path"></audio-player>
        </div>
    </div>
    <div class="card-answer">
        <div class="title">Word Bank</div>
        <div class="answers-list">
            <ul>
                <li ng-repeat="element in $ctrl.activeRound.elements">
                    <span>{{element.text}}</span>
                </li>
            </ul>
        </div>
    </div>
    <voice-recorder on-recorded="$ctrl.onRecorded({src})" on-text-changed="$ctrl.onTextChanged({text})"></voice-recorder>
    <div class="card-answer" ng-if="$ctrl.audioRecord">
        <audio-player src="$ctrl.audioRecord"></audio-player>
        <p>{{$ctrl.text}}</p>
    </div>
</div>

<check-exercise
    exercise="$ctrl.exercise"
    round="$ctrl.activeRound"
    check-answer="$ctrl.checkAnswer()"
    on-round-complete="$ctrl.onRoundComplete({result, progress})"
>
</check-exercise>
