<div class="modal-header-logo">
    <img src="/assets/images/logo-modal-sm.png" alt="">
</div>
<div class="modal-content-block">
    <div class="title">
        Добро пожаловать <br>
        в ваш курс
    </div>
    <div><img src="/assets/images/skyrocket.png" alt=""></div>
    <div class="modal-action"><button ng-click="$ctrl.closeDialog()" class="btn btn-pr">Начать</button></div>
</div>