<div class="upload" nv-file-drop="" uploader="$ctrl.uploader">
    <div nv-file-over=""
         uploader="$ctrl.uploader"
         over-class="file-over-class"
         class="drop-zone"
         ng-class="{'has-label' : $ctrl.label}">
        <div ng-if="!$ctrl.loading">
            <label class="fake-upload btn">
                {{$ctrl.label}}
                <input type="file" nv-file-select="" uploader="$ctrl.uploader"/>
            </label>
        </div>
        <div class="text-center">
            <strong ng-if="$ctrl.loading">Загрузка...</strong>
            <strong ng-if="$ctrl.error" class="text-danger">Произошла ошибка<br>
                {{$ctrl.errorMessage}}
            </strong>
            <div class="uploads-list">
                <div class="item" ng-if="$ctrl.isArray($ctrl.file) && file.id" ng-repeat="file in $ctrl.file track by $index">
                    <div class="item-name">
                        <div class="item-name-inner"><span class="text">{{file.original_name}}</span></div>
                        <a href="#" ng-click="$ctrl.clearFile(file)"><span class="icon icon-trash"></span></a>
                    </div>
                    <div class="item-date">дата загрузки: {{file.created.toDate() | date:'dd.MM.yyyy'}}</div>
                </div>
                <div class="item" ng-if="!$ctrl.isArray($ctrl.file) && $ctrl.file.id">
                    <div class="item-name">
                        <div class="item-name-inner"><span class="text">{{$ctrl.file.original_name}}</span></div>
                        <a href="#" ng-click="$ctrl.clearFile($ctrl.file)"><span class="icon icon-trash"></span></a>
                    </div>
                    <div class="item-date">дата загрузки: {{$ctrl.file.created.toDate() | date:'dd.MM.yyyy'}}</div>
                </div>
            </div>
        </div>
    </div>
</div>