.load-file {
  .drop-zone {
    margin-top: 20px;
    border: 2px dashed;
    &.has-label {
      padding: 15px;
      margin-top: 5px;
    }
    &.file-over-class {
      border-color: darken($brand-primary, 50%) !important;
    }
  }
}

// upload block
.upload {
  max-width: 100%;
  .uploads-list {
    margin-top: 10px;
    .item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
      border-top: 1px solid $border-color;
      border-bottom: 1px solid $border-color;
      line-height: 1em;
      max-width: 100%;
      .item-name {
        //flex: 1;
        position: relative;
        display: flex;
        align-items: center;
        padding-right: 20px;
        overflow: hidden;
        height: 15px;
        .item-name-inner {
          flex: 1;
          overflow: hidden;
          text-overflow: ellipsis;
          text-align: left;
          .text {
            white-space: nowrap;
            display: inline;
          }
        }
        a {
          position: absolute;
          right: 0;
          top: 0;
          &:hover {
            opacity: .6;
          }
        }
      }
      .item-date {
        flex: 0 0 180px;
        white-space: nowrap;
        margin-left: 20px;
      }
      +.item {
        border-top: 0;
      }
    }
  }
}
.ie {
  .upload {
    .uploads-list {
      .item {
        .item-name {
          flex: 1;
          height: 17px;
        }
      }
    }
  }
}