<div class="dash-cards">
    <div class="card-item" ng-repeat="part in $ctrl.parts">
        <div class="card-item-inner">
            <div class="card-img"></div>
            <div class="card-title">
                <span ng-bind="part.type"></span>
            </div>
            <div class="card-progress">
                <round-progress
                        max="part.totalExercises"
                        current="part.completedExercises"
                        color="{{part.isDone ? '#618811' : '#e8a72d'}}"
                        bgcolor="#fff"
                        radius="25"
                        stroke="3"
                        semi="false"
                        rounded="false"
                        clockwise="true"
                        responsive="true"
                        duration="800"
                        animation="easeInOutQuart"
                        animation-delay="0"></round-progress>
                <span class="progress-text" ng-bind="part.totalExercises"></span>
            </div>
            <a ui-sref="exercise({lessonPartId: part.id, exerciseType: $ctrl.exerciseType})"></a>
        </div>
    </div>
</div>