dictionary-editor {
  .tree-list {
    margin: 0 -20px -20px;
    .item {
      .item-inner {
        .tabled {
          .line {
            &:last-child {
              > div {
                border-bottom: 0;
              }
            }
          }
          .btn {
            margin-top: 0;
          }
        }
      }
    }
  }
}