<div class="editor">
    <div class="raw" ng-if="!$ctrl.savedResult">
        <form class="col-xs-12" ng-submit="$ctrl.save();">
            <div class="form-group">
                <input type="text"
                       class="form-control"
                       ng-model="$ctrl.unit.name">
            </div>
            <div class="form-group">
                <input type="submit"
                        class="btn btn-block btn-primary"
                        value="Сохранить">
            </div>
        </form>
    </div>
    <div class="saved-result" ng-if="$ctrl.savedResult == 'SUCCESS'">
        <p class="success"><strong>Сохранено успешно</strong></p>
        <a href="" ng-click="$ctrl.reload();">Назад</a>
    </div>
    <div class="saved-result" ng-if="$ctrl.savedResult == 'FAIL'">
        <p class="fail"><strong>При сохранении произошла ошибка</strong></p>
        <a href="" ng-click="$ctrl.reload();">Повторить</a>
    </div>
</div>