<div class="content-block">
    <div class="block-title">2. Введите информацию о упражнении</div>
    <div class="block-content">
        <div class="block-line fields">
            <div class="field-block ">
                <label>Тип упражнения</label>
                <div class="input-wrap">
                    <ui-select ng-model="$ctrl.exercise.type"
                               ng-init="::(types = $ctrl.exercise.getExerciseTypes())" theme="selectize" title="">
                        <ui-select-match placeholder="">{{$select.selected.title}}</ui-select-match>
                        <ui-select-choices repeat="type in (types | filter: $select.search) track by $index">
                            <span>{{type.title}}</span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
        <div class="block-line">
            <div class="field-block">
                <label>Название упражнения</label>
                <div class="input-wrap">
                    <input type="text" ng-model="$ctrl.exercise.name">
                </div>
            </div>
        </div>
        <div class="block-line">
            <div class="field-block">
                <load-file label="Загрузите аудио файл задания" url="audio/upload" callback="$ctrl.exercise.onAudioTaskLoaded(response)" file="$ctrl.exercise.task_audio">
                </load-file>
            </div>
        </div>
        <div class="block-line">
            <div class="field-block">
                <label>Введите задание на английском</label>
                <div class="input-wrap">
                    <text-angular ng-model="$ctrl.exercise.task_en"></text-angular>
                </div>
            </div>
        </div>
        <div class="block-line">
            <div class="field-block">
                <label>Введите задание на русском</label>
                <div class="input-wrap">
                    <text-angular ng-model="$ctrl.exercise.task_ru"></text-angular>
                </div>
            </div>
        </div>
    </div>
</div>