$color: #575759;
$sc-color: #909090;
$pr-color: #9fc74e;
$info-color: #e8a72d;
$dang-color: #cb2228;
$btn-color: #4a83ca;
$border-color: #d9dcdd;

exercise {
  .skip {
    background-color: #31708f !important;
  }
  .answer {
    background-color: #398439 !important;
  }
}

.cards-row {
  +.cards-row {
    margin-top: 40px;
  }
  .cards-navi {
    font-size: 14px;
    margin-bottom: 20px;
    ul {
      @extend .panel-list;
      li {
        display: inline-block;
        margin-right: 30px;
        &.active {
          a {
            border-bottom: 1px solid $btn-color;
          }
        }
        a {
          text-decoration: none;
          color: $color;
        }
      }
    }
  }
  .cards-list {

  }
}
.cards-row {
  position: relative;
  .remove-card {
    position: absolute;
    top: 0;
    right: 0;
  }
}
.round-block {
  position: relative;
  .remove-round {
    position: absolute;
    top: 0;
    right: 0;
  }
  + .round-block {
    margin-top: 40px;
  }
}

.couple-block {
  position: relative;
  .remove-couple {
    position: absolute;
    top: -5px;
    right: -5px;
  }
}

.add-round {
  margin-top: 30px;
}
crossword {
  max-width: 100%;
  .crossword-wrapper {
    .crossword {
      width: auto;
      max-width: 100%;
      td {
        border: 0;
        input {
          width: 50px;
          height: 50px;
          font-size: 24px;
          font-weight: 500;
          color: $sc-color;
          text-transform: uppercase;
          padding: 0;
          text-align: center;
          border-color: $border-color;
          margin: 1px;
        }
      }
    }
  }
}
