<div class="content-block">
    <div class="block-content">
         <div class="block-line fields">
            <div class="field-block">
                <label>Добавить ссылку на грамматический справочник</label>
                <ui-select ng-model="$ctrl.exercise.grammar" theme="selectize">
                    <ui-select-match placeholder="Начните вводить название">
                        <span ng-click="$ctrl.exercise.grammar = null;">{{$select.selected.name}}</span>
                    </ui-select-match>
                    <ui-select-choices repeat="child in $ctrl.grammars"
                                       refresh="$ctrl.getGrammars($select.search)"
                                       refresh-delay="300">
                        <span>{{child.name}}</span>
                    </ui-select-choices>
                </ui-select>
            </div>

            <div class="field-block">
                <label>Добавить ссылку на словарь</label>
                <ui-select ng-model="$ctrl.exercise.dictionary" theme="selectize">
                    <ui-select-match placeholder="Начните вводить название">
                        <span ng-click="$ctrl.exercise.dictionary = null;">{{$select.selected.name}}</span>
                    </ui-select-match>
                    <ui-select-choices repeat="child in $ctrl.dictionaries"
                                       refresh="$ctrl.getDictionaries($select.search)"
                                       refresh-delay="300">
                        <span>{{child.name}}</span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>
</div>

<div class="form-submit">
    <button ng-click="$ctrl.save()"
            class="btn btn-pr btn-lg">
        Сохранить
    </button>
</div>