<section class="site-wrapper login-page">
    <div class="site-header">
        <div class="container">
            <div class="header-inner">
                <div class="logo">
                    <img src="assets/images/alibra-logo-beta.svg" alt="">
                </div>
                <div class="navi">
                    <ul>
                        <li><a href="#">помощь</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <section class="site-middle ui-view-wrapper">
        <div class="dialog-line">
            <div class="dialog-inner">
                Добро пожаловать в виртуальный кампус ALIBRA ENGLISH CAMPUS. Сайт для эффективного изучения английского
                языка.
                <a href="#" class="btn btn-info">Подробнее об ALIBRA ENGLISH CAMPUS</a>
            </div>
        </div>
        <div class="login-btn-block" ng-if="!$ctrl.showLoginForm"><a href="#" class="btn btn-pr" ng-click="$ctrl.showLoginForm = true">Войти</a></div>
        <div class="login-form" ng-init="$ctrl.currentTab='signIn'" ng-if="$ctrl.showLoginForm">
                <form class="form-signin" ng-if="$ctrl.currentTab=='signIn'">
                    <div class="form-title">
                        <span class="title">Войти</span>
                        <span class="info">*</span>войти можно используя свой логин и пароль<br>
                        от личного кабинета на сайте alibra.ru
                    </div>
                    <div class="line">
                        <label>Логин:</label>
                        <input type="text"
                               ng-model="email"
                               class="form-control"
                               placeholder="E-mail"
                               required autofocus>
                    </div>
                    <div class="line">
                        <label>Пароль:</label>
                        <input type="password"
                               ng-model="password"
                               class="form-control"
                               placeholder="Password"
                               required>
                    </div>
                    <div class="line form-navi">
                        <button class="btn-pr btn btn-lg"
                                ng-click="$ctrl.auth(email, password);"
                                type="submit">
                            {{'SIGN IN' | translate}}
                        </button>
                        <!--<a href="#" ng-click="$ctrl.currentTab='restorePass'">Забыли пароль?</a>-->
                        <!--<a href="#">Регистрация</a>-->
                    </div>
                </form>
                <form class="form-signin" ng-if="$ctrl.currentTab=='restorePass'">
                    <div class="form-title">
                        <span class="title">ЗАБЫЛИ ПАРОЛЬ?</span>
                    </div>
                    <div class="line">
                        <label>E-mail:</label>
                        <input type="text"
                               ng-model="email"
                               class="form-control"
                               autofocus>
                    </div>
                    <div class="line">
                        <label>Телефон:</label>
                        <input type="tel"
                               ng-model="phone"
                               class="form-control"
                               autofocus>
                    </div>
                    <div class="line form-navi">
                        <button class="btn-pr btn btn-lg"
                                ng-click="$ctrl.currentTab='getCode'"
                                type="submit">
                            {{'Выслать код' | translate}}
                        </button>
                    </div>
                </form>
                <form class="form-signin" ng-if="$ctrl.currentTab=='getCode'">
                    <div class="form-title">
                        <span class="title">ЗАБЫЛИ ПАРОЛЬ?</span>
                    </div>
                    <div class="line">
                        <label>Введите четырех значный код:</label>
                        <input type="text"
                               ng-model="email"
                               class="form-control"
                               autofocus>
                    </div>
                    <div class="line form-navi">
                        <button class="btn-pr btn btn-lg"
                                ng-click="$ctrl.currentTab='newPass'"
                                type="submit">
                            {{'Принять' | translate}}
                        </button>
                    </div>
                </form>
                <form class="form-signin" ng-if="$ctrl.currentTab=='newPass'">
                    <div class="form-title">
                        <span class="title">ЗАБЫЛИ ПАРОЛЬ?</span>
                    </div>
                    <div class="line">
                        <label>Новый пароль:</label>
                        <input type="text"
                               ng-model="email"
                               class="form-control"
                               autofocus>
                    </div>
                    <div class="line">
                        <label>Повторите пароль:</label>
                        <input type="text"
                               ng-model="email"
                               class="form-control"
                               autofocus>
                    </div>
                    <div class="line form-navi">
                        <button class="btn-pr btn btn-lg"
                                ng-click=""
                                type="submit">
                            {{'Принять' | translate}}
                        </button>
                    </div>
                </form>
            </div>
    </section>
    <footer class="site-footer">
        <div class="copy">
            <div>© 2015 ALIBRA SCHOOL</div>
            <div>Сеть школ иностранных языков</div>
        </div>
    </footer>
</section>