.container-grid {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
.login-btn-block {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  .btn {
    font-weight: 600;
    cursor: pointer;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 16px;
    line-height: 68px;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
  }
}
.login-page {
  //height: 100%;
  background-image: url(/assets/images/login-bg.jpg);
  background-size: cover;
  background-position: center center;
  img {
    max-width: 100%;
  }
  .site-footer {
    color: #fff;
    position: relative;
    &:after {
      content: '';
      opacity: .8;
      background-image: linear-gradient(bottom, black 0%, transparent 100%);
      position: absolute;
      height: 150px;
      left: 0;
      right: 0;
      bottom: 0;
    }
    div {
      position: relative;
      z-index: 1;
    }
  }
  .site-middle {
    position: relative;
    .form-wrap {
      flex: 1;
      height: auto;
    }
  }
  .site-header {
    .navi {
      ul {
        @extend .panel-list;
        li {
          a {
            text-transform: uppercase;
            color: $color;
            font-size: 12px;
            text-decoration: none;
            font-weight: 500;
            &:hover {
              color: $pr-color;
            }
          }
        }
      }
    }
  }
  .login-form {
    background: #fff;
    border-radius: 2px;
    padding: 30px;
    box-shadow: 0.5px 0.9px 81px rgba(109, 128, 134, 0.61);
    width: 500px;
    margin: auto;
    [type="text"], [type="password"] {
      width: 100%;
      height: 55px;
      padding: 0 20px;
      background: #fff;
      border: 1px solid #dce1e2;
      border-radius: 2px;
    }
    .line {
      label {
        font-weight: 300;
        color: $sc-color;
        margin-bottom: 5px;
        display: block;
      }
      &:not(:last-child){
        margin-bottom: 40px;
      }
      &.form-navi {
        @extend .flex-grid;
        @extend .flex-grid.vcenter;
        justify-content: flex-start;
        .btn {
          padding-left: 40px;
          padding-right: 40px;
        }
        a {
          margin-left: 35px;
          font-style: 14px;
          color: #353535;
          text-decoration: underline;
          white-space: nowrap;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
    .form-title {
      @extend .flex-grid;
      @extend .flex-grid.vcenter;
      color: $color;
      font-size: 14px;
      margin-bottom: 40px;
      font-weight: 600;
      .info {
        margin-top: -15px;
      }
      .title {
        font-weight: 500;
        color: #353535;
        font-size: 24px;
        margin-right: 40px;
        text-transform: uppercase;
      }
    }
  }
}
.dialog-line {
  padding: 15px 0;
  background-color: #edf1f2;
  .dialog-inner {
    @extend .container-grid;
    color: $color;
    font-weight: 500;
    @extend .flex-grid;
    @extend .flex-grid.vcenter;
    .btn {
      margin-left: 50px;
    }
  }
}
.ie {
  .login-form {
    margin: 30px auto;
  }
}