<div class="list">
    <div class="row">
        <div class="form-group col-md-3 pull-right">
        </div>
    </div>
    <div class="row">
        <ul class="list-with-index">
            <li ng-repeat="course in $ctrl.courses">
                <a  ui-sref="base.courseEditor({id: course.id})"
                    class="full"
                    ng-bind="course.name"></a>
                <strong class="index" ng-bind="$index+1"></strong>
                <span ng-bind="course.name"></span>
            </li>
        </ul>
    </div>
</div>