<div class="list">
    <div class="content-tabs">
        <ul>
            <li><a ui-sref="base.mailings">Редактировать</a></li>
            <li><a ui-sref="base.mailingsEditor({id: 'create'})">Добавить</a></li>
        </ul>
    </div>


    <div class="content-block">
        <div class="block-content">
            <div class="block-line fields">
                <div class="field-block">
                    <label for="exercises_search">Поиск</label>
                    <div class="search-field">
                        <div class="input-wrap">
                            <input type="search"
                                   id="exercises_search"
                                   ng-model="query"
                                   ng-change="$ctrl.search(query)"
                                   ng-model-options="{debounce: 300}"/>
                        </div>
                        <button class="btn search-btn">Найти</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <ul class="list-templates">
            <li ng-repeat="exercise in $ctrl.exercises">
                <a href="/lessons/edit/" class="full" ng-bind="exercise.name"></a>
                <strong class="index" ng-bind="$index+1"></strong>
                <span ng-bind="exercise.name"></span>
            </li>
        </ul>
    </div>
</div>