<div class="list tree-list editor">
    <div class="content-tabs">
        <ul>
            <li><a ui-sref="base.grammarEditor({id: 'create'})">Добавить</a></li>
        </ul>
    </div>

    <div class="search">
        <input type="search"
               ng-model="query"
               ng-change="$ctrl.search(query)"
               ng-model-options="{debounce: 300}"
               placeholder="Введите поисковую фразу"/>
    </div>

    <div class="line" ng-repeat="item in $ctrl.grammars" ng-if="!item.isDeleted">
        <div class="title">
            <a ui-sref="base.grammarEditor({id: item.id})">
                <span class="title" ng-disabled="item.id" ng-bind="item.name"></span>
            </a>
        </div>
        <div>
            <a ng-if="item.id" ng-click="$ctrl.remove(item)" class="btn-remove" confirm>Удалить</a>
            <a ng-if="!item.id" ng-click="item.isDeleted = true" class="btn-remove">Отменить</a>
        </div>
    </div>

    <ul uib-pagination ng-if="$ctrl.totalCount > $ctrl.countPerPage"
                    total-items="$ctrl.totalCount"
                    ng-model="$ctrl.currentPage"
                    items-per-page="$ctrl.countPerPage"
                    max-size="7"
                    ng-change="$ctrl.goToPage($ctrl.currentPage)"
                    class="">
    </ul>
</div>