<div class="content-tabs">
    <ul>
        <li><a ui-sref="base.mailings">Редактировать</a></li>
        <li class="active"><a ui-sref="base.mailingsEditor({id: 'create'})">Добавить</a></li>
    </ul>
</div>
<div class="content-block">
    <div class="block-title">1. Добавление новой рассылки</div>
    <div class="block-content">
        <div class="block-line">
            <div class="field-block">
                <label>Введите название рассылки</label>
                <div class="input-wrap">
                    <input type="text">
                </div>
            </div>
        </div>
        <div class="block-line">
            <div class="field-block">
                <label>Введите текст рассылки</label>
                <div class="input-wrap">
                    <textarea></textarea>
                </div>
            </div>
        </div>
        <div class="block-line fields">
            <div class="field-block">
                <label>Изменить тип рассылки</label>
                <div class="input-wrap">
                    <ui-select ng-model="$ctrl.selectedComponent" theme="selectize" title="">
                        <ui-select-match placeholder="">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="template in $ctrl.templates| filter: $select.search">
                            <span ng-bind-html="template.name | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="field-block field-btn">
                <div class="input-wrap">
                    <a href="#" class="btn">Периодичность отправки</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content-block bordered">
    <div class="block-title">2. Пользователи</div>
    <div class="block-content">
        <div class="block-line fields">
            <div class="field-block ">
                <label>Тип пользователей для отправки</label>
                <div class="input-wrap">
                    <ui-select ng-model="$ctrl.selectedComponent" theme="selectize" title="">
                        <ui-select-match placeholder="">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="template in $ctrl.templates| filter: $select.search">
                            <span ng-bind-html="template.name | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="field-block ">
                <label>Введите ФИО пользователя рассылки</label>
                <div class="input-wrap">
                    <input type="text">
                </div>
            </div>
        </div>
        <div class="block-line">
            <a href="#" class="btn btn-info">Отправить сейчас</a>
        </div>
    </div>
</div>
<div class="form-submit">
    <input type="submit" class="btn btn-pr btn-lg" value="ok">
</div>

<div class="editor">
    <div ng-if="!$ctrl.savedResult">


    </div>
    <div class="saved-result" ng-if="$ctrl.savedResult == 'SUCCESS'">
        <p class="success"><strong>Сохранено успешно</strong></p>
        <a href="" ng-click="$ctrl.reload();">Создать новый</a>
    </div>
    <div class="saved-result" ng-if="$ctrl.savedResult == 'FAIL'">
        <p class="fail"><strong>При сохранении произошла ошибка</strong></p>
        <a href="" ng-click="$ctrl.reload();">Создать новый</a>
    </div>
</div>