<form class="content-form" ng-submit="$ctrl.save();">
    <div class="editor">
        <div class="content-tabs">
            <ul>
                <li class="active">
                    <a ui-sref="base.users">К списку пользователей</a>
                </li>
            </ul>
        </div>
        <div class="content-block bordered">
            <div class="block-title">Редактировать учетные данные</div>
            <div class="block-content">
                <div class="block-line fields">
                    <div class="field-block">
                        <label>Фамилия</label>
                        <div class="input-wrap">
                            <input type="text" ng-model="$ctrl.user.last_name">
                        </div>
                    </div>
                    <div class="field-block">
                        <label>Имя</label>
                        <div class="input-wrap">
                            <input type="text" ng-model="$ctrl.user.first_name">
                        </div>
                    </div>
                    <div class="field-block">
                        <label>Отчество</label>
                        <div class="input-wrap">
                            <input type="text" ng-model="$ctrl.user.middle_name">
                        </div>
                    </div>
                </div>
                <div class="block-line fields">
                    <div class="field-block">
                        <label>№ договора</label>
                        <div class="input-wrap">
                            <input type="text" ng-model="$ctrl.user.agreement_number">
                        </div>
                    </div>
                    <div class="field-block">
                        <label>Город</label>
                        <div class="input-wrap">
                            <input type="text" ng-model="$ctrl.user.city">
                        </div>
                    </div>
                </div>
                <div class="block-line fields">
                    <div class="field-block">
                        <label>E-mail</label>
                        <div class="input-wrap">
                            <input type="text" ng-disabled="$ctrl.user.id" ng-model="$ctrl.user.email">
                        </div>
                    </div>
                    <div class="field-block">
                        <label>Телефон</label>
                        <div class="input-wrap">
                            <input type="text" ng-model="$ctrl.user.phone">
                        </div>
                    </div>
                </div>

                <div class="block-line fields">
                    <div class="field-block">
                        <label>Пароль</label>
                        <div class="input-wrap">
                            <input type="text" ng-model="$ctrl.user.password">
                        </div>
                    </div>
                </div>

                <div class="block-line fields">
                    <div class="field-block">
                        <label>
                            Признак Демо
                            <input type="checkbox" ng-model="$ctrl.user.is_demo">
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-block btn-pr" value="Сохранить">
                </div>
            </div>
        </div>

        <div class="content-block bordered" ng-if="$ctrl.user.id">
            <div class="block-title">Курсы</div>
            <div class="block-content">
                <div class="block-line fields">
                    <div class="field-block">
                        <div class="line" ng-repeat="course in $ctrl.user.courses">
                            <div class="title">
                                <span ng-bind="course.name"></span>
                            </div>
                            <div>
                                <a ng-click="$ctrl.removeCourse(course)" class="btn-remove" confirm>
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            </div>
                        </div>

                        <div class="line" ng-if="addCourse">
                            <div class="title">
                                <ui-select ng-model="$ctrl.selectedCourseToAdd" theme="selectize">
                                    <ui-select-match placeholder="Начните вводить название">
                                        {{$select.selected.name}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="course in $ctrl.coursesToAdd"
                                                       refresh="$ctrl.loadCourses($select.search)"
                                                       refresh-delay="300">
                                        <span>{{course.name}}</span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div>
                                <a ng-click="$ctrl.addCourse($ctrl.selectedCourseToAdd, item.id);">Сохранить</a>
                            </div>
                            <div>
                                <a class="btn-remove" ng-click="$parent.addCourse = false;">Отменить</a>
                            </div>
                        </div>

                        <div class="inner-action">
                            <a href="#" ng-click="addCourse = !addCourse;">Добавить курс</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>