<form class="content-form" ng-submit="$ctrl.save();">
    <div class="form-inner">
        <div class="content-tabs">
            <ul>
                <li class="active">
                    <a ui-sref="base.dictionaries">К списку словарей</a>
                </li>
            </ul>
        </div>
        <div class="content-block">
            <div class="block-title">1. Название словаря</div>
            <div class="block-content">
                <div class="block-line">
                    <div class="field-block">
                        <label>Введите название словаря</label>
                        <div class="input-wrap">
                            <input type="text" ng-model="$ctrl.dictionary.name">
                        </div>
                    </div>
                </div>
                <div class="block-line">
                    <div class="field-block">
                        <input type="submit"
                               class="btn btn-pr"
                               value="Сохранить">
                    </div>
                </div>
            </div>
        </div>

        <div class="content-block bordered" ng-if="$ctrl.dictionary.id">
            <div class="block-title">2. Добавьте слова в словарь</div>
            <div class="block-content">
                <div class="tree-list">
                    <div class="item">
                        <div class="item-inner">
                            <div class="tabled">
                                <div class="line">
                                    <div class="title">
                                        <ui-select ng-model="$ctrl.selectedWord" theme="selectize">
                                            <ui-select-match placeholder="Начните вводить название">
                                                {{$ctrl.selectedWord.word}} {{$ctrl.selectedWord.translationsWords}}
                                            </ui-select-match>
                                            <ui-select-choices repeat="wordToAdd in $ctrl.wordsToAdd"
                                                               refresh="$ctrl.searchWordsToAdd($select.search)"
                                                               refresh-delay="300">
                                                <span>{{wordToAdd.word}} {{wordToAdd.translationsWords}}</span>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <div class="btn-action">
                                        <a ng-click="$ctrl.addWord($ctrl.selectedWord); $ctrl.selectedWord = null" class="btn">Добавить слово</a>
                                    </div>
                                </div>

                                <div class="line">
                                    <div class="title">
                                        <input placeholder="Фильтр слов в словаре" type="text" ng-model="query" ng-change="$ctrl.getWords(query)" ng-model-options="{debounce: 300}">
                                    </div>
                                </div>

                                <div class="line" ng-if="!word.is_deleted" ng-repeat="word in $ctrl.words">
                                    <div class="title">
                                        <span class="line-index" ng-bind="($ctrl.currentPage-1)*$ctrl.countPerPage + $index+1 "></span>
                                        {{word.word}} {{word.translationsWords}}
                                    </div>
                                    <div><a ng-click="$ctrl.removeWord(word)" class="btn-remove" confirm>Удалить</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <ul uib-pagination ng-if="$ctrl.totalCount > $ctrl.countPerPage"
                    total-items="$ctrl.totalCount"
                    ng-model="$ctrl.currentPage"
                    items-per-page="$ctrl.countPerPage"
                    max-size="7"
                    ng-change="$ctrl.getWords()"
                    class="">
                </ul>
            </div>
        </div>
    </div>
</form>