<div class="item-inner">
    <div class="tabled">
        <div class="search">
            <input type="search"
                   ng-model="query"
                   ng-change="$ctrl.search(query)"
                   ng-model-options="{debounce: 300}"
                   placeholder="Введите поисковую фразу"/>
        </div>
        <div class="line" ng-repeat="item in $ctrl.sections" ng-if="!item.isDeleted"
             ng-init="edit = false; itemNameCopy = item.name;">
            <div class="title">
                <span class="line-index" ng-bind="($ctrl.currentPage-1)*$ctrl.countPerPage + $index+1"></span>
                <input class="title" ng-disabled="item.id && !edit" ng-model="item.name"/>
            </div>
            <div>
                <a ng-show="item.id && !edit" ng-click="edit = true; itemNameCopy = item.name">
                    Редактировать
                </a>
                <a ng-show="!item.id || edit" ng-click="$ctrl.save(item, this);">
                    Сохранить
                </a>
            </div>
            <div>
                <a ng-show="item.id && edit" ng-click="item.name = itemNameCopy; edit = false;" class="btn-remove">Отменить</a>
                <a ng-show="item.id && !edit" ng-click="$ctrl.remove(item)" class="btn-remove" confirm>Удалить</a>
                <a ng-show="!item.id" ng-click="item.isDeleted = true" class="btn-remove">Отменить</a>
            </div>
            <div class="line-inner collapse"
                 uib-collapse="!edit"
                 ng-if="edit"
                 ng-init="$ctrl.loadThemes(item.id);">
                <div class="tabled">
                    <div class="line"
                         ng-init="editChild = false;"
                         ng-if="!itemChild.isDeleted"
                         ng-repeat="itemChild in $ctrl.themes[item.id] track by $index">
                        <div class="title pointer">
                            <a ng-click="!itemChild.id || editChild || $ctrl.goToTheme(itemChild.id)">
                                <input class="title" ng-disabled="itemChild.id && !editChild" ng-model="itemChild.name"/>
                            </a>
                        </div>
                        <div>
                            <a ng-show="itemChild.id && !editChild" ng-click="editChild = true;">Редактировать</a>
                            <a ng-show="!itemChild.id || editChild"
                               ng-click="$ctrl.addTheme(itemChild, item.id, this);">Сохранить</a>
                        </div>
                        <div>
                            <a ng-show="itemChild.id" ng-click="$ctrl.removeTheme(itemChild, item.id)" class="btn-remove" confirm>Удалить</a>
                            <a ng-show="!itemChild.id" class="btn-remove"
                               ng-click="itemChild.isDeleted = true">Отменить</a>
                        </div>
                    </div>
                </div>
                <div class="inner-action">
                    <a ng-click="$ctrl.themes[item.id].push({})" class="btn btn-pr">Добавить дочерний элемент</a>
                </div>
            </div>
        </div>
        <div><a ng-click="$ctrl.sections.push({})" class="btn">Добавить</a></div>
        <ul uib-pagination ng-if="$ctrl.totalCount > $ctrl.countPerPage"
                        total-items="$ctrl.totalCount"
                        ng-model="$ctrl.currentPage"
                        items-per-page="$ctrl.countPerPage"
                        max-size="7"
                        ng-change="$ctrl.goToPage($ctrl.currentPage)"
                        class="">
        </ul>
    </div>
</div>