compare-exercise {
  .cards-block {
    .card-wrap {
      border: 2px solid #ccc;
      margin-bottom: 20px;
      width: 780px;
      border-radius: 2px;
    }
    .card-img {
      width: 100%;
      height: 320px;
      @extend .full-img;
    }
    .card-info {
      @extend .flex-grid;
      align-items: center;
      padding: 40px 30px 0;
      .card-text {
        flex: 0 0 150px;
        color: #353535;
        font-size: 18px;
        line-height: 24px;
        text-transform: uppercase;
        font-family: Arial, sans-serif;
        font-weight: 700;
        .transcription {
          font-weight: 500;
        }
      }
      audio-player {
        flex: 1;
      }
    }
  }
}
