<div class="compare-ex cards-block">
    <div class="card-wrap">
        <div class="card-img" ng-if="$ctrl.activeRound.image.full_path"><img ng-src="{{$ctrl.activeRound.image.full_path}}" alt=""></div>
        <div class="card-info">
            <div class="card-text">
                <p>{{$ctrl.activeRound.answer}}</p>
                <div class="transcription">{{$ctrl.activeRound.getTransription()}}</div>
            </div>
            <audio-player src="$ctrl.activeRound.audio_answer.full_path"></audio-player>
        </div>
    </div>
    <voice-recorder on-recorded="$ctrl.onRecorded({src})" on-text-changed="$ctrl.onTextChanged({text})"></voice-recorder>
    <div class="card-answer" ng-if="$ctrl.audioRecord">
        <audio-player src="$ctrl.audioRecord"></audio-player>
        <p>{{$ctrl.text}}</p>
    </div>
</div>

<check-exercise
    exercise="$ctrl.exercise"
    round="$ctrl.activeRound"
    check-answer="$ctrl.checkAnswer()"
    on-round-complete="$ctrl.onRoundComplete({result, progress})"
    >
</check-exercise>