<div class="site-header">
    <div class="header-inner">
        <div class="logo" ui-sref="dashboard">
            <img src="assets/images/alibra-logo-beta.svg" alt="">
        </div>
        <div class="header-navi">
            <ul>
                <li><a ui-sref="dashboard">Units</a></li>
                <li><a ui-sref="vocabularyRepetitionGroups">Revision Calendar<span class="hide counter">3</span></a></li>
                <li><a ui-sref="grammar">Grammar</a></li>
                <li><a ui-sref="vocabulary">Vocabulary</a></li>
            </ul>
        </div>
        <div class="user-navi">
            <ul>
                <li><a ui-sref="cabinetProgress" class="icon-link"><span class="icon icon-chart"></span></a></li>
                <li><a ui-sref="faq" class="icon-link"><span class="icon icon-help"></span></a></li>
                <li ng-class="{'hasChild': $ctrl.notices.length > 0}">
                    <a href="#" class="icon-link"><span class="icon icon-notification"></span><span ng-if="$ctrl.notices.length > 0" class="counter">{{$ctrl.notices.length}}</span></a>
                    <ul ng-if="$ctrl.notices.length > 0" class="notification-list">
                        <li ng-repeat="notice in $ctrl.notices" class="notification-line">
                            <div ng-click="$ctrl.closeNotice($index, notice.hint);">{{notice.text}}<span class="glyphicon glyphicon-remove"></span></div>
                        </li>
                    </ul>
                </li>
                <li class="hasChild">
                    <a href="#">{{$ctrl.user.first_name || $ctrl.user.email}}</a>
                    <ul>
                        <li><a href="http://alibra.ru" target="_blank">Перейти в личный кабинет</a></li>
                        <li><a ng-click="$ctrl.logout()" >Выход</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>