<div class="site-footer">
    <div class="copy">
        <div>© 2016 ALIBRA SCHOOL</div>
        <div>Сеть школ иностранных языков</div>
    </div>
    <a href="#showchat" class="sticky-help-btn"><span>Нашли ошибку?</span></a>
</div>