listen-read-click-exercise {
  .card-wrap {
    display: flex;
    padding: 0;
    flex-direction: row;
    justify-content: center;
    border: 0;
    .card-info {
      &.text {
        text-align: center;
        font-size: 20px;
        font-weight: 500;
      }
    }
    .item {
      background-color: white;
      border: 2px solid $border-color_new;
      border-radius: 2px;
      width: 260px;
      height: 160px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      font-weight: 700;
      cursor: pointer;
      @extend .full-img;
      +.item {
        margin-left: -2px;
      }
      &.active {
        background-color: #eef6fa;
        &.item-img {
          position: relative;
          &:after {
            position: absolute;
            content: '';
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: #eef6fa;
            opacity: .5;
          }
        }
      }
      &.answer {
        background-color: lighten($pr-color, 45%);
        &.item-img {
          position: relative;
          &:after {
            position: absolute;
            content: '';
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: lighten($pr-color, 45%);
            opacity: .5;
          }
        }
      }
      &.error {
        background-color: lighten($dang-color, 45%);
        &.item-img {
          position: relative;
          &:after {
            position: absolute;
            content: '';
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: lighten($dang-color, 45%);
            opacity: .5;
          }
        }
      }
    }
  }
}