<div class="cards-block">
    <div class="card-wrap" ng-if="$ctrl.activeRound.question">
        <div class="card-info text" ng-bind-html="$ctrl.activeRound.question"></div>
    </div>
    <div class="card-wrap" ng-if="$ctrl.activeRound.audio.full_path">
        <div class="card-info">
            <audio-player src="$ctrl.activeRound.audio.full_path"></audio-player>
        </div>
    </div>
    <div class="card-wrap">
        <div class="item"
             ng-repeat="element in $ctrl.activeRound.elements"
             ng-click="$ctrl.toggleElement(element)"
             ng-class="{
                    active : $ctrl.isSelected(element),
                    error : $ctrl.showErrors && $ctrl.isSelected(element) && !element.answer,
                    answer : $ctrl.showAnswers && element.answer,
                    'item-img': element.image.full_path,
                    }
            ">
                <div ng-if="element.image.full_path">
                    <img ng-src="{{element.image.full_path}}" alt="">
                </div>
                <div ng-if="!element.image.full_path">
                    {{element.text}}
                </div>
        </div>
    </div>
</div>

<check-exercise
    exercise="$ctrl.exercise"
    round="$ctrl.activeRound"
    check-answer="$ctrl.checkAnswer()"
    set-answer-visibility="$ctrl.setAnswerVisibility(isVisible)"
    on-round-complete="$ctrl.onRoundComplete({result, progress})"
>
</check-exercise>