@mixin animation($dur, $name) {
  animation-duration: $dur;
//animation-delay: .5s;
  animation-fill-mode: both;
  backface-visibility: visible;
  animation-name: $name;
}
five-cards-exercise {

  check-exercise {
    display: block;
  }
  .cards-block {
    width: 100%;
    border: 0;
    padding: 0;
    .progress {
      height: 25px;
      border-radius: 12px;
      box-shadow: none;
      margin-bottom: 30px;
      .progress-bar {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 10px;
        box-shadow: none;
        span {
          color: #353535;
          font-size: 14px;
          font-weight: 500;
          white-space: nowrap;
        }
      }
    }
    .card-task {
      flex: 0 0 100%;
      width: 100%;
    }
    .cards {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 -10px;
      .card {
        padding: 0 10px;
        flex: 1;
        height: 285px;
        .card-inner {

        }
      }
    }
  }
}
// card backdrop
.card-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  display: none;
  align-items: center;
  justify-content: center;
  .backdrop {
    background-color: transparent;
    height: 285px;
    width: 20px;
  }
  &.flipIn {
    display: flex;
    .backdrop {
      @include animation(1.5s,backdrop-flip);
    }
  }
  &.flipOut {
    display: flex;
    .backdrop {
      @include animation(1.5s,backdrop-flip-out);
    }
  }
}
.card {
  .card-shirt {
    background-color: white;
    border-radius: 15px;
    background-image: url(/assets/images/card-icon.svg);
    background-size: 153px 225px;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    border: 2px solid $border-color_new;
    margin-bottom: -285px;
    cursor: pointer;
  }
  .card-inner-wrap {
    position: relative;
    height: 100%;
    width: 100%;
  }
  .card-inner {
    display: none;
    width: 380px;
    height: 525px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -250px 0 0 -190px;
    text-align: center;
    .card-modal-wrap {
      transform: rotate3d(0, 1, 0, -180deg);
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 40px;
      font-weight: 500;
      height: 100%;
      .help-line {
        font-size: 16px;
      }
      .card-question {
        margin-top: 25px;
        font-size: 18px;
        color: #323232;
        font-weight: 700;
      }
      .card-answer {
        margin-top: 40px;
        width: 100%;
      }
      check-exercise .card-action {
        //height: 55px;
      }
      .card-action {
        margin: 30px 0 10px;
        .card-result {
          margin: 0;
        }
      }
      .card-answer {
        border: 0;
        width: 100%;
        text-align: left;
        margin-bottom: 0;
        padding: 0;

      }
      .text-hint {
        line-height: 1.3em;
      }
    }
  }
  &:hover {
    .card-shirt {
      background-color: #f4f8fb;
    }
  }
  &.flipIn {
    .card-inner-wrap {
      @include animation(1.5s, full-screen);
      position: static;
    }
    .card-shirt {
      display: none;
    }
    .card-inner {
      cursor: pointer;
      display: block;
      @include animation(1.5s, flipIn);
      z-index: 1001;
      width: 380px;
      height: 525px;
      background-color: #fff;
      border-radius: 20px;
      &:before {
        content: '';
        background-image: url(/assets/images/card-icon_n.svg);
        background-size: 272px 400px;
        background-position: center top;
        background-repeat: no-repeat;
        padding-top: 90px;
        position: absolute;
        top: -90px;
        left: 0;
        right: 0;
      }
      .card-modal-wrap {

      }
    }
  }
  &.flipOut {
    .card-inner-wrap {
      @include animation(1.5s, full-screen-rev);
      position: relative;
    }
    .card-shirt {
      display: block;
    }
    .card-inner {
      display: block;
      @include animation(1.5s, flipOut);
      z-index: 1001;
      width: 380px;
      height: 525px;
      background-color: #fff;
      border-radius: 20px;
      .card-modal-wrap {
        display: flex;
      }
    }
  }
}
@keyframes flipIn {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, 0deg);
    animation-timing-function: ease-out;
  }
  0% {

  }
  50% {
    width: 380px;
    height: 525px;
    transform: perspective(400px) translate3d(0, 0, 0) rotate3d(0, 1, 0, 180deg);
    animation-timing-function: ease-out;

  }
  100% {

  }
  to {
    transform: perspective(400px) translate3d(0, 0, 0) rotate3d(0, 1, 0, 180deg);
    animation-timing-function: ease-out;
    width: 380px;
    height: 525px;
  }
}
@keyframes flipOut {
  from {
    transform: perspective(400px) translate3d(0, 0, 0) rotate3d(0, 1, 0, 180deg);
    animation-timing-function: ease-out;
    width: 380px;
    height: 525px;
  }
  20% {
    visibility: hidden;
  }
  50% {
    transform: perspective(400px) translate3d(0, 0, 0) rotate3d(0, 1, 0, 360deg);
    animation-timing-function: ease-out;
    opacity: 0;
  }
  70% {
  }
  100% {
    opacity: 0;
  }
  to {
    opacity: 0;
    transform: perspective(400px) rotate3d(0, 1, 0, 360deg);
    animation-timing-function: ease-out;
  }
}
@keyframes backdrop-flip {
  from {
    width: 0;
    height: 525px;
    transform: perspective(400px) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
  }
  50% {
    width: 100%;
    transform: perspective(400px) translate3d(0, 0, 0) rotate3d(0, 1, 0, -180deg);
    animation-timing-function: ease-out;
    height: 100%;
  }
  60% {
    background-color: #232323;
  }
  to {
    transform: perspective(400px) translate3d(0, 0, 0) rotate3d(0, 1, 0, -180deg);
    animation-timing-function: ease-out;
    width: 100%;
    height: 100%;
    background-color: #232323;
  }
}

@keyframes backdrop-flip-out {
  from {
    transform: perspective(400px) translate3d(0, 0, 0) rotate3d(0, 1, 0, -180deg);
    animation-timing-function: ease-out;
    width: 100%;
    height: 100%;
    background-color: #232323;
  }
  50% {
    width: 0;
    transform: perspective(400px) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
    animation-timing-function: ease-out;
    height: 525px;
  }
  60% {
    background-color: transparent;
  }
  to {
    width: 0;
    height: 525px;
    transform: perspective(400px) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
    background-color: transparent;
  }
}
@keyframes full-screen {
  0% {
    position: static;
  }
  100% {
    position: static;
  }
}
@keyframes full-screen-rev {
  0% {
    position: relative;
  }
  70% {
    position: relative;
  }
  100% {
    position: relative;
  }
}