<div class="cards-block">
    <div class="card-backdrop" ng-class="{'flipIn': $ctrl.activeRound.hasOpenCard(), 'flipOut': $ctrl.cardWasOpened && !$ctrl.activeRound.hasOpenCard()}">
        <div class="backdrop"></div>
    </div>
    <div class="card-task">
        <uib-progressbar max="5" value="$ctrl.progress"><span>{{$ctrl.progress}} / 5</span></uib-progressbar>
        <div class="cards">
            <div class="card"
                 ng-repeat="card in $ctrl.activeRound.cards"
                 ng-class="{'flipIn': card.open, 'flipOut': card.open === false}"
                 ng-click='$ctrl.activeRound.hint = card.hint; $ctrl.lock ? null: $ctrl.cardWasOpened = card.open = true;'>
                <div class="card-shirt"></div>
                <div class="card-inner-wrap">
                    <div class="card-inner">
                        <div class="card-modal-wrap">
                            <div class="help-line">Please, answer the question</div>
                            <div class="card-question" ng-bind-html="card.question"></div>
                            <div class="card-answer">
                                <ui-select ng-model="card.selected_answer" theme="selectize">
                                    <ui-select-match>{{$select.selected.text}}</ui-select-match>
                                    <ui-select-choices
                                            repeat="answer in card.possible_answers | filter: $select.search">
                                        <span ng-bind-html="answer.text | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <check-exercise
                                    exercise="$ctrl.exercise"
                                    round="$ctrl.activeRound"
                                    check-answer="$ctrl.checkAnswer(card)"
                                    on-round-complete="$ctrl.onRoundComplete({result, progress}, card)">
                            </check-exercise>
                            <div><a ng-click="$ctrl.skip(card)" class="btn">Пропустить</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="" ng-if="$ctrl.activeRound.possible_answers.length">
        <div class="answers-list">
            <ul>
                <li ng-repeat="pa in $ctrl.activeRound.possible_answers">
                    <span>{{pa.text}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>