login {
  background-image: url(/assets/images/login-bg.jpg);
  background-size: cover;
  background-position: center center;
  .site-middle {
    flex: 1;
  }
  .site-footer {
    div {
      position: relative;
    }
  }
  .login-btn-block {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    .btn {
      font-weight: 600;
      cursor: pointer;
      padding-left: 60px;
      padding-right: 60px;
      font-size: 16px;
      line-height: 68px;
      box-shadow: 0 0 10px rgba(0,0,0,.3);
    }
  }
  .login-form {
    @extend .flex-grid.vcenter;
    @extend .flex-grid.hcenter;
    background: #fff;
    border-radius: 2px;
    margin: auto;
    padding: 30px;
    box-shadow: 0.5px 0.9px 81px rgba(109, 128, 134, 0.61);
    width: 500px;
    [type="text"], [type="password"] {
      width: 100%;
      height: 55px;
      padding: 0 20px;
      background: #fff;
      border: 1px solid #dce1e2;
      border-radius: 2px;
    }
    .line {
      label {
        font-weight: 300;
        color: $sc-color;
        margin-bottom: 5px;
        display: block;
      }
      &:not(:last-child){
        margin-bottom: 40px;
      }
      &.form-navi {
        @extend .flex-grid;
        @extend .flex-grid.vcenter;
        justify-content: flex-start;
        .btn {
          padding-left: 40px;
          padding-right: 40px;
        }
        a {
          margin-left: 35px;
          font-style: 14px;
          color: #353535;
          text-decoration: underline;
          white-space: nowrap;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
    .form-title {
      @extend .flex-grid;
      @extend .flex-grid.vcenter;
      color: $color;
      font-size: 14px;
      margin-bottom: 40px;
      font-weight: 600;
      .info {
        margin-top: -15px;
      }
      .title {
        font-weight: 500;
        color: #353535;
        font-size: 24px;
        margin-right: 40px;
        text-transform: uppercase;
      }
    }
  }
}
.ie {
  login {
    .login-form {
      margin: 30px auto;
    }
  }
}