<div class="content-block bordered">
    <div class="block-title">3. Карточка задания</div>
    <div class="block-content round-block" ng-repeat="param in $ctrl.exercise.params track by $index">
        <div class="block-line">
            <div class="field-block">
                <label>Внесите в ячейки символы или слова. Выделите ячейки, которые должен будет отметить учащийся</label>
                <div class="input-wrap">
                    <tags-input ng-model="param.elements"
                                min-length="1"
                                placeholder="Введите и нажмите Enter"
                                tag-class="{'answer': $tag.answer}"
                                track-by-expr="$index"
                                on-tag-clicked="$tag.answer = !$tag.answer;"
                                replace-spaces-with-dashes="false">
                    </tags-input>
                </div>
            </div>
        </div>
        <div class="block-line">
            <div class="field-block">
                <label>Введите подсказку</label>
                <div class="input-wrap">
                    <text-angular ng-model="param.hint"></text-angular>
                </div>
            </div>
        </div>
        <div class="remove-round">
            <a ng-click="$ctrl.exercise.deleteParam(param)" ng-if="!$first" confirm><span class="icon icon-trash"></span></a>
        </div>
    </div>
</div>
<div class="add-round">
    <button type="button" class="btn btn-pr" ng-click="$ctrl.exercise.addParam()" >Добавить новый раунд</button>
</div>