//overwrite globals
$border-color_new: #ccc;
a {
  &.btn {
    line-height: 25px;
    height: auto;
  }
  &.btn-pr {
    &.btn-lg {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

.disabled, [disabled] {
  opacity: .3;
}

// global grid
.site-wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #eef0f2;
  .site-header {
    box-shadow: 0.5px 0.866px 5px 0px rgba(213, 220, 222, 0.2);
    background-color: #fff;
    padding: 20px 0;
    .header-inner {
      @extend .site-container;
      padding: 0 15px;
    }
  }
  .site-middle {
    flex: 1;
    display: flex;
    flex-direction: column;
    .content-container {
      flex: 1;
    }
  }
}

// header
.site-header {
  .header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      cursor: pointer;
      height: 50px;
    }
    .header-navi {
      margin-left: 30px;
    }
    .user-navi {
      flex: 1;
      font-size: 12px;
      font-weight: 500;
      ul {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        @extend .panel-list;
        li {
          margin-left: 20px;
          &.hasChild {
            position: relative;
            > a {
              &:not(.icon-link) {
                padding-right: 13px;
              }
              &:after {
                content: '';
                position: absolute;
                @extend .icon;
                @extend .icon.icon-arrow_d;
                right: 0;
                top: 5px;
                width: 8px;
                height: 4px;
              }
            }
            &:hover {
              ul {
                display: block;
              }
            }
            ul {
              right: 0;
              position: absolute;
              z-index: 100;
              text-align: left;
              flex-direction: column;
              align-items: flex-start;
              min-width: 100px;
              display: none;
              overflow: hidden;
              &:not(.notification-list) {
                padding: 5px 0;
                 li {
                   &:hover {
                     background-color: #f0f0f0;
                   }
                 }
              }
              background-color: #fff;
              border-radius: 3px;
              border: 1px solid $border-color;
              li {
                margin: 0;
                width: 100%;
                white-space: nowrap;
                &:hover {

                }
                a {
                  padding: 5px 10px;
                  display: block;
                }
              }
            }
          }
          a {
            color: $color;
            text-decoration: none;
            position: relative;
            .counter {
              position: absolute;
              top: -5px;
              right: -5px;
            }
            &:hover {
              color: $pr-color;
            }
          }
        }
      }
    }
  }
}

// header list navi
.header-navi {
  ul {
    @extend .panel-list;
    li {
      display: inline-block;
      margin-right: 30px;
      a {
        font-size: 24px;
        text-transform: uppercase;
        font-weight: 700;
        text-decoration: none;
        color: $color;
        .counter {
          display: inline-flex;
          vertical-align: middle;
          margin-left: 10px;
          background-color: $pr-color;
        }
      }
    }
  }
}

// footer
.bgs {
  .site-footer {
    color: #fff;
    .copy {
      position: relative;
      &:after {
        height: 150px;
        position: absolute;
        content: '';
        left: 0;
        right: 0;
        bottom: 0;
        opacity: .8;
        background-image: linear-gradient(to top, black 0%, transparent 100%);
        z-index: 0;
      }
    }
  }
}

.site-footer {
  font-size: 12px;
  .copy {
    font-size: 12px;
    font-weight: 500;
    padding: 45px 0 70px;
    div {
      @extend .site-container;
      //position: relative;
      z-index: 1;
      padding: 0 45px;
    }
  }
}

// middle part
.site-middle {
  .content-navi {
    padding: 25px 15px;
    display: flex;
    align-items: center;
  }
  .content-container {
    display: flex;
    flex-direction: column;
  }
}

//content global navi
.content-navi {
  @extend .site-container;
  a {
    color: $color;
    font-size: 14px;
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
    .icon {
      vertical-align: middle;
      margin: -3px 10px 0 0;
    }
  }
  .breadcrumbs {
    display: flex;
    align-items: center;
    color: #909090;
    text-transform: uppercase;
    margin-left: 10px;
    a {
      color: $pr-color;
    }
    > span {
      padding: 0 5px;
    }
  }
}

// content title
.content-title {
  font-weight: 500;
  &.sided {
    @extend .flex-grid;
    @extend .flex-grid.vcenter;
    border-bottom: 1px solid $border-color;
    padding: 0 30px 30px;
    margin: 0 -30px 20px;
    .left-side {
      display: flex;
      align-items: center;
      .icon {
        width: 40px;
        height: 40px;
      }
    }
    .btn {
      +.btn {
        margin-left: 15px;
      }
    }
    .right-side {
      display: flex;
      justify-content: flex-end;
      .icon-with-text {
        flex: 0 0 160px;
      }
    }
    .videogular-container {
      .controls-container {
        vg-play-pause-button {
          .iconButton {
            width: 60px;
            height: 60px;
          }
        }
      }
    }
    .icon-play {
      width: 60px;
      height: 60px;
    }
    .btn-name {
      margin-left: 20px;
      font-size: 20px;
      color: $pr-color;
      text-decoration: none;
      border-bottom: 1px solid $pr-color;
      cursor: pointer;
      &:hover {
        text-decoration: none;
        border-color: transparent;
      }
    }
  }
  a {
    font-size: 16px;
    text-decoration: none;
  }
  .icon-trash {
    width: 23px;
    height: 25px;
  }
  .task-text {
    max-width: 600px;
    margin: 0 30px;
    display: flex;
    align-items: center;
    font-size: 16px;
  }
  .translate-btn {
    margin-left: 20px;
    padding: 5px 15px;
    border-radius: 2px;
    border: 1px solid $border-color;
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    color: #787878;
    &:hover {
      border-color: $pr-color;
    }
    .icon {
      width: 15px;
      height: 15px;
      margin-right: 5px;
      vertical-align: middle;
    }
  }
}

//search block
.search-block {
  position: relative;
  margin-bottom: 30px;
  &:after {
    content: '';
    position: absolute;
    @extend .icon;
    @extend .icon.icon-search;
    top: 20px;
    left: 20px;
  }
  input {
    padding: 0 30px 0 50px;
  }
}

// transcription
.word-transcription {
  font-weight: 700;
  color: #353535;
  line-height: 1em;
}

// pagination
.block-actions {
  width: 100%;
}
.pagination {
  font-size: 12px;
  font-weight: 500;
  position: relative;
  width: 100%;
  a {
    text-decoration: none;
    color: $color;
  }
  .pagination-prev, .pagination-next {
    position: absolute;
    top: -7px;
    a {
      text-transform: uppercase;
      border: 2px solid $border-color_new;
      height: 55px;
      line-height: 53px;
      padding: 0 35px;
      display: block;
      width: 150px;
      position: relative;
      border-radius: 2px;
      z-index: auto;
      &:hover {
        border-color: $pr-color;
        background-color: transparent;
      }
      &:after {
        content: '';
        position: absolute;
        top: 18px;
        background-image: url(/assets/images/icon-arrow_l.svg);
        width: 9px;
        height: 17px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        transition: all linear .2s;
      }
    }
    &.pagination-next {
      text-align: left;
      right: 0;
      a {
        &:after {
          right: 20px;
          transform: rotate(180deg);
        }
        &:hover {
          &:after {
            right: 15px;
          }
        }
      }
    }
    &.pagination-prev {
      text-align: right;
      left: 0;
      a {
        &:after {
          left: 20px;
        }
        &:hover {
          &:after {
            left: 15px;
          }
        }
      }
    }
  }
  ul {
    font-size: 14px;
    @extend .panel-list;
    width: 100%;
    li {
      display: inline-block;
      margin: 0 10px;
      &:hover {
        a {
          border-color: $pr-color;
        }
      }
      &.completed {
        a {
          background-color: $info-color;
          border-color: $info-color;
          color: #fff;
          opacity: .7;
          &:hover {
            background-color: $info-color;
            border-color: $info-color;
            color: #fff;
            opacity: 1;
          }
        }
      }
      &.active {
        a {
          border-color: $pr-color;
          background-color: $pr-color;
          color: #fff;
          z-index: auto;
          &:hover {
            border-color: $pr-color;
            background-color: $pr-color;
          }
        }
      }
      a {
        color: $color;
        padding: 0;
        display: block;
        border-radius: 50%;
        width: 41px;
        height: 41px;
        background-color: white;
        border: 2px solid $border-color_new;
        text-align: center;
        line-height: 39px;
        z-index: auto;
        &:hover {
          background-color: transparent;
        }
      }
    }
  }
}

// feedbackform
.feedback-modal {
  .modal-dialog {
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    .modal-content {
      border-radius: 2px;
      box-shadow: none;
      border: 0;
    }
  }
}

.feedback-form {
  padding: 40px;
  width: 700px;
  .form-result {
    text-align: center;
    .btn {
      margin-top: 30px;
    }
  }
  .form-line {
    + .form-line {
      margin-top: 20px;
    }
    label {
      font-size: 13px;
      color: $sc-color;
      display: block;
      margin-bottom: 5px;
      font-weight: 300;
    }
    .input-wrap {

    }
  }
  .form-action {
    margin-top: 30px;
    text-align: center;
    a {
      display: inline-block;
      + a {
        margin-left: 20px;
      }
    }
  }
}

.sticky-help-btn {
  position: fixed;
  top: 50%;
  width: 170px;
  right: 0;
  margin: -20px -65px 0 0;
  background-color: $pr-color;
  color: #fff;
  padding: 10px 20px;
  border-radius: 2px 2px 0 0;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  transform: rotate(-90deg);
  text-align: center;
  transition: all linear .2s;
  &:hover {
    color: #fff;
    background-color: darken($pr-color, 15%);
  }
  span {
    display: block;
  }
}

.ws-chat-btn-el-container {
  visibility: hidden;

}

body.modal-opened {
  overflow: hidden;
}

.modal {
  display: flex !important;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100%;

  .modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;

    .modal-content {
      box-shadow: none;
      border: 0;
      width: 800px;
      padding: 40px;
      max-height: inherit;
      overflow: auto;

      .modal-title {
        font-size: 30px;
        font-weight: 500;
        color: $pr-color;
        margin-bottom: 30px;
      }
      .modal-action {
        display: flex;
        justify-content: center;
        margin-top: 40px;
      }
      > * {
        max-width: 720px;
      }
      .learn-block {
        width: 100%;
      }
    }
  }
}