<li ng-class="$ctrl.progressClass"
    ng-click="$ctrl.learn($ctrl.group)"
>
    <div class="group-item">
        <div class="item-progress">
            <round-progress
                    max="$ctrl.progressTotal"
                    current="$ctrl.progressValue"
                    color="{{$ctrl.progressColor}}"
                    bgcolor="#d9dbdd"
                    radius="25"
                    stroke="3"
                    semi="false"
                    rounded="false"
                    clockwise="true"
                    responsive="true"
                    duration="800"
                    animation="easeInOutQuart"
                    animation-delay="0"></round-progress>
            <span class="progress-text">
                <span ng-bind="$ctrl.progressTitle"></span>
            </span>
        </div>
        <div class="item-info">
            <div class="item-title">
                <span ng-bind="$ctrl.group.name"></span>
            </div>
            <div class="item-descr">
                <span ng-bind="$ctrl.group.title"></span>
            </div>
        </div>
    </div>
</li>