<header></header>
<div class="site-middle">
    <div class="content-navi">
        <content-navi></content-navi>
    </div>
    <div class="content-container" ng-init="search=''">
        <div class="content-title">
            Vocabulary
        </div>
        <div class="group-header">
            <div class="img-wrap">
                <img ng-src="{{$ctrl.category.image_big.full_path}}" alt="">

            </div>
            <div class="group-title">
                <span ng-bind-html="$ctrl.category.name"></span>
            </div>
        </div>
        <div class="search-block">
            <input type="text" ng-model="search" placeholder="Search">
        </div>
        <div class="groups-list">
            <div class="groups-list-header">Topics</div>
            <ul>
                <group-progress
                        ng-repeat="group in $ctrl.groups|filter:{total_count:0}:$ctrl.filterGroups|filter:{name: search}"
                        group="group"
                        content-type="$ctrl.contentType">
                </group-progress>
            </ul>
        </div>
    </div>
</div>
<footer></footer>