picture-exercise {
  .card-wrap {
    border: 0;
    margin-top: 0;
  }
  .card-img {
    height: 320px;
    @extend .full-img;
  }
  .card-info {
    .question {
      margin-top: 30px;
      font-size: 20px;
      font-weight: 500;
      text-align: center;
    }
  }
}