<div class="content-block bordered">
    <div class="block-title">3. Карточка задания</div>
    <div class="block-content round-block" ng-repeat="param in $ctrl.exercise.params track by $index">
        <div class="block-line">
            <div class="field-block">
                <label>Банк слов</label>
                <div class="input-wrap">
                    <text-angular ng-model="param.answer_bank"></text-angular>
                </div>
            </div>
            <div class="field-block">
                <label>Введите фразу и выделите элементы, которые должен будет заполнить ученик</label>
                <div class="input-wrap">
                    <tags-input ng-model="param.elements"
                                min-length="1"
                                placeholder="Введите и нажмите Enter"
                                tag-class="{'skip': $tag.skip}"
                                track-by-expr="$index"
                                on-tag-clicked="$tag.skip = !$tag.skip;"
                                replace-spaces-with-dashes="false">
                    </tags-input>
                </div>
            </div>
        </div>
        <div class="block-line">
            <div class="field-block">
                <load-file label="Загрузить изображение"
                           url="image/upload"
                           callback="$ctrl.exercise.onImageParamLoaded(param, 'image', response)" file="param.image">
                </load-file>
            </div>
        </div>
        <div class="block-line">
            <div class="field-block">
                <label>Введите подсказку</label>
                <div class="input-wrap">
                    <text-angular ng-model="param.hint"></text-angular>
                </div>
            </div>
        </div>
        <div class="remove-round">
            <a ng-click="$ctrl.exercise.deleteParam(param)" ng-if="!$first" confirm><span
                    class="icon icon-trash"></span></a>
        </div>
    </div>
</div>
<div class="add-round">
    <button type="button" class="btn btn-pr" ng-click="$ctrl.exercise.addParam()">Добавить новый раунд</button>
</div>