dictionary-dialog {
  .message-block {
    font-size: 20px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: 500;
  }
  .content-title {
    font-size: 30px;
    line-height: 1em;
    font-weight: 500;
    color: $pr-color;
    &.sided {
      border-bottom: 0;
    }
    .icon-trash {
      width: 23px;
      height: 25px;
    }
  }
  .learn-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 780px;
    margin: 0 auto;
    .close {
      position: absolute;
      top: 20px;
      right: 20px;
    }
    .help-line {
      color: #6a6a6a;
      font-size: 14px;
      font-weight: 500;
    }
    .block-img {
      margin-top: 20px;
      border-radius: 2px;
      height: 320px;
      width: 100%;
      @extend .full-img;
    }
  }
  .block-word {
    color: #353535;
    font-size: 28px;
    line-height: 1em;
    margin: 40px 30px;
    font-weight: 700;
    //text-transform: uppercase;
  }
  .block-transcription {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    .word-transcription {
      font-size: 28px;
      margin-right: 20px;
    }
  }
  .word-example {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    .help-line {
      margin-right: 20px;
      font-size: 18px;
    }
  }
  .block-translate {
    text-align: center;
    a {
      color: #909090;
      text-transform: uppercase;
      font-size: 14px;
      text-decoration: none;
      display: inline-block;
      .icon {
        display: block;
        margin: 0 auto 5px;
      }
    }
    .word-translation {
      margin-bottom: 30px;
      text-align: center;
      font-size: 18px;
      font-weight: 500;
    }
  }
  .block-actions {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    a {
      font-size: 14px;
      font-weight: 500;
      padding-left: 60px;
      padding-right: 60px;
      + a {
        margin-left: 10px;
      }
    }
  }
  .done {
    color: $pr-color;
  }
}