
<div class="learn-block" ng-if="$ctrl.words">
    <a ng-click="$ctrl.cancel()" class="close"><span class="icon icon-cross"></span></a>
    <div class="content-title sided">
        <div class="left-side">
            {{$ctrl.dictionary.name}}
        </div>
    </div>

    <div class="message-block">
        <span ng-bind="$ctrl.activeWordIdx + 1"></span> out of <span ng-bind="$ctrl.totalCount"></span>
    </div>

    <div class="block-img" ng-if="$ctrl.activeWord.image.full_path">
        <img ng-src="{{$ctrl.activeWord.image.full_path}}" alt="{{$ctrl.activeWord.word}}">
    </div>

    <div class="block-word">
        <span ng-bind-html="$ctrl.activeWord.word"></span>
    </div>

    <div class="block-transcription">
        <div class="word-transcription">
            <span ng-bind-html="$ctrl.activeWord.transcription"></span>
        </div>
        <div ng-if="$ctrl.activeWord.audio.full_path">
            <audio-player-min src="$ctrl.activeWord.audio.full_path"></audio-player-min>
        </div>
    </div>

    <div ng-repeat="translation in $ctrl.activeWord.translations track by $index">
        <div class="word-example" ng-if="translation.sample">
            <div class="help-line">
                <span  ng-bind-html="translation.sample"></span>
            </div>
            <div ng-if="translation.sample_audio.full_path">
                <audio-player-min src="translation.sample_audio.full_path"></audio-player-min>
            </div>
        </div>
    </div>

    <div class="block-translate">
        <div class="word-translation">
            <span ng-bind-html="$ctrl.activeWord.translation"></span>
        </div>
    </div>

    <div class="block-actions">
        <ul class="pagination">
            <li class="pagination-prev">
                <a href="" ng-click="$ctrl.prev()">Previous</a>
            </li>
            <li class="pagination-next">
                <a href="" ng-click="$ctrl.next()">Next</a>
            </li>
        </ul>
    </div>

</div>