<div ng-if="$ctrl.hint && $ctrl.hint.needShow()">
    <div>
        <div>{{$ctrl.hint.text}}</div>
        <div class="text-center"><a ng-click="$ctrl.closeHint()">Закрыть</a></div>
    </div>
</div>
