read-write-exercise {
  .text-danger{
    color: $brand-danger !important;
  }
  .card-wrap {
    padding: 0;
    margin-top: 0;
    +.card-wrap {
      margin-top: 40px;
    }
    .card-answer {
      border: 0;
    }
    .card-img {
      @extend .full-img;
      width: 100%;
      height: 320px;
      margin-bottom: 30px;
    }
  }
  .answer_bank {
    margin-top: 30px;
  }
  .word_bank-title {
    color: #353535;
    font-size: 18px;
    line-height: 1em;
    text-transform: uppercase;
    margin-top: 30px;
    font-weight: 700;
    text-align: center;
  }
  .card-task {
    text-align: left;
    line-height: 45px;
    span {
      color: #353535;
      font-size: 18px;
      line-height: 1em;
      opacity: 1;
      font-weight: 500;
      + span {
        margin-left: 5px;
      }
    }
    .like-input {
      display: inline-block;
      vertical-align: middle;
      background-color: white;
      border: 2px solid $border-color_new;
      border-radius: 2px;
      margin: 5px 15px 5px 20px;
      flex: 0 0 200px;
      width: 200px;
      height: 40px;
      padding: 0 20px;
      line-height: 36px;
      &:focus {
        outline: none;
      }
    }
  }
  [contenteditable='true'] {
    overflow: hidden;
    white-space: nowrap;

    br{
      display: none !important;
    }

    * {
      display: inline;
      white-space: nowrap;
    }
  }
  .answer_bank {
    margin-bottom: 30px;
  }
}