<div class="cards-block">
    <div class="card-wrap">
        <div class="card-img" ng-if="$ctrl.activeRound.image.full_path"><img ng-src="{{$ctrl.activeRound.image.full_path}}" alt=""></div>
        <div class="card-answer card-task">
        <span type="text"
              ng-show="!$ctrl.showAnswers"
              ng-repeat="element in $ctrl.activeRound.elements"
              ng-init="element.answer = element.skip ? '': element.text"
              ng-model="element.answer"
              ng-bind-html="element.answer | adoptText"
              ng-disabled="!element.skip"
              ng-change="element.hasError = false"
              ng-class="{'like-input': !!element.skip,  'text-danger': element.hasError}"
              contenteditable="{{!!element.skip}}"
              strip-br="true"
              strip-tags="true">
        </span>

        <span type="text"
              ng-repeat="element in $ctrl.activeRound.elements"
              ng-if="$ctrl.showAnswers"
              ng-bind-html="element.text | adoptText"
              ng-disabled="!element.skip"
              ng-class="{'like-input': !!element.skip}"
              contenteditable="{{!!element.skip}}"
              strip-br="true"
              strip-tags="true">
        </span>

        </div>
    </div>
    <div class="card-wrap" ng-if="$ctrl.activeRound.answer_bank">
        <div class="word_bank-title">Words bank</div>
        <div class="answer_bank" ng-bind-html="$ctrl.activeRound.answer_bank"></div>
    </div>
</div>

<check-exercise
    exercise="$ctrl.exercise"
    round="$ctrl.activeRound"
    check-answer="$ctrl.checkAnswer()"
    set-answer-visibility="$ctrl.setAnswerVisibility(isVisible)"
    on-round-complete="$ctrl.onRoundComplete({result, progress})">
</check-exercise>
