grammar {
  font-weight: 500;
  .content-title {
    font-size: 30px;
    line-height: 1em;
    color: $pr-color;
  }
  .grammar-filter {
    display: flex;
    //justify-content: space-between;
    align-items: flex-end;
    margin: 90px 0 20px;
    .field-block {
      //padding: 0 10px;
      margin-right: 5px;
      &.field-sm {
        flex: 0 0 150px;
      }
      &.field-md {
        flex: 0 0 350px;
        &:last-child {
          flex: 1;
        }
      }
      &.search-block {
        flex: 1;
        margin-bottom: 0;
        &:after {
          left: 30px;
        }
      }
      label {
        display: block;
        color: #909090;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 10px;
        line-height: 1em;
      }
      .input-wrap {
        &.with-helper {
          display: flex;
          align-items: center;
        }
        &.search-input {
          input {
            flex: 1;
          }
        }
        .input-helper {
          white-space: nowrap;
          margin: 0 30px;
          a {
            text-decoration: none;
            font-weight: 700;
            padding-right: 20px;
            position: relative;
            &:after {
              content: '';
              position: absolute;
              top: 5px;
              right: 0;
              @extend .icon;
              @extend .icon.icon-arrow_d_g;
            }
          }
        }
      }
    }
  }
  .grammar-fast {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 0 0;
    .item {
      height: 230px;
      flex: 0 0 350px;
      &.item-lg {
        flex: 0 0 480px;
      }
      .item-inner {
        height: 100%;
        position: relative;
        overflow: hidden;
        border-radius: 2px;
      }
      .item-img {
        //background-color: $info-color;
        //width: 100%;
        //height: 100%;
        overflow: hidden;
        position: relative;
        border-radius: 2px;
        //&:after {
        //  content: '';
        //  position: absolute;
        //  bottom: 0;
        //  left: 0;
        //  right: 0;
        //  opacity: .7;
        //  height: 115px;
        //  background-image: linear-gradient(to bottom, transparent 0%, #000 100%);
        //}
        img {
          display: block;
        //  position: absolute;
        //  top: 50%;
        //  left: 50%;
        //  min-width: 100%;
        //  min-height: 100%;
        //  max-width: none;
        //  width: auto;
        //  height: auto;
        //  transform: translate(-50%, -50%);
        }
      }
      .item-title, .item-count {
        position: absolute;
        left: 25px;
        color: #fff;
        z-index: 1;
      }
      .item-title {
        bottom: 45px;
        font-size: 22px;

      }
      .item-count {
        bottom: 25px;
        font-size: 13px;
      }
      a {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
      }
    }
  }
  .grammar-themes {
    margin-top: 70px;
    .grammar-theme {
      &:not(:last-child) {
        padding-bottom: 35px;
        margin-bottom: 35px;
        border-bottom: 1px solid #d9dcdd;
      }
      .theme-title {
        font-size: 24px;
        line-height: 1em;
        margin-bottom: 25px;
      }
      .theme-content {
        font-size: 13px;
      }
    }
  }
  .grammar-list {
    margin: 40px 0 0;
    display: flex;
    flex-wrap: wrap;
    font-weight: 300;
    a {
      //color: $sc-color;
      //text-decoration: none;
    }
    .hasChild {
      > a {
        display: inline-block;
        position: relative;
        padding-right: 20px;
        &:after {
          content: '';
          position: absolute;
          top: 8px;
          right: 0;
          background-image: url(/assets/images/icon-arrow_d_g.svg);
          background-size: 100% 100%;
          width: 15px;
          height: 8px;
        }
      }
    }
    .item {
      flex: 0 0 50%;
      margin-bottom: 30px;
      font-size: 16px;
      font-weight: 500;
      .item-inner {
        margin-left: 15px;
        margin-top: 20px;
        position: relative;
        &:after {
          content: '';
          border-left: 1px dashed $border-color;
          position: absolute;
          top: 30px;
          bottom: 0;
          left: 0;
        }
      }
    }
  }
}

.grammar-dialog-modal {
  .modal-dialog {
    padding: 50px 0;
    width: 1080px;
    max-width: 1080px;
    .modal-content {
      width: 1000px;
      max-width: 1000px;
    }

    .modal-title, .modal-action, .bread-crumbs, .modal-grammar-video-block, .modal-grammar-info-block {
      &:not(.btn) {
        width: 920px;
        max-width: 920px;
      }
    }
  }
}

.grammar-dialog {
  .bread-crumbs {
    line-height: 1;
    div {
      display: inline;
      margin-left: 5px;
    }
    br {
      content: ' '
    }
    br:after {
      content: ' '
    }
  }
}