<div class="card-action">
    <a href="#" data-check class="btn btn-pr btn-lg" ng-click="$ctrl.check($event);">Check</a>
    <!-- Добавил посторяющее условие т.к. иначе отображается лишний div-->
    <div class="hint" ng-if="$ctrl.round.attempts > 1 && !$ctrl.result.result
                             && ($ctrl.setAnswerVisibility || ($ctrl.round.hint || $ctrl.round.audio_hint.full_path))">
        <div ng-if="$ctrl.setAnswerVisibility">
            <span class="glyphicon"
                  ng-class="{
                    'glyphicon-eye-open': !$ctrl.isMouseOver || !$ctrl.isMouseDown,
                    'glyphicon-eye-close': $ctrl.isMouseOver && $ctrl.isMouseDown}"
                  ng-mouseover="$ctrl.updateAnswerVisibility(true, $ctrl.isMouseDown)"
                  ng-mouseleave="$ctrl.updateAnswerVisibility(false, $ctrl.isMouseDown)"
                  ng-mousedown="$ctrl.updateAnswerVisibility($ctrl.isMouseOver, true)"
                  ng-mouseup="$ctrl.updateAnswerVisibility($ctrl.isMouseOver, false)"
            >
            </span>
        </div>
        <div ng-if="!$ctrl.setAnswerVisibility && ($ctrl.round.hint || $ctrl.round.audio_hint.full_path)">
            <a href="#" ng-click="$ctrl.showHint = !$ctrl.showHint; $ctrl.round.hintHasShown = true;">HINT</a>
            <div ng-if="$ctrl.showHint">
                <audio-player ng-if="$ctrl.round.audio_hint.full_path" src="$ctrl.round.audio_hint.full_path"></audio-player>
                <div class="text-hint" ng-if="$ctrl.round.hint" ng-bind-html="$ctrl.round.hint "></div>
            </div>
        </div>
    </div>
</div>
