<div class="content-form">
    <div class="form-inner">
        <div class="content-tabs">
            <ul>
                <!-- <li>
                    <a href="#">Редактировать</a>
                </li> -->
                <li class="active">
                    <a ui-sref="base.wordEditor({dictionaryId: $ctrl.dictionaryId, id: 'create'})">Добавить</a>
                </li>
            </ul>
        </div>

        <div class="content-block">
            <div class="block-content">
                <div class="block-line fields">
                    <div class="field-block">
                        <label for="exercises_search">Поиск</label>
                        <input type="search"
                               id="exercises_search"
                               ng-model="query"
                               ng-change="$ctrl.search(query)"
                               ng-model-options="{debounce: 300}"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <p class="list-count">Найдено слов: <span>{{$ctrl.totalCount}}</span></p>
            <ul class="list-with-index">
            <li ng-repeat="word in $ctrl.words" ng-if="!word.is_deleted">
                <a ui-sref="base.wordEditor({dictionaryId: $ctrl.dictionaryId, id: word.id})"
                   class="full" ng-bind="word.word"></a>
                <strong class="index" ng-bind="$index+1"></strong>
                <span ng-bind="word.translationsWords"></span>
                <div class="remove-list-item" ng-click="$ctrl.deleteWord(word)" confirm>
                    <span class="icon icon-trash"></span>
                </div>
            </li>
        </ul>
        </div>
    </div>
</div>