listen-say-exercise {
  .card-wrap {
    margin-bottom: 20px;
    margin-top: 0;
    .card-img {
      width: 100%;
      height: 320px;
      @extend .full-img;
      margin-bottom: 20px;
    }
    .card-info {
      margin-top: 30px;
    }
  }
}