<div class="content-form">
    <div class="form-inner">
        <div class="content-tabs">
            <ul>
                <!-- <li>
                    <a href="#">Редактировать</a>
                </li> -->
                <li class="active">
                    <a ui-sref="base.exerciseEditor({id: 'create'})">Добавить</a>
                </li>
            </ul>
        </div>
        <div class="content-block">
            <ul class="list-with-index">
                <li ng-repeat="lesson in $ctrl.lessons">
                    <a ui-sref="base.exerciseEditor({id: 'create'})"
                       class="full" ng-bind="lesson.name"></a>
                    <strong class="index" ng-bind="$index+1"></strong>
                    <span ng-bind="lesson.name"></span>
                </li>
            </ul>
        </div>
    </div>
</div>