<header></header>
<div class="site-middle" ng-init="search = ''">
    <div class="content-navi">
        <content-navi></content-navi>
    </div>
    <div class="content-container">
        <div class="content-title">
            Здравствуйте! Чем мы можем вам помочь?
        </div>
        <div class="search-block">
            <input type="text" ng-model="search" placeholder="Ищите ответы на любые вопросы (программа, оплата, методика и т.д.)">
        </div>
        <div class="faq-fast-block">
            <div class="fast-header">С чего начать?</div>
            <div class="fast-item" ng-click="$ctrl.showVideo()">
                <div class="item-img"><a href="#"><img src="/assets/images/faq-video.jpg" alt=""></a></div>
                <div class="item-title"><a href="#">Видео по методике</a></div>
            </div>
            <div class="fast-item">
                <div class="item-img"><a href="#item_0" ng-click="$ctrl.currentCollapseItem = 'item_0'" du-smooth-scroll><img src="/assets/images/faq-howto.jpg" alt=""></a></div>
                <div class="item-title"><a href="#item_0" ng-click="$ctrl.currentCollapseItem = 'item_0'" du-smooth-scroll>Как устроен курс</a></div>
            </div>
            <div class="fast-item lg">
                <div class="item-img"><a href="#item_0" ng-click="$ctrl.currentCollapseItem = 'item_7'" du-smooth-scroll><img src="/assets/images/faq-hw.jpg" alt=""></a></div>
                <div class="item-title"><a href="#item_0" ng-click="$ctrl.currentCollapseItem = 'item_7'" du-smooth-scroll>Как выполнить домашнее задание</a></div>
            </div>
        </div>
        <div class="faq-fast-block">
            <div class="fast-header">Рекомендуем</div>
            <div class="fast-item">
                <div class="item-img"><a href="#item_1" ng-click="$ctrl.currentCollapseItem = 'item_1'" du-smooth-scroll><img src="/assets/images/faq-login.jpg" alt=""></a></div>
                <div class="item-title"><a href="#item_1" ng-click="$ctrl.currentCollapseItem = 'item_1'" du-smooth-scroll>Как войти</a></div>
            </div>
            <div class="fast-item">
                <div class="item-img"><a href="#item_2" ng-click="$ctrl.currentCollapseItem = 'item_2'" du-smooth-scroll><img src="/assets/images/faq-calendar.jpg" alt=""></a></div>
                <div class="item-title"><a href="#item_2" ng-click="$ctrl.currentCollapseItem = 'item_2'" du-smooth-scroll>Как работает календарь повторений</a></div>
            </div>
            <div class="fast-item lg">
                <div class="item-img"><a href="#item_3" ng-click="$ctrl.currentCollapseItem = 'item_3'" du-smooth-scroll><img src="/assets/images/faq-mobile.jpg" alt=""></a></div>
                <div class="item-title"><a href="#item_3" ng-click="$ctrl.currentCollapseItem = 'item_3'" du-smooth-scroll>Мобильное приложение</a></div>
            </div>
        </div>
        <div class="faq-collapse" ng-init="$ctrl.currentCollapseItem">
            <div class="item" id="{{question.code}}"
                 ng-class="{'item-open': $ctrl.currentCollapseItem == question.code}"
                 ng-repeat="question in $ctrl.questions | filter:search">
                <div class="item-header">
                    <a ng-click="$ctrl.currentCollapseItem = $ctrl.currentCollapseItem == question.code ? 0 : question.code">
                        <span ng-bind="question.question"></span>
                    </a>
                </div>
                <div class="item-inner">
                    <div class="item-content">
                        <span ng-bind-html="question.answer | uibTypeaheadHighlight:search"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="faq-info">Не нашли ответ на ваш вопрос? <feedback title="напишите нам"></feedback></div>
    </div>

</div>
<footer></footer>