<div class="video-dialog">
        <videogular vg-auto-play="true">
            <vg-media vg-src="$ctrl.config.sources" vg-native-controls="true">
            </vg-media>
        </videogular>
        <a ng-click="$ctrl.cancel()" class="btn btn-pr">Закрыть</a>
</div>