<header></header>
<section class="site-middle ui-view-wrapper">
    <!--<div ui-view ng-if="!pageReload">-->
        <div class="banner">
            <div class="item">
                <div class="item-icon"><img src="/assets/images/85_85_1.jpg" alt=""></div>
                <div class="item-inner">
                    <div class="item-title">Разговорные клубы в октябре</div>
                    <div class="item-more"><a href=" http://www.alibra.ru/club/">Узнать больше</a></div>
                </div>
            </div>
            <div class="item">
                <div class="item-icon"><img src="/assets/images/85_85_2.jpg" alt=""></div>
                <div class="item-inner">
                    <div class="item-title">Обучение за границей</div>
                    <div class="item-more"><a href="http://www.alibra.ru/actions/abroad/?mail=Y">Узнать больше</a></div>
                </div>
            </div>
            <a href="#" class="close"><span class="icon icon-cross"></span></a>
        </div>

        <div class="dashboard-content">
            <div class="user-progressbar">
                <div class="progress-title">Select Unit</div>
                <div class="progress-list">
                    <ul>
                        <li ng-class="{'done':unit.isDone, 'in-progress':!unit.isDone, 'current': $ctrl.activeUnit.id === unit.id}" ng-repeat="unit in $ctrl.units track by $index">
                            <a ng-click="$ctrl.reloadLessons($ctrl.activeCourse, unit, $index)">
                                <round-progress
                                        max="unit.totalExercises"
                                        current="unit.completedExercises"
                                        color="{{unit.isDone ? '#9fc74e' : '#e8a72d'}}"
                                        bgcolor="#cfd9d9"
                                        radius="25"
                                        stroke="2"
                                        semi="false"
                                        rounded="false"
                                        clockwise="true"
                                        responsive="false"
                                        duration="800"
                                        animation="easeInOutQuart"
                                        animation-delay="0"></round-progress>
                                <span ng-if="$ctrl.activeCourse.isPhonetic && $index == 0">Ph</span>
                                <span ng-if="$ctrl.activeCourse.isPhonetic && $index != 0">{{$index}}</span>
                                <span ng-if="!$ctrl.activeCourse.isPhonetic">{{$index + 1}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="unit-progressbar">
                <div class="progress-list">
                    <ul ng-repeat="lesson in $ctrl.lessons track by $index">
                        <li>
                            <div ng-class="{'done': lesson.isDoneHomework, 'in-progress':lesson.isInWorkHomework, 'current': $ctrl.isSelectedHomeWork(lesson)}">
                                <a ng-click="$ctrl.loadLessonParts($ctrl.activeCourse, $ctrl.activeUnit, lesson, $index, 'homework');"
                                   title="Lesson {{$index + 1}} Home Work"
                                >
                                    Lesson {{$index + 1}}
                                </a>
                            </div>

                            <div ng-class="{'done': lesson.isDoneHomework, 'in-progress':lesson.isInWorkHomework, 'current': $ctrl.isSelectedHomeWork(lesson)}">
                                <a class="homework" ng-click="$ctrl.loadLessonParts($ctrl.activeCourse, $ctrl.activeUnit, lesson, $index, 'homework');"
                                   title="Lesson {{$index + 1}} Home Work"
                                >
                                    Home Work {{$index+1}}
                                </a>
                            </div>
                        </li>
                        <li>

                        </li>
                    </ul>
                    <ul ng-if="$ctrl.showTestsButton">
                        <li ng-class="{'current':$ctrl.isSelectedTest(lesson)}">
                            <a ng-click="$ctrl.loadLessonParts($ctrl.activeCourse, $ctrl.activeUnit, null, null, 'test')">
                                <span class="icon icon-test"></span>
                            </a>
                        </li>
                        <li>

                        </li>
                    </ul>
                </div>
            </div>

            <span>{{$ctrl.lessonIndex}}</span>
            <group-task-parts ng-if="$ctrl.isGroupTask()"
                              ng-class="{'': $ctrl.changeExerciseTypeAnimate}"
                              parts="$ctrl.lessonParts"
                              exercise-type="$ctrl.activeExerciseType">
            </group-task-parts>

            <home-work-parts ng-if="$ctrl.isHomeWork()"
                             ng-class="{'': $ctrl.changeExerciseTypeAnimate}"
                             animate="$ctrl.changeExerciseTypeAnimate"
                             parts="$ctrl.lessonParts"
                             exercise-type="$ctrl.activeExerciseType"
                             lesson-index="$ctrl.activeLessonIndex"
                             lesson="$ctrl.activeLesson"
                             unit="$ctrl.activeUnit"
                             unit-index="$ctrl.activeUnitIndex"
                             course-id="$ctrl.activeCourse.id">

            </home-work-parts>

            <test-parts ng-if="$ctrl.isTest()"
                        ng-class="{'': $ctrl.changeExerciseTypeAnimate}"
                        parts="$ctrl.lessonParts"
                        exercise-type="$ctrl.activeExerciseType"
                        course="$ctrl.activeCourse"
                        unit="$ctrl.activeUnit"
                        unit-index="$ctrl.activeUnitIndex"
                        course-id="$ctrl.activeCourse.id">

            </test-parts>
        </div>
    <!--</div>-->
</section>
<footer></footer>