<div class="block-img" ng-if="$ctrl.card.image.full_path">
    <img ng-src="{{$ctrl.card.image.full_path}}" alt="{{$ctrl.card.word.word}}">
</div>
<div class="repetition-block-content">
    <div class="answer-block">
        <label>Enter the word</label>
        <input type="text" ng-model="$ctrl.enteredWord">
    </div>

    <div ng-if="$ctrl.showInfo">
        <div class="block-word">
            <span ng-bind="$ctrl.card.word.word"></span>
        </div>
        <div class="block-transcription">
            <div class="word-transcription">
                <span ng-bind="$ctrl.card.transcription"></span>
            </div>
            <div ng-if="$ctrl.card.audio.full_path">
                <audio-player-min src="$ctrl.card.audio.full_path"></audio-player-min>
            </div>
        </div>
        <div class="word-example">
            <div class="help-line">
                <span ng-bind-html="$ctrl.card.sample"></span>
            </div>
            <div ng-if="$ctrl.card.sample_audio.full_path">
                <audio-player-min src="$ctrl.card.sample_audio.full_path"></audio-player-min>
            </div>
        </div>
        <div class="block-translate">
            <div class="word-translation">
                <span ng-bind="$ctrl.activeCard.translation"></span>
            </div>
        </div>
    </div>

    <div class="block-actions">
        <a href="#" class="btn btn-pr"
           ng-class="{'btn-dang': $ctrl.isIncorrect}"
           ng-click="$ctrl.check()"
           click-once="repetition:done"
        >
            <span ng-if="$ctrl.isIncorrect || $ctrl.showInfo">Next</span>
            <span ng-if="!$ctrl.isIncorrect && !$ctrl.showInfo">Check</span>
        </a>
        <div class="block-result" ng-if="!$ctrl.showInfo">
            <div ng-if="$ctrl.attempt == 1">
                Неверно, попробуйте ещё раз
            </div>

            <div ng-if="$ctrl.isIncorrect">
                Это слово <span ng-bind="$ctrl.card.word.word"></span>. Введите его в поле ввода.
            </div>
        </div>
    </div>

</div>