vocabulary-repetition-words, vocabulary-repetition-groups  {
  font-weight: 500;
  .btn {
    font-size: 14px;
    font-weight: 500;
    padding-left: 60px;
    padding-right: 60px;
  }
  .content-title {
    color: $pr-color;
    font-size: 30px;
    margin-bottom: 50px;
  }
  .repetition-block {
    width: 780px;
    margin: 0 auto;
    border: 1px solid $border-color;
    border-radius: 2px;
    .block-img {
      width: 100%;
      height: 320px;
      @extend .full-img;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .repetition-block-content {
      padding: 30px 40px;
      text-align: center;
      .block-navi {
        border: 1px solid $border-color;
      }
      .empty-repetition {
        font-size: 18px;
        font-weight: 500;
      }
    }
  }
  .block-actions {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    a {
      + a {
        margin-left: 10px;
      }
    }
    .block-result {
      margin-top: 30px;
      font-size: 18px;
      text-transform: uppercase;
      color: #353535;
      line-height: 1em;
      font-weight: 700;
    }
  }
  .block-navi {
    border-bottom: 1px solid $border-color;
    font-weight: 700;
    ul {
      @extend .panel-list;
      display: flex;
      li {
        flex: 0 0 33.333%;
        height: 70px;
        +li {
          border-left: 1px solid $border-color;
        }
        &.active {
          background-color: #eef6fa;
          a {
            color: $btn-color;
          }
        }
        a {
          text-decoration: none;
          color: $color;
          text-transform: uppercase;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
  vocabulary-repetition-write-word {
    .answer-block {
      width: 100%;
      text-align: left;
      label {
        display: block;
        font-size: 14px;
        margin-bottom: 5px;
        font-weight: 500;
      }
      input {

      }
    }
  }
  .block-word {
    color: #353535;
    font-size: 28px;
    line-height: 1em;
    margin: 40px 30px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .block-transcription {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    .word-transcription {
      font-size: 28px;
      margin-right: 20px;
    }
  }
  .word-example {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    .help-line {
      margin-right: 20px;
    }
  }
  .block-translate {
    text-align: center;
    a {
      color: #909090;
      text-transform: uppercase;
      font-size: 14px;
      text-decoration: none;
      display: inline-block;
      .icon {
        display: block;
        margin: 0 auto 5px;
      }
    }
    .word-translation {
      margin: 30px 0 0;
      text-align: center;
    }
  }
}