dialog-exercise {
  .content-title {
    border-bottom: 2px solid $border-color;
    margin: 0 -30px 30px;
    padding: 0 30px 30px;
    .icon {
      &.icon-play {
        width: 60px;
        height: 60px;
      }
    }
  }
  .card-wrap {
    border-width: 2px;
    border-color: #ccc;
    .card-img {
      height: 320px;
      width: 100%;
      margin-bottom: 30px;
      @extend .full-img;
    }
  }
  .card-answer {
    border-width: 2px;
    border-color: #ccc;
    .answers-list {
      margin-bottom: 0;
    }
  }
}
