<div class="cards-block">
    <div class="card-wrap">
        <div class="card-img"><img ng-src="{{$ctrl.activeRound.image.full_path}}" alt=""></div>
        <div class="card-info">
            <audio-player src="$ctrl.activeRound.audio.full_path"></audio-player>
        </div>
    </div>
    <div class="card-answer">
        <!--<div class="title">Select your answear</div>-->
        <div class="answers-list">
            <ul>
                <li ng-class="{'active': $ctrl.activeAnswer === answer }"
                    ng-repeat="answer in $ctrl.activeRound.possible_answers"
                    ng-click="$ctrl.activeAnswer = answer">
                    <a href="#">{{answer.text}}</a>
                </li>
            </ul>
        </div>
    </div>
    <voice-recorder on-recorded="$ctrl.onRecorded({src})" on-text-changed="$ctrl.onTextChanged({text})"></voice-recorder>
    <div class="card-answer" ng-if="$ctrl.audioRecord">
        <audio-player src="$ctrl.audioRecord"></audio-player>
        <p>{{$ctrl.text}}</p>
    </div>
</div>

<check-exercise
    exercise="$ctrl.exercise"
    round="$ctrl.activeRound"
    check-answer="$ctrl.checkAnswer()"
    on-round-complete="$ctrl.onRoundComplete({result, progress})">
</check-exercise>
