create-category {
  .fast-add {
    margin: 0 -10px;
    > div {
      padding: 0 10px;
    }
  }
  .upload {
    .uploads-list {
      margin-top: 0;
      .item {
        &:first-child {
          margin-top: 10px;
        }
      }
    }
  }
}