.base-wrap {
  height: 100%;
}
.site-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #eef0f2;
  overflow: hidden;
  .site-header {
    box-shadow: 0.5px 0.866px 5px 0px rgba(213, 220, 222, 0.2);
    background-color: #fff;
    padding: 20px 0;
    height: 90px;
  }
  .site-middle {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .site-footer {
   .copy {
     @extend .container;
     margin-top: 45px;
     margin-bottom: 70px;
   }
  }
}
.site-header {
  .header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      height: 50px;
    }
    .user-navi {
      font-size: 12px;
      font-weight: 500;
      ul {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        @extend .panel-list;
        li {
          margin-left: 20px;
          &.hasChild {
            position: relative;
            > a {
              padding-right: 13px;
              &:after {
                content: '';
                position: absolute;
                @extend .icon;
                @extend .icon.icon-arrow_d;
                right: 0;
                top: 5px;
                width: 8px;
                height: 4px;
              }
            }
            &:hover {
              ul {
                display: block;
              }
            }
            ul {
              right: 0;
              position: absolute;
              padding: 5px 0;
              background-color: #fff;
              z-index: 100;
              border-radius: 3px;
              overflow: hidden;
              border: 1px solid $border-color;
              text-align: left;
              flex-direction: column;
              align-items: flex-start;
              min-width: 100px;
              display: none;
              li {
                margin: 0;
                width: 100%;
                &:hover {
                  background-color: #f0f0f0;
                }
                a {
                  padding: 5px 10px;
                  display: block;
                }
              }
            }
          }
          a {
            color: $color;
            text-decoration: none;
            position: relative;
            .counter {
              position: absolute;
              top: -5px;
              right: -5px;
            }
            &:hover {
              color: $pr-color;
            }
          }
        }
      }
    }
  }
}


.site-footer {
  .copy {
    font-size: 12px;
    font-weight: 500;
    padding: 0 30px;
  }
}
.main-navi {
  margin-top: 8px;
  ul {
    @extend .panel-list;
    display: flex;
    li {
      margin-right: 20px;
      &:hover {
        a {
          color: $pr-color;
        }
      }
      &.active {
        a {
          background-color: #fff;
          border-radius: 3px 3px 0 0;
          color: $pr-color;
        }
      }
      a {
        text-decoration: none;
        padding: 20px 25px 25px;
        display: block;
        font-size: 14px;
        text-transform: uppercase;
        color: $color;
        font-weight: 500;
      }
    }
  }
}
.content-tabs {
  font-size: 12px;
  font-weight: 500;
  border-bottom: 1px solid $border-color;
  margin: 0 -30px 0;
  padding: 0 30px 30px;
  ul {
    display: flex;
    @extend .panel-list;
    li {
      margin-right: 30px;
      &.active {
        a {
          color: $pr-color;
        }
      }
      a {
        display: block;
        color: $color;
        text-transform: uppercase;
      }
    }
  }
}
.content-block {
  margin-top: 30px;
  &:not(.bordered, .single-block) {
    border-bottom: 1px solid $border-color;
    padding: 30px;
    margin: 0 -30px 0;
  }
  + .bordered {
    margin-top: 30px;
  }
  &.bordered {
    .block-content {
      border: 1px solid $border-color;
      border-radius: 5px;
      padding: 20px;
    }
  }
  .block-title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 30px;
    line-height: 1em;
  }
  .block-content {
    .block-line {
      +.block-line {
        margin-top: 25px;
      }
      &.fields {
        display: flex;
        .field-block {
          flex: auto;
          &.block-half {
            flex: 0 0 50%;
            max-width: 50%;
          }
          &.block-third {
            flex: 0 0 33.333%;
            max-width: 33.333%;
          }
          label {
            white-space: nowrap;
          }
          + .field-block {
            padding-left: 20px;
          }
        }
      }
      .btn {
        +.btn {
          margin-left: 10px;
        }
      }
      .upload {
        flex: 0 0 100%;
        width: 100%;
      }
    }
  }
}
.field-block {
  &.field-btn {
    padding-top: 27px;
  }
  label {
    font-weight: 300;
    color: $sc-color;
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
  }
  .input-wrap {
    input, select {
      width: 100%;
    }
    &.word-list {
      display: flex;
      overflow-x: auto;
      padding-bottom: 20px;
      margin-bottom: 15px;
      .word-wrap {
        flex: 0 0 170px;
        +.word-wrap {
          margin-left: 10px;
        }
      }
    }
  }
}
.form-wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  .content-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    .form-inner {
      flex: 1;
    }
  }
}
.form-submit {
  margin-top: 30px;
  display: flex;
  .btn {
    +.btn {
      margin-left: 20px;
    }
  }
}


// seacrch field
.search-field {
  position: relative;
  .input-wrap {
    input {
      width: 100%;
      padding-right: 150px;
    }
  }
  .search-btn {
    position: absolute;
    top: 3px;
    right: 3px;
    z-index: 100;
  }
}

// input type file
.fake-upload {
  input {
    position: absolute;
    left: -9999em;
  }
}

// search result
.search-result {
  margin-top: 25px;
}
//table
table {
  width: 100%;
  border-collapse: collapse;
  th, td {
    padding: 15px 20px;
    border-bottom: 1px solid $border-color;
  }
  th {
    font-weight: 500;
  }
  td {
    &:last-child {
      text-align: right;
    }
  }
}

tags-input {
  text-align: left;
  .tags {
    box-shadow: none;
    padding: 0 15px;
    @extend .flex-grid;
    @extend .flex-grid.vcenter;
    justify-content: flex-start;
    flex-wrap: wrap;
    transition: all linear .2s;
    &.focused, &:focus {
      box-shadow: none;
    }
    .tag-list {
      &:not(:empty) {
        flex: 0 0 100%;
        margin: 15px 20px 0 0;
        border-bottom: 1px solid #f0f0f0;
        max-width: 100%;
        width: 100%;
      }
    }
    input[type="text"] {
      height: 53px;
      border: 0;
      width: 100%!important;
      max-width: 100%;
      padding: 0;
      float: none;
    }
    .tag-item {
      height: 30px;
      border-radius: 2px;
      background-color: $info-color;
      background-image: none;
      line-height: 30px;
      padding: 0 25px 0 10px;
      color: #fff;
      font-size: 12px;
      border: 0;
      margin: 0 10px 10px 0;
      position: relative;
      max-width: 100%;
      span {
        display: block;
        max-width: 300px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .remove-button {
        position: absolute;
        top: 8px;
        right: 10px;
        color: #fff;
        font-size: 14px;
        font-weight: 300;
        text-decoration: none;
      }
    }
  }
}
.bordered {
  .tree-list {
    .item {
      .item-inner {
        .tabled {
          padding: 0;
          border: 0;
          margin-bottom: 0;
        }
      }
    }
  }
}
.tree-list {
  .search {
    margin-bottom: 30px;
  }
  .item, .panel {
    box-shadow: none;
    + .item {
      margin-top: 25px;
    }
    &.panel-open {
      .panel-title {
        a {
          &:after {
            transform: rotate(180deg);
          }
        }
      }
    }
    .panel-heading {
      padding: 0;
    }
    .panel-title {
      h4 {

      }
      a {
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
        color: #fff;
        text-decoration: none;
        background-color: $btn-color;
        border-radius: 3px;
        padding: 0 20px;
        position: relative;
        &:after {
          content: '';
          @extend .icon;
          @extend .icon.icon-arrow_d.icon-arrow_d_w;
          position: absolute;
          top: 20px;
          right: 20px;
          width: 10px;
          height: 8px;
          transform: rotate(0deg);
        }
      }
    }
    .panel-collapse {
      .panel-body {
        padding: 0;
        border: 0;
      }
    }

  }
}

.item-inner {
  border-radius: 0 0 3px 3px;
  .disabled-link {
    font-size: 12px;
  }
  .tabled {
    border: 1px solid $border-color;
    padding: 30px;
    margin-bottom: 30px;
    border-collapse: collapse;
    .btn {
      margin-top: 30px;
    }
    .full-line {
      flex: 1;
    }
  }
}

.line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 1;
  .line-index {
    width: 30px;
  }
  > div {
    height: 60px;
    padding: 0 25px;
    border-bottom: 1px solid $border-color;
    flex: 0 0 90px;
    text-align: right;
    display: flex;
    align-items: center;
    &.btn-action {
      flex: 0 0 auto;
      width: auto;
    }
    &.full-line {
      flex: 1;
      text-align: left;
    }
    &.title {
      padding: 0 25px;
      font-size: 16px;
      flex: 1;
      text-align: left;
      .ui-select-container {
        flex: 1;
      }
      input {
        transition: all linear .2s;
        width: 100%;
        &:disabled {
          height: auto;
          border: 0;
          padding: 0;
          background-color: transparent;
        }
      }
    }
    > a {
      font-size: 12px;
      &.ng-hide-add {
        width: 0;
        visibility: hidden;
      }
    }
  }
  .line-inner {
    height: auto;
    flex: 0 0 100%;
    background-color: #e7ecec;
    border: 0;
    padding: 0;
    display: block;
    &.collapse {
      padding: 0;
      &.in {

      }
    }
    &.in {
      margin: -1px 0;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        border-bottom: 10px solid #e7ecec;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        top: -10px;
        right: 140px;
      }
    }
    .title-inner {
      margin: 25px 0 25px 25px;
      text-align: left;
      font-weight: 700;
      a {
        font-weight: 300;
        font-size: 12px;
      }
      span {
        font-size: 16px;
        font-weight: 300;
      }
    }
    .inner-action {
      text-align: left;
      display: flex;
      padding: 20px 0 30px 25px;
      .btn {
        margin-top: 0;
        +.btn {
          margin-left: 10px;
        }
      }
    }
    .tabled {
      margin: 20px 25px;
      padding: 0;
      border: 0;
      .line {
        > div {
          padding: 15px 20px;
          &.title {
            font-size: 14px;
          }
        }
      }
    }
  }
}

a {
  &.btn-remove {
    font-size: 12px;
    color: $dang-color;
  }
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition-timing-function: ease;
  transition-duration: .35s;
  transition-property: height, visibility;
}
.collapse {
  height: 0;
  overflow: hidden;
  &.in {
    height: auto;
    overflow: visible;
  }
}
.pagination {
  @extend .flex-grid;
  @extend .flex-grid.vcenter;
  @extend .flex-grid.hcenter;
  width: 100%;
  li {
    float: none;
    a {
      font-size: 14px;
      color: $color;
      font-weight: 500;
      padding: 0;
    }
  }

  .pagination-prev, .pagination-next {
    a {
      border: 0;
      text-transform: uppercase;
      text-decoration: underline;
      background-color: #fff;
      &:hover {
        background-color: #fff;
        text-decoration: none;
      }
    }
    &.disabled {
      a {
        text-decoration: none;
        color: $sc-color;
      }
    }
  }
  .pagination-prev {
    margin-right: 25px;
  }
  .pagination-next {
    margin-left: 25px;
  }
  .pagination-page {
    margin: 0 15px;
    a {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #fff;
      border: 1px solid #d9dcdd;
      @extend .flex-grid;
      @extend .flex-grid.vcenter;
      @extend .flex-grid.hcenter;
    }
    &:hover {
      a {
        background-color: #fff;
        border-color: $pr-color;
      }
    }
    &.active {
      a {
        color: #fff;
        background-color: $pr-color;
        border-color: $pr-color;
      }
    }
  }
}
.ui-sortable-helper {
  background-color: #fff;
}
.info-line {
  font-style: italic;
  color: $sc-color;
  padding: 20px 0 0;
}
.note-editor {
  .btn {
    padding: 3px 6px;
    margin: 0;
    background: #ddd;
    color: #424242;
    &:hover {
      background: #ccc;
      color: #424242;
    }
    +.btn {
      margin: 0!important;
    }
    .btn-group {
      .btn {
        + .btn {
          margin: 0!important;
        }
      }
    }
  }
  &.note-frame {
    .note-editing-area {
      .note-editable {
        padding: 10px 20px;
      }
    }
  }
}
.fast-add {
  @extend .flex-grid;
  @extend .flex-grid.vcenter;
  justify-content: flex-start;
  .title {
    flex: 1;
  }
  .fast-add-actions {
    padding-left: 30px;
    a {
      + a {
        margin-left: 20px;
      }
    }
  }
  .fast-add-select {
    flex: 0 0 200px;
  }
}
.content-tabs {
  .fast-add {
    margin-top: 30px;
  }
}
.dialog-block {
  margin: 20px -30px;
  color: $color;
  padding: 20px 30px;
  font-size: 18px;
  font-weight: 300;
  &.saved {
    background: lighten($pr-color, 30%);
  }
  &.error {
    background: lighten($dang-color, 30%);
  }
}
.item-options {
  a {
    display: inline-block;
    vertical-align: middle;
    + a {
      margin-left: 15px;
    }
  }
}
.sweet-alert {
  ul {
    text-align: left;
    margin: 0 0 15px 20px;
    display: inline-block;
  }
}
.list-count {
  padding: 20px;
}
.list-with-index {
  @extend .panel-list;
  margin: 20px!important;
  li {
    padding: 15px 25px 15px 35px;
    position: relative;
    &:nth-child(even) {
      background: #f0f0f0;
    }
    .full {
      &:not(:empty) {
        width: 400px;
        display: inline-block;
      }
    }
    .index {
      position: absolute;
      left: 10px;
      top: 50%;
      margin-top: -8px;
      font-size: 12px;
    }
    .remove-list-item {
      position: absolute;
      right: 10px;
      top: 50%;
      margin-top: -11px;
    }
  }
}