<section id="wrapper" class="base site-wrapper">
    <header class="site-header">
        <div class="container">
            <div class="header-inner">
                <div class="logo">
                    <img src="assets/images/alibra-logo-beta.svg" alt="">
                </div>
                <div class="user-navi">
                    <ul>
                        <li><a ui-sref="base.report">ОТЧЕТНОСТЬ</a></li>
                        <li><a href="#" class="icon-link"><span class="icon icon-notification"></span><span class="counter">9</span></a></li>
                        <li class="hasChild">
                            <a href="#">Екатерина</a>
                            <ul>
                                <li><a href="#">Выход</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <section class="site-middle ui-view-wrapper">
        <nav class="main-navi">
            <div class="container">
                <ul class="menu">
                    <li ui-sref-active="active"><a ui-sref="base.editor">Редактор</a></li>
                    <li ui-sref-active="active"><a ui-sref="base.exercises">Упражнения</a></li>
                    <li ui-sref-active="active"><a ui-sref="base.words">Слова</a></li>
                    <li ui-sref-active="active"><a ui-sref="base.grammarSections">Грамматика</a></li>
                    <li ui-sref-active="active"><a ui-sref="base.dictionaries">Словарь</a></li>
                    <li ui-sref-active="active"><a ui-sref="base.wordCards">Лексика</a></li>
                    <li ui-sref-active="active"><a ui-sref="base.users">Пользователи</a></li>
                    <li ui-sref-active="active"><a ui-sref="base.mailings">Рассылки</a></li>
                </ul>
            </div>
        </nav>
        <div ui-view class="content-container" ng-if="!pageReload"></div>
    </section>
    <footer class="site-footer">
        <div class="container">
            <div class="copy">
                <div>© 2015 ALIBRA SCHOOL</div>
                <div>Сеть школ иностранных языков</div>
            </div>
        </div>
    </footer>
</section>