<div class="list">
    <div class="content-tabs">
        <ul>
            <li class="active">
                <a ui-sref="base.exerciseEditor({id: 'create'})">Создать упражнение</a>
            </li>
        </ul>
    </div>
    <div class="content-block">
        <div class="block-content">
            <div class="block-line fields">
                <div class="field-block">
                    <label for="exercises_search">Поиск</label>
                    <input type="search"
                           id="exercises_search"
                           ng-model="query"
                           ng-change="$ctrl.search(query)"
                           ng-model-options="{debounce: 300}"/>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <p class="list-count">Найдено упражнений: <span>{{$ctrl.totalCount}}</span></p>
        <ul class="list-with-index">
            <li ng-repeat="exercise in $ctrl.items" ng-if="!exercise.is_deleted">
                <a ui-sref="base.exerciseEditor({id: exercise.id})"
                   class="full" ng-bind="exercise.name"></a>
                <strong class="index" ng-bind="($ctrl.currentPage-1)*$ctrl.countPerPage + $index+1"></strong>
                <span ng-bind="exercise.name"></span>
                <div class="remove-list-item" ng-click="$ctrl.deleteExercise(exercise)" confirm>
                    <span class="icon icon-trash"></span>
                </div>
            </li>
        </ul>
    </div>
    <ul uib-pagination ng-if="$ctrl.totalCount > $ctrl.countPerPage"
        total-items="$ctrl.totalCount"
        ng-model="$ctrl.currentPage"
        items-per-page="$ctrl.countPerPage"
        max-size="7"
        ng-change="$ctrl.search(query, $ctrl.currentPage)"
        class="">
    </ul>
</div>