/* font-family: "MuseoSansRegular"; */
@font-face {
  font-family: "MuseoSansWeb";
  src: url("/assets/fonts/MuseoSans/MuseoSansRegular.eot");
  src: url("/assets/fonts/MuseoSans/MuseoSansRegular.eot?#iefix")format("embedded-opentype"),
  url("/assets/fonts/MuseoSans/MuseoSansRegular.woff") format("woff"),
  url("/assets/fonts/MuseoSans/MuseoSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
/* font-family: "MuseoSansBold"; */
@font-face {
  font-family: "MuseoSansWeb";
  src: url("/assets/fonts/MuseoSans/MuseoSansBold.eot");
  src: url("/assets/fonts/MuseoSans/MuseoSansBold.eot?#iefix")format("embedded-opentype"),
  url("/assets/fonts/MuseoSans/MuseoSansBold.woff") format("woff"),
  url("/assets/fonts/MuseoSans/MuseoSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
/* font-family: "MuseoSansItalic"; */
@font-face {
  font-family: "MuseoSansWeb";
  src: url("/assets/fonts/MuseoSans/MuseoSansItalic.eot");
  src: url("/assets/fonts/MuseoSans/MuseoSansItalic.eot?#iefix")format("embedded-opentype"),
  url("/assets/fonts/MuseoSans/MuseoSansItalic.woff") format("woff"),
  url("/assets/fonts/MuseoSans/MuseoSansItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
}
/* font-family: "MuseoSansLight"; */
@font-face {
  font-family: "MuseoSansWeb";
  src: url("/assets/fonts/MuseoSans/MuseoSansLight.eot");
  src: url("/assets/fonts/MuseoSans/MuseoSansLight.eot?#iefix")format("embedded-opentype"),
  url("/assets/fonts/MuseoSans/MuseoSansLight.woff") format("woff"),
  url("/assets/fonts/MuseoSans/MuseoSansLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
/* font-family: "MuseoSansMedium"; */
@font-face {
  font-family: "MuseoSansMedium";
  src: url("/assets/fonts/MuseoSans/MuseoSansMedium.eot");
  src: url("/assets/fonts/MuseoSans/MuseoSansMedium.eot?#iefix")format("embedded-opentype"),
  url("/assets/fonts/MuseoSans/MuseoSansMedium.woff") format("woff"),
  url("/assets/fonts/MuseoSans/MuseoSansMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "MuseoSansBlack"; */
@font-face {
  font-family: "MuseoSansWeb";
  src: url("/assets/fonts/MuseoSans/MuseoSansBlack.eot");
  src: url("/assets/fonts/MuseoSans/MuseoSansBlack.eot?#iefix")format("embedded-opentype"),
  url("/assets/fonts/MuseoSans/MuseoSansBlack.woff") format("woff"),
  url("/assets/fonts/MuseoSans/MuseoSansBlack.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}
/* font-family: "MuseoSansBoldItalic"; */
@font-face {
  font-family: "MuseoSansBoldItalic";
  src: url("/assets/fonts/MuseoSans/MuseoSansBoldItalic.eot");
  src: url("/assets/fonts/MuseoSans/MuseoSansBoldItalic.eot?#iefix")format("embedded-opentype"),
  url("/assets/fonts/MuseoSans/MuseoSansBoldItalic.woff") format("woff"),
  url("/assets/fonts/MuseoSans/MuseoSansBoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 700;
}
/* font-family: "MuseoSansMediumItalic"; */
@font-face {
  font-family: "MuseoSansMediumItalic";
  src: url("/assets/fonts/MuseoSans/MuseoSansMediumItalic.eot");
  src: url("/assets/fonts/MuseoSans/MuseoSansMediumItalic.eot?#iefix")format("embedded-opentype"),
  url("/assets/fonts/MuseoSans/MuseoSansMediumItalic.woff") format("woff"),
  url("/assets/fonts/MuseoSans/MuseoSansMediumItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "MuseoSansLightItalic"; */
@font-face {
  font-family: "MuseoSansLightItalic";
  src: url("/assets/fonts/MuseoSans/MuseoSansLightItalic.eot");
  src: url("/assets/fonts/MuseoSans/MuseoSansLightItalic.eot?#iefix")format("embedded-opentype"),
  url("/assets/fonts/MuseoSans/MuseoSansLightItalic.woff") format("woff"),
  url("/assets/fonts/MuseoSans/MuseoSansLightItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 300;
}
/* font-family: "MuseoSansBlackItalic"; */
@font-face {
  font-family: "MuseoSansWeb";
  src: url("/assets/fonts/MuseoSans/MuseoSansBlackItalic.eot");
  src: url("/assets/fonts/MuseoSans/MuseoSansBlackItalic.eot?#iefix")format("embedded-opentype"),
  url("/assets/fonts/MuseoSans/MuseoSansBlackItalic.woff") format("woff"),
  url("/assets/fonts/MuseoSans/MuseoSansBlackItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 900;
}
