// colors
$color: #575759;
$sc-color: #909090;
$pr-color: #618811; //#9fc74e
$info-color: #e8a72d;
$dang-color: #cb2228;
$brand-danger: $dang-color;
$btn-color: #4a83ca;
$border-color: #d9dcdd;
$crimson-color: #EC3B83;

//fonts
@import url(fonts.scss);
$font: "MuseoSansWeb", sans-serif;

$fa-font-path:        "../../bower_components/font-awesome/fonts" !default;
$icon-font-path: "../../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

$stable: #ebecf3;
$stable-text: #042A54;
$brand-primary: #8cc63f !default;
$top-nav-height: 50px !default;
$side-nav-width: 225px !default;

/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

a {
  cursor: pointer;
}

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector

//fonts
@import url(/assets/fonts/fonts.css);
$font: "MuseoSansWeb", sans-serif;

html {
  box-sizing: border-box;
  * {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
}

body, html, .base-wrap {
  height: 100%;
}
body {
  color: $color;
  font-size: 14px;
  font-weight: 300;
  font-family: $font;
}
a, button, [type="submit"], input, select {
  outline: none;
  box-shadow: none;
  &:focus {
    outline: none;
    box-shadow: none;
  }
}
a {
  color: $pr-color;
  text-decoration: underline;
  transition: all linear .2s;
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
  &.btn-pr {
    line-height: 53px;
    padding-top: 0;
    padding-bottom: 0;
  }
}
input, select, tags-input .tags, textarea, .editor[contenteditable="true"] {
  font-family: $font;
  border-radius: 2px;
  border: 1px solid $border-color;
  background-color: #fff;
  padding: 0 20px;
  font-size: 16px;
  font-weight: 300;
  transition: all linear .2s;
  &:focus {
    outline: none;
    border-color: $sc-color;
  }
}
.editor[contenteditable="true"] {
  width: 100%;
  height: 100px;
  padding: 10px 20px;
}
textarea {
  width: 100%;
  height: 100px;
  resize: none;
  padding: 10px 20px;
}
tags-input {
  .tags {
    min-height: 55px;
    height: auto;
  }
}
input {
  &:not([type="submit"], [type="button"], [type="checkbox"]), &[type="text"], &[type="search"] {
    width: 100%;
    height: 55px;
  }
}

.flex-grid {
  display: flex;
  justify-content: space-between;
  &.vcenter {
    align-items: center;
  }
  &.hcenter {
    justify-content: center;
  }
}
.container, .site-container {
  width: 1240px;
  margin-left: auto;
  margin-right: auto;
}
.panel-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}
.icon {
  display: inline-block;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
  vertical-align: middle;
  &.icon-notification {
    width: 17px;
    height: 19px;
    // background-image: url(/assets/images/icon-notification.svg);
    background-image: url(/assets/images/icon-bell.svg);
  }
  &.icon-arrow_d {
    background-image: url(/assets/images/icon-arrow_d.svg);
    &.icon-arrow_d_w {
      background-image: url(/assets/images/icon-arrow_d_w.svg);
    }
  }
  &.icon-arrow_d_d {
    background-image: url(/assets/images/icon-arrow_d_d.svg);
  }
  &.icon-arrow_d_g {
    width: 11px;
    height: 6px;
    background-image: url(/assets/images/icon-arrow_d_g.svg);
  }
  &.icon-trash {
    width: 14px;
    height: 15px;
    background-image: url(/assets/images/icon-trash.svg);
  }
  &.icon-back {
    width: 25px;
    height: 17px;
    background-image: url(/assets/images/icon-back.svg);
  }
  &.icon-chart {
    width: 19px;
    height: 19px;
    background-image: url(/assets/images/icon-chart.svg);
  }
  &.icon-help {
    width: 15px;
    height: 15px;
    background-image: url(/assets/images/icon-help.svg);
  }
  &.icon-play {
    width: 42px;
    height: 42px;
    background-image: url(/assets/images/icon-play.svg);
  }
  &.icon-pause {
    width: 42px;
    height: 42px;
    background-image: url(/assets/images/icon-pause.svg);
  }
  &.icon-cross {
    width: 16px;
    height: 17px;
    background-image: url(/assets/images/icon-cross.svg);
  }
  &.icon-check {
    width: 19px;
    height: 15px;
    background-image: url(/assets/images/icon-check.svg);
  }
  &.icon-check_g {
    width: 19px;
    height: 15px;
    background-image: url(/assets/images/icon-check_g.svg);
  }
  &.icon-hm {
    width: 18px;
    height: 22px;
    background-image: url(/assets/images/icon-hm.svg);
  }
  &.icon-test {
    width: 32px;
    height: 25px;
    background-image: url(/assets/images/icon-test.svg);
  }
  &.icon-micro {
    width: 20px;
    height: 32px;
    background-image: url(/assets/images/icon-micro.svg);
  }
  &.icon-mute {
    width: 20px;
    height: 20px;
    background-image: url(/assets/images/icon-mute.svg);
  }
  &.icon-volume {
    width: 20px;
    height: 20px;
    background-image: url(/assets/images/icon-volume.svg);
  }
  &.icon-search {
    width: 13px;
    height: 13px;
    background-image: url(/assets/images/icon-search.svg);
  }
  &.icon-translate {
    width: 30px;
    height: 28px;
    background-image: url(/assets/images/icon-translate.svg);
  }
  &.icon-clock {
    width: 65px;
    height: 75px;
    background-image: url(/assets/images/icon-clock.svg);
  }
  &.icon-student {
    width: 59px;
    height: 75px;
    background-image: url(/assets/images/icon-student.svg);
  }
  &.icon-grammar {
    width: 40px;
    height: 40px;
    background-image: url(/assets/images/icon-grammar.svg);
  }
  &.icon-dictionary {
    width: 40px;
    height: 40px;
    background-image: url(/assets/images/icon-vocabulary.svg);
  }
}
.icon-with-text {
  display: flex;
  align-items: center;

  .icon {
    flex: 0 0 40px;
  }
  .icon-text {
    margin-left: 20px;
    flex: 0 0 100px;
    line-height: 1.1em;
  }
  + .icon-with-text {
    margin-left: 40px;
  }
}
.btn-icon {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  .btn-name {
    margin-left: 20px;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
  }
}
.btn {
  text-decoration: none;
  border-radius: 3px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 12px;
  background-color: $btn-color;
  color: #fff;
  padding: 14px 30px;
  border: 1px solid transparent;
  transition: all linear .2s;
  cursor: pointer;
  display: inline-block;
  &.fake-upload {
    display: inline-block;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 0;
  }
  &:hover {
    color: #fff;
    background-color: darken($btn-color, 20%);
  }
  &:focus, &:active {
    outline: none;
    color: #fff;
    border-color: transparent;
  }
  &.btn-stroked {
    background-color: transparent;
    border-color: $btn-color;
    color: $btn-color;
    &:hover {
      background-color: $btn-color;
      color: #fff;
    }
    &.btn-download {
      color: $pr-color;
      border-color: $pr-color;
      &:hover {
        background-color: $pr-color;
        color: #fff;
      }
    }
  }
  &.btn-pr {
    background-color: $pr-color;
    &:hover {
      color: #fff;
      background-color: darken($pr-color, 20%);
    }
  }
  &.btn-info {
    border-color: transparent;
    background-color: $info-color;
    color: #fff;
    &:hover {
      background-color: darken($info-color, 20%);
    }
  }
  &.btn-dang {
    border-color: transparent;
    background-color: $dang-color;
    color: #fff;
    &:hover {
      background-color: darken($dang-color, 20%);
    }
  }
  &.btn-lg {
    font-size: 14px;
    padding: 18px 70px;
    font-weight: 700;
  }
}
.counter {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: $info-color;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 9px;
}
.icon-link {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $pr-color;
  border-radius: 50%;
  color: #fff;
  text-decoration: none;
  &:hover {
    background-color: darken($pr-color, 20%);
    color: #fff;
  }
}
.site-middle {
  .content-container {
    background-color: #fff;
    border-radius: 2px;
    padding: 30px;
    flex: 1;
    @extend .site-container;
    width: 1210px;
  }
}

//dialog line


.dialog-line {
  padding: 15px 0;
  background-color: #edf1f2;
  .dialog-inner {
    @extend .site-container;
    color: $color;
    font-weight: 600;
    @extend .flex-grid;
    @extend .flex-grid.vcenter;
    .btn {
      margin-left: 50px;
    }
  }
}


// ie fixes


.ie {
  height: auto;
  overflow-y: auto;
  .base-wrap {
    height: auto;
    .site-wrapper {
      min-height: 100vh;
      width: 100%;
      display: table;
      table-layout: fixed;
      .site-middle, .site-header, .site-footer {
        display: table-row;
        width: 100%;
        &.site-header {
          height: 90px;
          .header-inner {
            padding-top: 20px;
            display: table;
            table-layout: fixed;
            .logo, .user-navi, .header-navi {
              display: table-cell;
              vertical-align: middle;
              &.header-navi {
                text-align: right;
              }
            }
          }
        }
        &.site-middle {
          .form-wrap {
            display: block;
            .content-form {
              display: block;
            }
          }
          .container-content {
            height: 100%;
            display: block;
          }
        }
        &.site-footer {
          height: 130px;
        }
      }
    }
  }
}

// img mixin
.full-img {
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
  }
}


// ui select
.ui-select-container {
  position: relative;
  height: 55px;
  .ui-select-match {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
  }
  .selectize-input {
    font-family: $font;
    border-radius: 2px;
    border: 1px solid $border-color;
    background-color: #fff;
    padding: 0 40px 0 0;
    font-size: 16px;
    font-weight: 300;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    input[type="search"] {
      height: 100%;
    }
    &.disabled {
      background: transparent;
      border: 0;
      &:after {
        background-image: none;
      }
    }
    &:after {
      content: '';
      position: absolute;
      top: 23px;
      right: 15px;
      background: url(/assets/images/icon-arrow_d.svg) 0 0 no-repeat;
      background-size: 100% auto;
      width: 10px;
      height: 8px;
      z-index: 100;
    }
    .ui-select-match {
    }
    input, [type="search"] {
      border: 0;
      height: 53px;
      min-width: 10px;
      padding-right: 0;
    }
    .ng-binding {
      display: block;
      width: 100%;
      height: 100%;
      line-height: 53px;
      padding: 0 0 0 20px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  .ui-select-choices {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border-width: 0 1px 1px 1px;
    border-color: $border-color;
    border-style: solid;
    border-radius: 0 0 2px 2px;
    overflow: hidden;
    overflow-y: auto;
    max-height: 300px;
    z-index: 100;
    .ui-select-choices-row {
      cursor: pointer;
      padding: 10px 20px;
      span {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        display: block;
      }
      &:hover {
        background-color: #f0f0f0;
      }
      .option {
        span {
          display: inline;
          white-space: normal;
          &.ui-select-highlight {
            color: #000;
            font-weight: 500;
          }
        }
      }
    }
  }
}
.notification-list {
  padding: 0;
  .notification-line {
    background-color: #fff;
    padding: 15px 20px;
    font-size: 14px;
    .glyphicon {
      margin-left: 30px;
      cursor: pointer;
      opacity: .5;
      transition: all linear .2s;
      &:hover {
        opacity: 1;
      }
    }
  }
}
