<div class="fast-add ">
    <div class="title">
        <input class="title" ng-model="$ctrl.category.name"/>
    </div>

    <div>
        <load-file label="загрузить большое изображение"
                   url="image/upload"
                   callback="$ctrl.imageLoaded(response, 'big')"
                   file="$ctrl.category.image_big">
        </load-file>
    </div>

    <div>
        <load-file label="загрузить маленькое изображение"
                   url="image/upload"
                   callback="$ctrl.imageLoaded(response, 'small')"
                   file="$ctrl.category.image">
        </load-file>
    </div>

    <div class="fast-add-actions">
        <a ng-click="$ctrl.update();">Сохранить</a>
        <a class="btn-remove" ui-sref="base.categories">Отменить</a>
    </div>
</div>
<table>
    <tr>
        <th>Имя группы</th>
        <th></th>
    </tr>
    <tr class="item-options" ng-repeat="group in $ctrl.category.groups">
        <td>{{group.name}}</td>
        <td>
            <a class="btn-remove" ng-click="$ctrl.removeGroup(group)" confirm>
                <span class="glyphicon glyphicon-trash"></span>
            </a>
        </td>
    </tr>
    <tr class="item-options" ng-if="addGroup">
        <td>
            <input type="text" ng-model="$ctrl.group.name">
        </td>
        <td>
            <a ng-click="$ctrl.addGroup()">Сохранить</a>
            <a class="btn-remove" ng-click="addGroup = false;">Отменить</a>
        </td>
    </tr>
</table>
<div class="inner-action">
    <a ng-click="addGroup = true;" class="btn btn-pr">Добавить группу</a>
</div>