<div class="fast-add ">
    <div class="title">
        <input class="title" ng-model="$ctrl.category.name"/>
    </div>

    <div>
        <load-file label="загрузить большое изображение"
                   url="image/upload"
                   callback="$ctrl.imageLoaded(response, 'big')"
                   file="$ctrl.category.image_big">
        </load-file>
    </div>

    <div>
        <load-file label="загрузить маленькое изображение"
                   url="image/upload"
                   callback="$ctrl.imageLoaded(response, 'small')"
                   file="$ctrl.category.image">
        </load-file>
    </div>

    <div class="fast-add-actions">
        <a ng-click="$ctrl.create();">Сохранить</a>
        <a class="btn-remove" ng-click="$ctrl.isVisible = false;">Отменить</a>
    </div>
</div>