<div class="list">
    <div class="content-tabs">
        <ul>
            <ul>
                <li class="active">
                    <a ui-sref="base.wordCards">К списку карточек</a>
                </li>
            </ul>
            <li ng-class="{'active': createCategory}">
                <a ng-click="createCategory=!createCategory; createGroup=false;">Добавить категорию</a>
            </li>
        </ul>

        <create-category is-visible="$parent.createCategory" ng-if="createCategory"></create-category>
    </div>

    <div class="content-block">
        <div class="block-content">
            <div class="block-line fields">
                <div class="field-block ">
                    <div class="search-field">
                        <div class="input-wrap">
                            <input type="search"
                                   ng-model="$ctrl.filterCategory"
                                   ng-model-options="{debounce: 300}"
                                   placeholder="Введите категорию"/>
                        </div>
                        <button class="btn search-btn" ng-click="$ctrl.searchCategory()">Найти</button>
                    </div>
                    <div>
                        Найдено категорий: <span>{{$ctrl.totalCount}}</span>
                    </div>
                </div>
            </div>

            <div class="search-result">
                <table>
                    <tr>
                        <th>Имя</th>
                        <th></th>
                    </tr>

                    <tr ng-repeat="category in $ctrl.categories">
                        <td>
                            <span ng-bind="category.name"></span>
                        </td>
                        <td class="item-options">
                            <a ui-sref="base.categoryEditor({id: category.id})">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                            <a class="btn-remove" ng-click="$ctrl.remove(category)" confirm>
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>

            <ul uib-pagination ng-if="$ctrl.totalCount > $ctrl.countPerPage"
                total-items="$ctrl.totalCount"
                ng-model="$ctrl.currentPage"
                items-per-page="$ctrl.countPerPage"
                max-size="7"
                ng-change="$ctrl.goToPage($ctrl.currentPage)"
                class="">
            </ul>
        </div>
    </div>
</div>
