<div class="cards-block">
    <div class="card-wrap">
        <div class="card-img" ng-if="$ctrl.activeRound.image.full_path"><img ng-src="{{$ctrl.activeRound.image.full_path}}" alt=""></div>
        <div class="card-info">
            <audio-player src="$ctrl.activeRound.audio.full_path"></audio-player>
        </div>
    </div>
    <div class="card-wrap card-wrap-answer">
        <!--<div class="title">Input your answer</div>-->
        <textarea ng-model="$ctrl.answer"
                  cols="30"
                  rows="10"
                  class="answer"
                  placeholder="Enter your answear here">
        </textarea>
    </div>
</div>

<check-exercise
    exercise="$ctrl.exercise"
    round="$ctrl.activeRound"
    check-answer="$ctrl.checkAnswer()"
    set-answer-visibility="$ctrl.setAnswerVisibility(isVisible)"
    on-round-complete="$ctrl.onRoundComplete({result, progress})">
</check-exercise>