listen-write-exercise {
  .card-wrap {
    padding: 20px
  }
  .card-img {
    width: 100%;
    height: 320px;
    @extend .full-img;
  }
  .title {
    font-size: 18px;
    color: #353535;
    margin: 30px 0;
    font-weight: 700;
  }
  .card-wrap-answer {
    padding-top: 20px;
  }
  textarea {
    height: 125px;
    resize: none;
  }
}