<header></header>

<div class="site-middle">
    <div class="content-navi">
        <content-navi></content-navi>
    </div>
    <div class="content-container">
        <div class="content-title">
            {{$ctrl.contentTitle}}
        </div>
<div ng-if="$ctrl.activeCard" class="repetition-block">
        <div class="block-navi">
            <ul>
                <li ng-class="{'active': $ctrl.activeTab == 'find'}">
                    <a href="#" ng-click="$ctrl.activeTab='find'">Find the word</a>
                </li>
                <li ng-class="{'active': $ctrl.activeTab == 'remember'}">
                    <a href="#" ng-click="$ctrl.activeTab='remember'">Remember the word</a>
                </li>
                <li ng-class="{'active': $ctrl.activeTab == 'write'}">
                    <a href="#" ng-click="$ctrl.activeTab='write'">Write the word</a>
                </li>
            </ul>
        </div>
        <div ng-if="$ctrl.activeTab == 'find'">
            <vocabulary-repetition-find-word
                    user-card="$ctrl.activeCard"
                    on-success="$ctrl.completeCard()"
                    on-fail="$ctrl.completeCard()">

            </vocabulary-repetition-find-word>
        </div>

        <div ng-if="$ctrl.activeTab == 'remember'">
            <vocabulary-repetition-remember-word
                    user-card="$ctrl.activeCard"
                    on-success="$ctrl.completeCard()"
                    on-fail="$ctrl.completeCard()">

            </vocabulary-repetition-remember-word>
        </div>

        <div ng-if="$ctrl.activeTab == 'write'">
            <vocabulary-repetition-write-word
                    user-card="$ctrl.activeCard"
                    on-success="$ctrl.completeCard()"
                    on-fail="$ctrl.completeCard()">

            </vocabulary-repetition-write-word>
        </div>
    </div>
    <div class="repetition-block" ng-if="!$ctrl.activeCard && $ctrl.repeatDone">
        <div class="repetition-block-content">

            <div ng-if="!$ctrl.group.isDone">
                <span class="help-line">Поздравляем! Тема {{ $ctrl.group.name }} изучена. Следующее повторение </span>
                <span ng-bind="$ctrl.nextRepetitionDate"></span>
            </div>
            <div>
                <a href="#" ui-sref="vocabularyRepetitionGroups">Продолжить</a>
            </div>
        </div>
    </div>
</div>
</div>
<footer></footer>