<div class="block-img" ng-if="$ctrl.card.image.full_path">
    <img ng-src="{{$ctrl.card.image.full_path}}" alt="{{$ctrl.card.word.word}}">
</div>
<div class="repetition-block-content">
    <div class="block-word" ng-if="$ctrl.showAnswer">
        <span ng-bind="$ctrl.card.word.word"></span>
    </div>

    <div ng-if="$ctrl.showAnswer">
        <div class="block-transcription">
            <div class="word-transcription">
                <span ng-bind="$ctrl.card.transcription"></span>
            </div>
            <div ng-if="$ctrl.card.audio.full_path">
                <audio-player-min src="$ctrl.card.audio.full_path"></audio-player-min>
            </div>
        </div>
        <div class="word-example">
            <div class="help-line">
                <span ng-bind-html="$ctrl.card.sample"></span>
            </div>
            <div ng-if="$ctrl.card.sample_audio.full_path">
                <audio-player-min src="$ctrl.card.sample_audio.full_path"></audio-player-min>
            </div>
        </div>
    </div>
    <div class="block-actions">
        <div ng-if="!$ctrl.showAnswer">
            <a href="#" class="btn btn-pr" ng-class="{'btn-dang': $ctrl.attempt>=2}" ng-click="$ctrl.showAnswer=true">Check</a>
        </div>
        <div ng-if="$ctrl.showAnswer">
            <a href="#" class="btn btn-pr" ng-click="$ctrl.correct();" click-once="repetition:done">Correct</a>
            <a href="#" class="btn btn-dang" ng-click="$ctrl.wrong();">Wrong</a>
        </div>
    </div>
</div>
