<div class="list">
    <div class="content-block single-block">
        <div class="block-title">1. Выгрузка отчета</div>
        <div class="block-content">
            <div class="block-line fields">
                <div class="field-block">
                    <label>Отчет</label>
                    <div class="input-wrap">
                        <ui-select ng-model="$ctrl.selectedComponent" theme="selectize" title="">
                            <ui-select-match placeholder="">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="template in $ctrl.templates| filter: $select.search">
                                <span ng-bind-html="template.name | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="field-block field-btn">
                    <a href="#" class="btn btn-stroked btn-download">Выгрузить на экран</a>
                </div>
                <div class="field-block field-btn">
                    <a href="#" class="btn btn-stroked btn-download">Выгрузить в EXCEl</a>
                </div>
                <div class="field-block field-btn">
                    <a href="#" class="btn btn-stroked btn-download">Выгрузить в pdf</a>
                </div>
                <div class="field-block field-btn">
                    <a href="#" class="btn btn-stroked btn-download">отправить на e-mail</a>
                </div>
            </div>
            <div class="report-result">
                <div class="report-result-table">
                    <table>
                        <tr>
                            <th>Фио</th>
                            <th>Возраст</th>
                            <th>Город</th>
                            <th>Статус</th>
                            <th>Преподаватель</th>
                            <th>История</th>
                            <th>Дата регистрации</th>
                            <th>Источник регистрации</th>
                        </tr>
                        <tr>
                            <td>some content</td>
                            <td>some content</td>
                            <td>some content</td>
                            <td>some content</td>
                            <td>some content</td>
                            <td>some content</td>
                            <td>some content</td>
                            <td>some content</td>
                        </tr>
                        <tr>
                            <td>some content</td>
                            <td>some content</td>
                            <td>some content</td>
                            <td>some content</td>
                            <td>some content</td>
                            <td>some content</td>
                            <td>some content</td>
                            <td>some content</td>
                        </tr>
                        <tr>
                            <td>some content</td>
                            <td>some content</td>
                            <td>some content</td>
                            <td>some content</td>
                            <td>some content</td>
                            <td>some content</td>
                            <td>some content</td>
                            <td>some content</td>
                        </tr>
                        <tr>
                            <td>some content</td>
                            <td>some content</td>
                            <td>some content</td>
                            <td>some content</td>
                            <td>some content</td>
                            <td>some content</td>
                            <td>some content</td>
                            <td>some content</td>
                        </tr>
                        <tr>
                            <td>some content</td>
                            <td>some content</td>
                            <td>some content</td>
                            <td>some content</td>
                            <td>some content</td>
                            <td>some content</td>
                            <td>some content</td>
                            <td>some content</td>
                        </tr>
                        <tr>
                            <td>some content</td>
                            <td>some content</td>
                            <td>some content</td>
                            <td>some content</td>
                            <td>some content</td>
                            <td>some content</td>
                            <td>some content</td>
                            <td>some content</td>
                        </tr>
                    </table>
                </div>
                <ul class="pagination ng-pristine ng-untouched ng-valid ng-scope ng-isolate-scope ng-not-empty">
                    <li class="pagination-prev ng-scope disabled"><a href="#" class="ng-binding">Первая</a></li>
                    <li class="pagination-page ng-scope active"><a href="#" class="ng-binding">1</a></li>
                    <li class="pagination-page ng-scope"><a href="#" class="ng-binding">2</a></li>
                    <li class="pagination-page ng-scope"><a href="#" class="ng-binding">3</a></li>
                    <li class="pagination-page ng-scope"><a href="#" class="ng-binding">4</a></li>
                    <li class="pagination-page ng-scope"><a href="#" class="ng-binding">5</a></li>
                    <li class="pagination-next ng-scope"><a href="#" class="ng-binding">Последняя</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <ul class="list-templates">
            <li ng-repeat="exercise in $ctrl.exercises">
                <a href="/lessons/edit/" class="full" ng-bind="exercise.name"></a>
                <strong class="index" ng-bind="$index+1"></strong>
                <span ng-bind="exercise.name"></span>
            </li>
        </ul>
    </div>
</div>