crossword {
  display: block;
  background: #fff;
  max-width: 700px;
  margin: 0 auto !important;
  @extend .clearfix;

  #crossword {
    text-align: center;
  }

  .crossword {
    border-collapse: collapse;
    font-family: "Courier New", Courier, monospace;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .crossword td {
    border: 1px solid black;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    padding: 0;
    text-align: center;
    width: 35px;
    height: 35px;
    position: relative;
    input {
      width: 30px;
      text-align: center;
      padding: 0;
    }
  }

  .crossword .no-border {
    border: none;
  }

  .correct {
    border: 2px solid green;
  }

  .cell_index {
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    left: 5px;
    top: 3px;
    color: darkgreen;
  }
}