<div>
    <div class="account-progress">
        <div class="progress-title">Мой прогресс по разделам(units) <span ng-bind="$ctrl.activeCourse.dashboard.completedPercent"></span>%</div>
        <uib-progressbar max="$ctrl.activeCourse.dashboard.total" value="$ctrl.activeCourse.dashboard.completed"></uib-progressbar>
    </div>
    <div class="account-table">
        <table>
            <tr>
                <th>Unit</th>
                <th>Lesson</th>
                <th>Процент готовности</th>
                <th>Осталось выполнить</th>
                <th></th>
            </tr>
            <tr ng-repeat="progress in $ctrl.progressItems">
                <td>Unit <span ng-bind="progress.unit_number"></span></td>
                <td>
                    <div ng-if="progress.isHomework">
                        Lesson <span ng-bind="progress.lesson_number"></span> HomeWork
                    </div>

                    <div ng-if="!progress.isHomework">
                        Lesson <span ng-bind="progress.lesson_number"></span> - <span ng-bind="progress.lesson_part_number"></span>
                    </div>
                </td>
                <td><span ng-bind="progress.lesson_part_stat.completedPercent"></span>%</td>
                <td><span ng-bind="progress.lesson_part_stat.remainingExercises"></span> упражнений</td>
                <td class="action-block">
                    <div ng-if="!progress.isHomework && !progress.isDone">
                        <a ui-sref="exercise({lessonPartId: progress.lesson_part.id, exerciseType: progress.exercise_type})">Выполнить</a>
                    </div>

                    <div ng-if="progress.isHomework && !progress.isDone">
                        <a ui-sref="exercise({lessonId: progress.lesson.id, exerciseType: progress.exercise_type})">Выполнить</a>
                    </div>
                </td>
            </tr>
        </table>
        <div class="pagination">
            <ul uib-pagination ng-if="$ctrl.totalCount > $ctrl.countPerPage"
                total-items="$ctrl.totalCount"
                ng-model="$ctrl.currentPage"
                items-per-page="$ctrl.countPerPage"
                max-size="7"
                ng-change="$ctrl.reloadProgressItems()"
                class="">
            </ul>
        </div>
    </div>
</div>