<div class="content-block bordered">
    <div class="block-title">3. Карточка задания</div>
    <div class="block-content round-block">
        <div class="round-block" ng-repeat="param in $ctrl.exercise.params track by $index">
            <div class="block-line">
                <div class="field-block">
                    <label>Введите слово</label>
                    <div class="input-wrap">
                        <input ng-model="param.answer"
                           type="text"/>
                    </div>
                </div>

            </div>
            <div class="block-line fields">
                <div class="field-block">
                    <load-file label="Загрузить аудио ответа"
                               url="audio/upload"
                               callback="$ctrl.exercise.onAudioParamLoaded(param, 'audio_answer', response)" file="param.audio_answer">
                    </load-file>
                </div>
                <div class="field-block">
                    <div class="input-wrap">
                        <load-file label="Загрузить изображение"
                                   url="image/upload"
                                   callback="$ctrl.exercise.onImageParamLoaded(param, 'image', response)" file="param.image">
                        </load-file>
                    </div>
                </div>
            </div>
            <div class="block-line">
                <div class="field-block">
                    <label>Введите знаки транскрипций</label>
                    <div class="input-wrap">
                        <tags-input ng-model="param.transcription"
                                    min-length="1"
                                    placeholder="Введите и нажмите Enter"
                                    replace-spaces-with-dashes="false">
                        </tags-input>
                    </div>
                </div>
            </div>
            <div class="block-line">
                <div class="field-block">
                    <label>Подсказка</label>
                    <div class="input-wrap">
                        <text-angular ng-model="param.hint"></text-angular>
                    </div>
                </div>
            </div>
            <div class="block-line">
                <div class="field-block">
                    <load-file label="Загрузить аудио подсказку"
                               url="audio/upload"
                               callback="$ctrl.exercise.onAudioParamLoaded(param, 'audio_hint', response)" file="param.audio_hint">
                    </load-file>
                </div>
            </div>
            <div class="remove-round">
                <a ng-click="$ctrl.exercise.deleteParam(param)" ng-if="!$first" confirm><span class="icon icon-trash"></span></a>
            </div>
        </div>
        <div class="add-round">
            <button type="button" class="btn btn-pr" ng-click="$ctrl.exercise.addParam()">Добавить новый раунд</button>
        </div>
    </div>
</div>