<div class="list tree-list editor">
    <div class="content-tabs">
        <ul>
            <li><a ui-sref="base.grammarEditor({id: 'create'})">Добавить тему</a></li>
            <li><a ui-sref="base.grammars">Все темы</a></li>
        </ul>
    </div>

    <grammar-section-editor class="item"></grammar-section-editor>
</div>