<div class="item-inner">
    <div class="tabled">
        <div class="search">
            <input type="search"
                   ng-model="query"
                   ng-change="$ctrl.search(query)"
                   ng-model-options="{debounce: 300}"
                   placeholder="Введите поисковую фразу"/>
        </div>
        <div class="line" ng-repeat="item in $ctrl.items" ng-if="!item.isDeleted" ng-init="edit = false; itemNameCopy = item.name;">
            <div class="title">
                <span class="line-index" ng-bind="($ctrl.currentPage-1)*$ctrl.countPerPage + $index+1"></span>
                <input class="title" ng-disabled="item.id && !edit" ng-model="item.name"/>
            </div>
            <div>
                <a ng-show="item.id && !edit" ng-click="edit = true; itemNameCopy = item.name;">
                    Редактировать
                </a>
                <a ng-show="!item.id || edit" ng-click="$ctrl.save(item, this);">
                    Сохранить
                </a>
            </div>
            <div>
                <a ng-show="item.id && edit" ng-click="item.name = itemNameCopy; edit = false;" class="btn-remove">Отменить</a>
                <a ng-show="item.id && !edit" ng-click="$ctrl.remove(item)" class="btn-remove" confirm>Удалить</a>
                <a ng-show="!item.id" ng-click="item.isDeleted = true" class="btn-remove">Отменить</a>
            </div>
            <div class="line-inner collapse"
                 uib-collapse="!edit"
                 ng-if="edit"
                 ng-init="$ctrl.loadChild(item.id); addChild = false;">
                <div class="tabled" ng-if="$ctrl.parent">
                    <tags-input placeholder="Выберите родительский элемент"
                                ng-model="item.parents"
                                display-property="name"
                                key-property="id"
                                on-tag-removing="$ctrl.removeParent($tag, item.id)"
                                on-tag-adding="$ctrl.addParent($tag, item)">
                        <auto-complete source="$ctrl.searchParentsToAdd($query)" display-property="name"></auto-complete>
                    </tags-input>
                </div>
                <div class="tabled" ui-sortable="$ctrl.sortableOptions" ng-model="$ctrl.childs[item.id]">
                    <div class="line"
                         ng-if="!itemChild.isDeleted"
                         data-parent-id="{{item.id}}"
                         data-id="{{itemChild.id}}"
                         data-index="{{$index}}"
                         ng-repeat="itemChild in $ctrl.childs[item.id]">
                        <div class="title">
                            <span class="line-index" ng-bind="$index+1"></span>
                            {{itemChild.name}}
                        </div>
                        <div><a ng-click="$ctrl.removeChild(itemChild, item.id)" class="btn-remove" confirm>Удалить</a></div>
                    </div>
                    <div ng-if="addChild">
                        <div class="line">
                            <div class="title">
                                <ui-select ng-model="$ctrl.selected[$index]" theme="selectize">
                                    <ui-select-match placeholder="Начните вводить название">
                                        {{$select.selected.name}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="child in $ctrl.childsToAdd"
                                                       refresh="$ctrl.searchChildsToAdd($select.search)"
                                                       refresh-delay="300">
                                        <span>{{child.name}}</span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div><a ng-click="$ctrl.addChild($ctrl.selected[$index], item.id); $ctrl.selected[$index] = null;">Сохранить</a>
                            </div>
                            <div><a class="btn-remove" ng-click="$parent.addChild = false;">Отменить</a></div>
                        </div>
                    </div>
                </div>
                <div class="inner-action">
                    <a ng-click="addChild = true;" class="btn btn-pr">Добавить дочерний элемент</a>
                </div>
            </div>
        </div>
        <ul uib-pagination ng-if="$ctrl.totalCount > $ctrl.countPerPage"
                        total-items="$ctrl.totalCount"
                        ng-model="$ctrl.currentPage"
                        items-per-page="$ctrl.countPerPage"
                        max-size="7"
                        ng-change="$ctrl.goToPage($ctrl.currentPage)"
                        class="">
        </ul>
        <div><a ng-click="$ctrl.items.push({})" class="btn">Добавить</a></div>
    </div>
</div>