<div class="audio-player" ng-if="$ctrl.src && $ctrl.changed">
    <videogular class="videogular-container audio">
        <vg-media vg-src="$ctrl.src" vg-type="audio"></vg-media>
        <vg-controls>
            <vg-play-pause-button></vg-play-pause-button>
            <vg-scrub-bar>
                <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
            </vg-scrub-bar>
            <vg-time-display>{{ timeLeft | date:'mm:ss':'+0000' }}</vg-time-display>
            <vg-volume>
                <vg-mute-button></vg-mute-button>
            </vg-volume>
        </vg-controls>
    </videogular>
</div>