// audio player
.videogular-container {
  width: 100%;
  .controls-container {
    @extend .flex-grid;
    @extend .flex-grid.vcenter;
    vg-scrub-bar {
      margin: 0 15px;
      flex: 1;
      border-radius: 5px;
      height: 11px;
      overflow: hidden;
      background-color: #d9ddde;
      .container {
        width: auto;
        margin: 0;
        padding: 0;
      }
      vg-scrub-bar-current-time {
        display: block;
        height: 11px;
        background-color: $pr-color;
        border-radius: 5px;
      }
    }
    vg-play-pause-button {
      .iconButton {
        width: 42px;
        height: 42px;
        background: transparent;
        border: 0;
        border-radius: 50%;
        &.play {
          @extend .icon;
          @extend .icon.icon-play;
        }
        &.pause {
          @extend .icon;
          @extend .icon.icon-pause;
        }
      }
    }
    vg-time-display {
      color: $color;
      font-size: 14px;
      font-weight: 500;
      line-height: 1em;
    }
    vg-volume {
      margin-left: 15px;
      .iconButton {
        background: transparent;
        border: 0;
        width: 20px;
        height: 20px;
        position: relative;
        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 20px;
          height: 20px;
          @extend .icon;
          @extend .icon.icon-volume;
        }
        &.mute {
          &:after {
            @extend .icon;
            @extend .icon.icon-mute;
          }
        }
      }
    }
  }
}