<div class="audio-player audio-player-min" ng-if="$ctrl.src && $ctrl.changed">
    <videogular class="videogular-container audio">
        <vg-media vg-src="$ctrl.src" vg-type="audio"></vg-media>
        <vg-controls>
            <vg-play-pause-button></vg-play-pause-button>
        </vg-controls>
    </videogular>
</div>