<div class="content-block bordered">
    <div class="block-title">3. Карточка задания</div>
    <div class="block-content round-block" ng-repeat="param in $ctrl.exercise.params track by $index">
        <div class="block-content round-block" ng-repeat="question in param.questions">
            <div class="block-line fields">
                <div class="field-block">
                    <load-file label="Загрузить аудио-вопрос"
                               url="audio/upload"
                               file="question.audio">
                    </load-file>
                </div>
            </div>
            <div class="block-line">
                <div class="field-block">
                    <label>Введите варианты ответов и выделите правильный</label>
                    <div class="input-wrap">
                        <tags-input ng-model="question.possible_answers"
                                    min-length="1"
                                    placeholder="Введите и нажмите Enter"
                                    track-by-expr="$index"
                                    tag-class="{'skip': $tag.skip}"
                                    on-tag-clicked="$tag.skip = !$tag.skip;"
                                    replace-spaces-with-dashes="false">
                        </tags-input>
                    </div>
                </div>
            </div>
            <div class="block-line">
                <div class="field-block">
                    <label>Подсказка</label>
                    <div class="input-wrap">
                        <text-angular ng-model="question.hint"></text-angular>
                    </div>
                </div>
            </div>
            <div class="remove-round">
                <a ng-click="param.deleteQuestion(question)" ng-if="!$first" confirm>
                    <span class="icon icon-trash"></span>
                </a>
            </div>
        </div>
        <div class="add-round">
            <button type="button" class="btn btn-pr" ng-click="param.addQuestion()">
                Добавить вопрос
            </button>
        </div>
        <div class="remove-round">
            <a ng-click="$ctrl.exercise.deleteParam(param)" ng-if="!$first" confirm>
                <span class="icon icon-trash"></span>
            </a>
        </div>
    </div>
</div>
<div class="add-round">
    <button type="button" class="btn btn-pr" ng-click="$ctrl.exercise.addParam()">Добавить новый раунд</button>
</div>