<div class="dash-cards">
    <div class="card-item item-half">
        <div class="card-item-inner">
            <div class="card-img"><img src="/assets/images/dash-exers-bg_1.jpg" alt=""></div>
            <div class="card-header" ng-class="{'fadeInLeft animated': $ctrl.animate}">
                <div class="hw-title">Lesson <span ng-bind="$ctrl.lessonIndex + 1"></span> Home Work</div>
                <!--<div>Part 1</div>-->
            </div>

            <div class="card-title" ng-class="{'fadeInLeft animated': $ctrl.animate}">
                <span>Exercises</span>
            </div>
            <div class="card-progress lg" ng-class="{'fadeInLeft animated': $ctrl.animate}">
                <round-progress
                        max="$ctrl.combinedPart.totalExercises"
                        current="$ctrl.combinedPart.completedExercises"
                        color="{{$ctrl.combinedPart.isDone ? '#618811' : '#e8a72d'}}"
                        bgcolor="#fff"
                        radius="25"
                        stroke="3"
                        semi="false"
                        rounded="false"
                        clockwise="true"
                        responsive="true"
                        duration="800"
                        animation="easeInOutQuart"
                        animation-delay="0"></round-progress>
                <span class="progress-text" ng-bind="$ctrl.combinedPart.totalExercises"></span>
            </div>
            <a ng-if="!$ctrl.combinedPart.isDone" ui-sref="exercise({unitId: $ctrl.unit.id, lessonId: $ctrl.lesson.id,
                                    exerciseType: $ctrl.exerciseType, unitIndex: $ctrl.unitIndex,
                                     courseId: $ctrl.courseId, lessonIndex: $ctrl.lessonIndex})" class="btn btn-stroked" ng-class="{'fadeInRight animated': $ctrl.animate}">Start</a>
        </div>
    </div>

    <div class="card-item item-half">
        <div class="card-item-inner">
            <div class="card-img"><img src="/assets/images/dash-learn-bg.jpg" alt=""></div>
            <div class="card-header" ng-class="{'fadeInLeft animated': $ctrl.animate}">
                <div class="hw-title">Lesson <span ng-bind="$ctrl.lessonIndex + 1"></span> Home Work</div>
                <!--<div>Part 2</div>-->
            </div>

            <div class="card-title" ng-class="{'fadeInLeft animated': $ctrl.animate}">
                <span>New words</span>
            </div>
            <div class="card-progress done lg" ng-class="{'fadeInLeft animated': $ctrl.animate}">
                <round-progress
                        max="$ctrl.wordStat.total"
                        current="$ctrl.wordStat.learned"
                        color="{{$ctrl.wordStat.isLearnComplete ? '#618811' : '#e8a72d'}}"
                        bgcolor="#fff"
                        radius="25"
                        stroke="3"
                        semi="false"
                        rounded="false"
                        clockwise="true"
                        responsive="true"
                        duration="800"
                        animation="easeInOutQuart"
                        animation-delay="0"></round-progress>
                <span class="progress-text" ng-bind="$ctrl.wordStat.total"></span>
            </div>
            <a href="#" ng-if="!$ctrl.wordStat.isLearnComplete" ng-click="$ctrl.learnWords()" class="btn btn-stroked" ng-class="{'fadeInRight animated': $ctrl.animate}">Start</a>
        </div>
    </div>
</div>