<div class="content-block bordered">
    <div class="block-title">3. Карточка задания</div>
    <div class="block-content">
        <div class="element round-block" ng-repeat="param in $ctrl.exercise.params track by $index">
            <div class="block-line">
                <div class="field-block">
                    <label>Введите правильный ответ</label>
                    <div class="input-wrap">
                        <input ng-model="param.answer" type="text"/>
                    </div>
                </div>
            </div>
            <div class="block-line">
                <div class="field-block">
                    <label>Введите текстовый вопрос</label>
                    <text-angular ng-model="param.question"></text-angular>
                </div>
            </div>
            <div class="block-line fields">
                <div class="field-block">
                    <div class="input-wrap">
                        <load-file label="Загрузить аудио подсказку"
                                   url="audio/upload"
                                   callback="$ctrl.exercise.onAudioParamLoaded(param, 'audio_hint', response)" file="param.audio_hint">
                        </load-file>
                    </div>
                </div>
                <div class="field-block">
                    <div class="input-wrap">
                        <load-file label="Загрузить изображение"
                                   url="image/upload"
                                   callback="$ctrl.exercise.onImageParamLoaded(param, 'image', response)" file="param.image">
                        </load-file>
                    </div>
                </div>
            </div>
            <div class="remove-round">
                <a ng-click="$ctrl.exercise.deleteParam(param)" ng-if="!$first" confirm><span class="icon icon-trash"></span></a>
            </div>
        </div>
    </div>
</div>
<div class="add-round">
    <button type="button" class="btn btn-pr" ng-click="$ctrl.exercise.addParam()">Добавить новый раунд</button>
</div>
