<header></header>
<div class="site-middle">
    <div class="content-navi">
        <content-navi></content-navi>
    </div>
    <div class="content-container">
        <div class="content-title sided">
            <div class="left-side">Мой прогресс</div>
            <div class="right-side">
                <a ng-click="$ctrl.exportCsv()" class="btn">Выгрузить в EXCEl</a>
                <a href="#" class="btn">Выгрузить в pdf</a>
                <a href="#" class="btn">отправить на e-mail</a>
            </div>
        </div>

        <div class="account-fast">
            <div class="fast-item" ng-class="{'active': $ctrl.activeTab == 'learn'}">
                <a ng-click="$ctrl.activeTab='learn'" href="#" >
                    <span class="icon icon-clock"></span>
                    Отчёт по успеваемости
                </a>
            </div>
            <div class="fast-item" ng-class="{'active': $ctrl.activeTab == 'test'}">
                <a ng-click="$ctrl.activeTab='test'" href="#">
                    <span class="icon icon-student"></span>
                    Отчёт по тестированию
                </a>
            </div>
        </div>

        <div ng-if="$ctrl.activeTab == 'learn'">
            <learn-report active-course="$ctrl.activeCourse"></learn-report>
        </div>

        <div ng-if="$ctrl.activeTab == 'test'">
            <test-report></test-report>
        </div>

        </div>
    </div>
</div>
<footer></footer>