<div class="content-block bordered">
    <div class="block-title">3. Карточка задания</div>
    <div class="block-content round-block" ng-repeat="param in $ctrl.exercise.params track by $index">
        <div class="field-block">
            <label>Введите текст вопроса</label>
            <div class="input-wrap">
                <text-angular ng-model="param.question"></text-angular>
            </div>
        </div>

        <div class="block-line">
            <div class="field-block">
                <label>Введите правильный ответ</label>
                <div class="input-wrap">
                    <input ng-model="param.answer" type="text"/>
                </div>
            </div>
        </div>

        <div class="block-line fields">
            <div class="field-block">
                <load-file label="загрузить аудио задание"
                           url="audio/upload"
                           callback="$ctrl.exercise.onAudioParamLoaded(param, 'audio', response)" file="param.audio">
                </load-file>
            </div>

            <div class="field-block">
                <div class="input-wrap">
                    <load-file label="Загрузить изображение"
                               url="image/upload"
                               callback="$ctrl.exercise.onImageParamLoaded(param, 'image', response)" file="param.image">
                    </load-file>
                </div>
            </div>
        </div>
        <div class="remove-round">
            <a ng-click="$ctrl.exercise.deleteParam(param)" ng-if="!$first" confirm><span class="icon icon-trash"></span></a>
        </div>
    </div>
</div>
<div class="add-round">
    <button type="button" class="btn btn-pr" ng-click="$ctrl.exercise.addParam()" >Добавить новый раунд</button>
</div>