vocabulary-categories {
  .content-title {
    font-size: 30px;
    font-weight: 500;
    color: $pr-color;
    margin-bottom: 30px;
  }
  .categories-list {
    .categories-list-header {
      font-size: 18px;
      margin-bottom: 20px;
      text-transform: uppercase;
      line-height: 1em;
      font-weight: 500;
    }
    .categories-list-wrap {
      display: flex;
      flex-wrap: wrap;
      margin: -7px;
      .category-item {
        padding: 7px;
        flex: 0 0 25%;
        &:nth-child(6n+3) {
          flex: 0 0 50%;
        }
        &:nth-child(6n+4) {
          flex: 0 0 50%;
        }
        .item-inner {
          height: 235px;
          position: relative;
          border-radius: 2px;
          overflow: hidden;
          background-color: $btn-color;
          color: #fff;
          font-weight: 500;
          .item-img {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            overflow: hidden;
            border-radius: 2px;
            &:after {
              content: '';
              position: absolute;
              height: 70%;
              left: 0;
              right: 0;
              bottom: 0;
              background-image: linear-gradient(to bottom, transparent 0%, #000 100%);
              opacity: .7;
            }
            img {
              display: block;
            }
          }
          .item-title, .item-count {
            position: absolute;
            left: 15px;
            right: 15px;
          }
          .item-title {
            bottom: 40px;
            font-size: 22px;
          }
          .item-count {
            font-size: 13px;
            bottom: 20px;
          }
          a {
            display: block;
            height: 100%;
            position: relative;
            z-index: 1;
          }
        }
      }
    }
  }
}

vocabulary-groups, vocabulary-repetition-groups {
  .content-title {
    font-size: 30px;
    font-weight: 500;
    color: $pr-color;
    margin-bottom: 30px;
  }
  .group-header {
    height: 300px;
    background-color: #575759;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: flex-end;
    margin-bottom: 30px;
    .img-wrap {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      img {
        opacity: .8;
      }
    }
    .group-title {
      position: relative;
      z-index: 1;
      color: #fff;
      font-size: 36px;
      line-height: 1em;
      font-weight: 500;
      padding: 0 40px 40px 40px;
    }
  }
  .groups-list {
    .groups-list-header {
      font-size: 18px;
      text-transform: uppercase;
      margin-bottom: 50px;
      font-weight: 500;
    }
    ul {
      @extend .panel-list;
      display: flex;
      flex-wrap: wrap;
      li {
        flex: 0 0 33.333%;
        margin-bottom: 65px;
        cursor: pointer;
        &.done {
          color: $pr-color;
          .item-progress {
            &:after {
              content: '';
              @extend .icon;
              @extend .icon.icon-check_g;
              position: absolute;
              top: 18px;
              left: 17px;
            }
            .progress-text {
              display: none;
            }
          }
        }
        &.fail {
          color: $dang-color;
        }
        &.learn-not-started {
          color: $info-color;
        }
        &.learn-in-progress {
          color: $btn-color;
        }
        &.repeat-in-progress {
          color: $crimson-color;
        }
        &.repeat-overdue {
          color: $dang-color;
        }
      }
      .group-item {
        display: flex;
        align-items: center;
        .item-progress {
          flex: 0 0 50px;
          height: 50px;
          position: relative;
          .progress-text {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            font-weight: 500;
          }
        }
        .item-info {
          padding: 0 0 0 20px;
          .item-title {
            text-transform: uppercase;
            font-size: 16px;
            color: #323232;
            margin-bottom: 5px;
            font-weight: 700;
          }
          .item-descr {
            color: #545455;
            font-size: 15px;
          }
        }
      }
    }
  }
}

vocabulary-learn, vocabulary-review {
  .message-block {
    font-size: 20px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: 500;
  }
  .content-title {
    font-size: 30px;
    line-height: 1em;
    font-weight: 500;
    color: $pr-color;
    &.sided {
      border-bottom: 0;
    }
    .icon-trash {
      width: 23px;
      height: 25px;
    }
  }
  .learn-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 780px;
    margin: 0 auto;
    .help-line {
      color: #6a6a6a;
      font-size: 14px;
      font-weight: 500;
    }
    .block-img {
      margin-top: 20px;
      border-radius: 2px;
      height: 320px;
      width: 100%;
      @extend .full-img;
    }
  }
  .block-word {
    color: #353535;
    font-size: 28px;
    line-height: 1em;
    margin: 40px 30px;
    font-weight: 700;
    //text-transform: uppercase;
  }
  .block-transcription {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    .word-transcription {
      font-size: 28px;
      margin-right: 20px;
    }
  }
  .word-example {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    .help-line {
      margin-right: 20px;
      font-size: 18px;
    }
  }
  .block-translate {
    text-align: center;
    a {
      color: #909090;
      text-transform: uppercase;
      font-size: 14px;
      text-decoration: none;
      display: inline-block;
      .icon {
        display: block;
        margin: 0 auto 5px;
      }
    }
    .word-translation {
      margin-bottom: 30px;
      text-align: center;
      font-size: 18px;
      font-weight: 500;
    }
  }
  .block-actions {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    a {
      font-size: 14px;
      font-weight: 500;
      padding-left: 60px;
      padding-right: 60px;
      + a {
        margin-left: 10px;
      }
    }
  }
  .done {
    color: $pr-color;
  }
}