<header></header>
<div class="site-middle">
    <div class="content-navi">
        <content-navi></content-navi>
    </div>
    <div class="content-container">
        <div class="content-title">
            Grammar
        </div>
        <div class="grammar-filter">
            <div class="field-block field-md">
                <label>Unit</label>
                <div class="input-wrap">
                    <ui-select ng-model="$ctrl.section" theme="selectize">
                        <ui-select-match placeholder="Начните вводить название">
                            {{$select.selected.name}}
                        </ui-select-match>
                        <ui-select-choices repeat="section in $ctrl.filterSections"
                                           refresh="$ctrl.refreshFilterSections($select.search)"
                                           refresh-delay="300">
                            <span>{{section.name}}</span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="field-block field-md">
                <label>Category</label>
                <div class="input-wrap">
                    <ui-select ng-model="$ctrl.theme" theme="selectize">
                        <ui-select-match placeholder="Начните вводить название">
                            {{$select.selected.name}}
                        </ui-select-match>
                        <ui-select-choices repeat="theme in $ctrl.filterThemes"
                                           refresh="$ctrl.refreshFilterThemes($select.search)"
                                           refresh-delay="300">
                            <span>{{theme.name}}</span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="field-block field-md">
                <label>Topic</label>
                <div class="input-wrap">
                    <ui-select ng-model="$ctrl.grammar" theme="selectize">
                        <ui-select-match placeholder="Начните вводить название">
                            {{$select.selected.name}}
                        </ui-select-match>
                        <ui-select-choices repeat="grammar in $ctrl.filterGrammars"
                                           refresh="$ctrl.refreshFilterGrammars($select.search)"
                                           refresh-delay="300">
                            <span>{{grammar.name}}</span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <!--<div class="field-block search-block">-->
                <!--<div class="input-wrap with-helper search-input">-->
                    <!--<input type="text" placeholder="Text search">-->
                <!--</div>-->
            <!--</div>-->
        </div>

        <div class="grammar-fast">
            <div class="item">
                <div class="item-inner">
                    <div class="item-img"><img src="/assets/images/grammar-board-1.jpg" alt=""></div>
                    <div class="item-title">People and Things</div>
                    <div class="item-count">32 themes</div>
                    <a href="#"></a>
                </div>
            </div>
            <div class="item">
                <div class="item-inner">
                    <div class="item-img"><img src="/assets/images/grammar-board-2.jpg" alt=""></div>
                    <div class="item-title">Travel</div>
                    <div class="item-count">Themes 21</div>
                    <a href="#"></a>
                </div>
            </div>
            <div class="item item-lg">
                <div class="item-inner">
                    <div class="item-img"><img src="/assets/images/grammar-board-3.jpg" alt=""></div>
                    <div class="item-title">Fashion and Style</div>
                    <div class="item-count">109 themes</div>
                    <a href="#"></a>
                </div>
            </div>
        </div>

        <div class="grammar-list">
            <div class="item" ng-repeat="section in $ctrl.sections" ng-if="$ctrl.compareItems(section, $ctrl.section)" ng-class="{'hasChild': $ctrl.sections.length > 0}">
                <a ng-click="$ctrl.loadSectionThemes(section)">
                    <span ng-bind-html="section.name"></span>
                </a>

                <div class="item-inner"
                     ng-if="section.showThemes && $ctrl.compareItems(theme, $ctrl.theme)"
                     ng-class="{'hasChild': $ctrl.sections.length > 0}"
                     ng-repeat="theme in section.themes">
                    <a ng-click="$ctrl.loadThemeGrammars(theme)">
                        <span ng-bind-html="theme.name"></span>
                    </a>
                    <div class="item-inner"
                         ng-if="theme.showGrammars && $ctrl.compareItems(grammar, $ctrl.grammar)"
                         ng-repeat="grammar in theme.grammars">
                        <a ng-click="$ctrl.showGrammar(grammar)">
                            <span ng-bind-html="grammar.name"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer></footer>