<div class="grammar-dialog">
    <div class="bread-crumbs">
        <span ng-bind-html="$ctrl.grammar.theme.section.name"></span>
        -
        <span ng-bind-html="$ctrl.grammar.theme.name"></span>
        -
        <span ng-bind-html="$ctrl.grammar.name"></span>
    </div>

    <div class="modal-title">
        <span ng-bind-html="$ctrl.grammar.name"></span>
    </div>

    <div class="modal-grammar-video-block" ng-if="$ctrl.grammar.video.full_path">
        <videogular>
            <vg-media vg-src="$ctrl.grammar.video.full_path" vg-native-controls="true">
            </vg-media>
        </videogular>
    </div>

    <div class="modal-grammar-info-block">
        <span ng-bind-html="$ctrl.grammar.content | unsafe"></span>
    </div>


    <div class="modal-action">
        <a ng-click="$ctrl.cancel()" class="btn btn-pr">Закрыть</a>
    </div>
</div>