<!-- <input type="text" ng-model="$ctrl.lesson.name">                      -->
<form class="content-form" ng-submit="$ctrl.save();">
    <div class="form-inner">
        <div class="content-tabs">
            <ul>
                <li>
                    <a ui-sref="base.lessons">Редактировать</a>
                </li>
                <li class="active">
                    <a ui-sref="base.lessonEditor({id: 'create'})">Добавить</a>
                </li>
            </ul>
        </div>
        <div class="content-block">
            <div class="block-title">1. Выбор программы обучения</div>
            <div class="block-content">
                <div class="block-line fields">
                    <div class="field-block">
                        <label>Программа обучения</label>
                        <div class="input-wrap">
                            <ui-select ng-model="$ctrl.country.selected" theme="selectize" title="Choose a country">
                                <ui-select-match placeholder="Select or search a country in the list...">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="country in $ctrl.countries | filter: $select.search">
                                    <span ng-bind-html="country.name | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="field-block">
                        <label>UNIT</label>
                        <div class="input-wrap">
                            <ui-select ng-model="$ctrl.country.selected" theme="selectize" title="Choose a country">
                                <ui-select-match placeholder="Select or search a country in the list...">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="country in $ctrl.countries | filter: $select.search">
                                    <span ng-bind-html="country.name | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="field-block">
                        <label>Урок</label>
                        <div class="input-wrap">
                            <ui-select ng-model="$ctrl.country.selected" theme="selectize" title="Choose a country">
                                <ui-select-match placeholder="Select or search a country in the list...">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="country in $ctrl.countries | filter: $select.search">
                                    <span ng-bind-html="country.name | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="field-block">
                        <label>Раздел</label>
                        <div class="input-wrap">
                            <ui-select ng-model="$ctrl.country.selected" theme="selectize" title="Choose a country">
                                <ui-select-match placeholder="Select or search a country in the list...">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="country in $ctrl.countries | filter: $select.search">
                                    <span ng-bind-html="country.name | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="field-block">
                        <label>Задание</label>
                        <div class="input-wrap">
                            <ui-select ng-model="$ctrl.country.selected" theme="selectize" title="Choose a country">
                                <ui-select-match placeholder="Select or search a country in the list...">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="country in $ctrl.countries | filter: $select.search">
                                    <span ng-bind-html="country.name | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="field-block">
                        <label>Упражнение</label>
                        <div class="input-wrap">
                            <ui-select ng-model="$ctrl.country.selected" theme="selectize" title="Choose a country">
                                <ui-select-match placeholder="Select or search a country in the list...">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="country in $ctrl.countries | filter: $select.search">
                                    <span ng-bind-html="country.name | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="editor"> <!-- TODO fix it -->
            <div class="raw" ng-if="!$ctrl.savedResult">
            </div>
            <div class="saved-result" ng-if="$ctrl.savedResult == 'SUCCESS'">
                <p class="success"><strong>Сохранено успешно</strong></p>
                <a href="" ng-click="$ctrl.reload();">Назад</a>
            </div>
            <div class="saved-result" ng-if="$ctrl.savedResult == 'FAIL'">
                <p class="fail"><strong>При сохранении произошла ошибка</strong></p>
                <a href="" ng-click="$ctrl.reload();">Повторить</a>
            </div>
        </div>
    </div>
    <div class="form-submit">
        <input type="submit" class="btn btn-pr" value="Сохранить">
    </div>    
</form>