<div class="item-inner">
    <div class="tabled">
        <div class="search">
            <input type="search"
                   ng-model="query"
                   ng-change="$ctrl.searchLessons(query)"
                   ng-model-options="{debounce: 300}"
                   placeholder="Введите название урока"/>
        </div>
        <div class="line" ng-repeat="item in $ctrl.lessons"
             ng-if="!item.isDeleted"
             ng-init="edit = false; itemNameCopy = item.name; lessonIndex = $index;">
            <div class="title">
                <span class="line-index" ng-bind="($ctrl.currentPage-1)*$ctrl.countPerPage + $index+1"></span>
                <input class="title" ng-disabled="item.id && !edit" ng-model="item.name"/>
            </div>
            <div>
                <a ng-show="item.id && !edit" ng-click="edit = true; itemNameCopy = item.name;">
                    Редактировать
                </a>
                <a ng-show="!item.id || edit" ng-click="$ctrl.saveLesson(item, this);">
                    Сохранить
                </a>
            </div>
            <div>
                <a ng-show="item.id && edit" ng-click="item.name = itemNameCopy; edit = false;" class="btn-remove">Отменить</a>
                <a ng-show="item.id  && !edit" ng-click="$ctrl.removeLesson(item)" class="btn-remove" confirm>Удалить</a>
                <a ng-show="!item.id" ng-click="item.isDeleted = true" class="btn-remove">Отменить</a>
            </div>
            <div class="line-inner collapse"
                 uib-collapse="!edit"
                 ng-if="edit"
                 ng-init="$ctrl.loadLessonParts(item.id); edit_lesson_part = false;">
                <div class="tabled">
                    <tags-input placeholder="Выберите родительский элемент"
                                ng-model="item.parents"
                                display-property="name"
                                key-property="id"
                                on-tag-removing="$ctrl.removeUnit($tag, item.id)"
                                on-tag-adding="$ctrl.addUnit($tag, item)">
                        <auto-complete source="$ctrl.searchUnitsToAdd($query)" display-property="name"></auto-complete>
                    </tags-input>
                </div>
                <div class="tabled"
                     ng-repeat="lesson_part in $ctrl.lesson_parts[item.id]"
                     ng-if="!lesson_part.isDeleted"
                     ng-init="addChild = false;">
                    <div class="line">
                        <div class="title">
                            <div class="line">
                                <div class="title">
                                    <input ng-disabled="lesson_part.id && !edit_lesson_part"
                                           ng-model="lesson_part.name"/>
                                </div>
                                <div class="full-line">
                                    <ui-select ng-model="lesson_part.type" theme="selectize"
                                               ng-disabled="lesson_part.id && !edit_lesson_part">
                                        <ui-select-match>{{$select.selected}}</ui-select-match>
                                        <ui-select-choices
                                                repeat="lesson_part in $ctrl.lesson_part_types| filter: $select.search">
                                            <span ng-bind-html="lesson_part | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div>
                            <a ng-show="lesson_part.id && !edit_lesson_part" ng-click="edit_lesson_part = true;">
                                Редактировать
                            </a>
                            <a ng-show="!lesson_part.id || edit_lesson_part"
                               ng-click="$ctrl.saveLessonPart(item.id, lesson_part, this);">
                                Сохранить
                            </a>
                        </div>
                        <div>
                            <a ng-if="lesson_part.id" ng-click="$ctrl.removeLessonPart(lesson_part)" class="btn-remove" confirm>Удалить</a>
                            <a ng-if="!lesson_part.id" ng-click="lesson_part.isDeleted = true" class="btn-remove">Отменить</a>
                        </div>
                    </div>
                    <div class="tabled" ui-sortable="$ctrl.sortableOptions" ng-model="lesson_part.exercises">
                        <div class="line"
                             ng-if="!exercise.is_deleted"
                             data-type="unit"
                             data-parent-id="{{item.id}}"
                             data-id="{{exercise.id}}"
                             data-index="{{$index}}"
                             ng-repeat="exercise in lesson_part.exercises">
                            <div class="title">
                                <span class="line-index" ng-bind="$index+1"></span>
                                {{exercise.name}}
                            </div>
                            <div><a ng-click="$ctrl.removeExerciseRelation(exercise, lesson_part)" class="btn-remove" confirm>Удалить</a></div>
                        </div>
                        <div ng-if="addChild">
                            <div class="line">
                                <div class="title">
                                    <ui-select ng-model="$ctrl.selected[lessonIndex][$index]" theme="selectize">
                                        <ui-select-match placeholder="Начните вводить название">
                                            {{$select.selected.name || $select.selected}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="child in $ctrl.exercises_to_add"
                                                           refresh="$ctrl.searchExerciseToAdd($select.search)"
                                                           refresh-delay="300">
                                            <span>{{child.name}}</span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div>
                                    <a ng-click="$ctrl.addExerciseRelation($ctrl.selected[lessonIndex][$index], item, lesson_part); $ctrl.selected[lessonIndex][$index] = null;">
                                        Сохранить
                                    </a>
                                </div>
                                <div><a class="btn-remove" ng-click="$parent.addChild = false;">Отменить</a></div>
                            </div>
                        </div>
                        <div class="text-left">
                            <a ng-click="addChild = true;" class="btn btn-primary">Добавить упражнение</a>
                        </div>
                    </div>
                </div>
                <div class="inner-action">
                    <a ng-click="$ctrl.lesson_parts[item.id].push({})" class="btn btn-pr">Добавить часть урока</a>
                </div>
            </div>
        </div>
        <ul uib-pagination ng-if="$ctrl.totalCount > $ctrl.countPerPage"
                        total-items="$ctrl.totalCount"
                        ng-model="$ctrl.currentPage"
                        items-per-page="$ctrl.countPerPage"
                        max-size="7"
                        ng-change="$ctrl.goToPage($ctrl.currentPage)"
                        class="">
        </ul>
        <div><a ng-click="$ctrl.lessons.push({})" class="btn">Добавить</a></div>
    </div>
</div>