<header></header>
<div class="site-middle">
    <div class="content-navi">
        <content-navi></content-navi>
    </div>
    <div class="content-container">
        <div class="content-title sided">
            <div class="left-side">
                Studying new words
            </div>
            <div class="right-side" ng-if="$ctrl.activeCard">
                <a href="#" ng-click="$ctrl.disable()"><span class="icon icon-trash"></span></a>
            </div>
        </div>
        <div class="message-block" ng-if="$ctrl.activeCard">
            <span ng-bind="$ctrl.activeCard.idx + 1"></span> out of <span ng-bind="$ctrl.totalCount"></span>
        </div>
        <div class="learn-block" ng-if="$ctrl.activeCard">
            <div class="help-line">Если вы запомнили слово, нажмите "I know it", иначе нажмите "Repeat again" и оно встретиться вам ещё раз.</div>
            <div class="block-img" ng-if="$ctrl.activeCard.image.full_path">
                <img ng-src="{{$ctrl.activeCard.image.full_path}}" alt="{{$ctrl.activeCard.word.word}}">
            </div>
            <div class="block-word">
                <span ng-bind-html="$ctrl.activeCard.word.word"></span>
            </div>
            <div class="block-transcription">
                <div class="word-transcription">
                    <span ng-bind-html="$ctrl.activeCard.transcription"></span>
                </div>
                <div ng-if="$ctrl.activeCard.audio.full_path">
                    <audio-player-min src="$ctrl.activeCard.audio.full_path"></audio-player-min>
                </div>
            </div>
            <div class="word-example">
                <div class="help-line">
                    <span ng-bind-html="$ctrl.activeCard.sample"></span>
                </div>
                <div ng-if="$ctrl.activeCard.sample_audio.full_path">
                    <audio-player-min src="$ctrl.activeCard.sample_audio.full_path"></audio-player-min>
                </div>
            </div>
            <div class="block-actions">
                <a href="#" class="btn btn-pr" ng-click="$ctrl.knowIt()">I KNOW IT</a>
                <a href="#" class="btn btn-info" ng-click="$ctrl.repeatAgain()">REPEAT AGAIN</a>
            </div>
            <div class="block-translate">
                <div ng-show="!$ctrl.showTranslate">
                    <a href="#" ng-click="$ctrl.showTranslate=true">
                        <span class="icon icon-translate"></span>
                        translate
                    </a>
                </div>
                <div class="word-translation" ng-show="$ctrl.showTranslate">
                    <span ng-bind-html="$ctrl.activeCard.translation"></span>
                </div>
            </div>
        </div>

        <div class="learn-block" ng-if="$ctrl.loaded && !$ctrl.activeCard">
            <div class="message-block">
                <div>Поздавляем!</div>
                <div>Тема <span class="done" ng-bind-html="$ctrl.group.name"></span> изучена.</div>
                <div>Повторите слова 7 раз, и вы больше никогда их не забудете!</div>
                <div class="block-route">
                    <a ng-if="$ctrl.lessonId" ui-sref="exercise({lessonId: $ctrl.lessonId, exerciseType: $ctrl.exerciseType})">Перейти в домашнее задание</a>
                    <a href="#" ui-sref="vocabulary">Продолжить изучение слов</a>
                </div>

            </div>
        </div>
    </div>
</div>
<footer></footer>