crossword-exercise {
  .cards-block {
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    .card-action {
      margin: 0;
    }
  }
  .game {
    flex: 0 0 80%;
    max-width: 80%;
    border: 2px solid $border-color_new;
    padding: 10px;
    border-radius: 2px;
  }

  .legend {
    flex: 0 0 20%;
    max-width: 20%;
    padding-left: 40px;
    .down {
      margin-top: 50px;
    }
    .cross-direction {
      margin-bottom: 50px;
      font-size: 18px;
      font-weight: 500;
      .title {
        margin-bottom: 10px;
        display: block;
        color: #000;
        font-weight: 700;
      }
      p {
        font-size: 16px;
        margin-bottom: 10px;
      }
      .question {
        +.question {
          margin-top: 10px;
        }
        p {
          display: inline;
        }
        .img-wrap {
          width: 80px;
          height: 80px;
          overflow: hidden;
          border-radius: 50%;
          display: inline-flex;
          vertical-align: middle;
          margin: 0 0 0 10px;
          align-items: center;
          justify-content: center;
        }
        img {
          display: block;
        }
      }
      .index {
        display: inline;
      }
    }
  }
  crossword {
    max-width: 100%;
    .crossword-wrapper {
      .crossword {
        width: auto;
        max-width: 100%;
        td {
          border: 0;
          height: 50px;
          width: 50px;
          padding: 0 1px;
          input {
            width: 50px;
            height: 50px;
            font-size: 24px;
            font-weight: 500;
            color: $sc-color;
            text-transform: uppercase;
            padding: 0;
            text-align: center;
            border-color: $border-color;
            margin: 1px;
            &.correct {
              color: $pr-color;
              border-color: $pr-color;
            }
          }
        }
      }
    }
  }
}