<div class="cards-block">
    <div class="game">
        <crossword items="$ctrl.activeRound.items"
                   crossword-grid="$ctrl.activeRound.grid"
                   is-game="$ctrl.isGame"
                   on-progress="$ctrl.onProgress({correct_answers, percent})"
                   legend="$ctrl.activeRound.legend">
        </crossword>
    </div>
    <div class="legend">
        <div class="across cross-direction">
            <div class="title">Across</div>
            <div class="question"
                 ng-repeat="word in $ctrl.activeRound.legend.across"
                 ng-init="image = $ctrl.getImageByWord(word.word)"
                 ng-bind-html="'<span class=\'index\'>' + word.position + '</span>. ' + (image.full_path ? '<div class=\'img-wrap\'><img src=\''+image.full_path+'\' \\></div>' : word.clue)">
                {{word}} - {{image}}
            </div>
        </div>
        <div class="down cross-direction">
            <div class="title">Down</div>
            <div class="question"
                 ng-repeat="word in $ctrl.activeRound.legend.down"
                 ng-init="image = $ctrl.getImageByWord(word.word)"
                 ng-bind-html="'<span class=\'index\'>' + word.position + '</span>. ' + (image.full_path ? '<div class=\'img-wrap\'><img src=\''+image.full_path+'\' \\></div>' : word.clue)">
            </div>
        </div>
        <check-exercise
                exercise="$ctrl.exercise"
                round="$ctrl.activeRound"
                check-answer="$ctrl.checkAnswer()"
                set-answer-visibility="$ctrl.setAnswerVisibility(isVisible)"
                on-round-complete="$ctrl.onRoundComplete({result, progress})">
        </check-exercise>
    </div>
</div>
